{% extends "search/adminbase.html" %}
{% load static %}

{% block title %} 
    <title>Future Cruise: Kemaskini Rekod {{course.course}}</title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/admin/searchAdmin.css' %}">
{% endblock %}

{% block content %}
<div class="updateRecord-main-container">
    <h1 class="updateRecord-header">Kemaskini Rekod {{course.course}}</h1>
    <div class="container-form-search">
        <form actions="{% url 'search:updateCourseData-admin' user_id course.id %}" method="POST" >
            {% csrf_token %}
            {{courseForm.as_p}}
            <input type="submit" class="btn btn-search" value="Kemaskini">
        </form>
    </div>
</div>
{% endblock %}
