{% if widget.is_initial %}
    Gambar semasa:
    <br>
    <img src="{{ widget.value.url }}" width="50px" height="50px" style="margin: 0.5vw;">
    <br>
    
    {% if widget.name == 'questionImage' %}
        <span style="font-style: italic; font-size: 12px;">{{ widget.value.name|slice:"23:" }}</span>
    {% elif 'hintImage' in widget.name %}
    <span style="font-style: italic; font-size: 12px;">{{ widget.value.name|slice:"19:" }}</span>
    {% endif %}

    {% if not widget.required %}
        <p></p>
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" {% if widget.attrs.disabled %} disabled{% endif %}>
        <label for="{{ widget.checkbox_id }}">Padam gambar</label>
    {% endif %}
    <p></p>
{% endif %}

{% if widget.value %}
    {% if widget.name == 'questionImage' %}
        <input id="id_questionImageName" placeholder="{{ widget.value.name|slice:"23:" }}" disabled="disabled"/>
    {% elif widget.name == 'hint-0-hintImage' %}
        <input id="id_hintImageName0" placeholder="{{ widget.value.name|slice:"19:" }}" disabled="disabled"/>
    {% elif widget.name == 'hint-1-hintImage' %}
        <input id="id_hintImageName1" placeholder="{{ widget.value.name|slice:"19:" }}" disabled="disabled"/>
    {% elif widget.name == 'hint-2-hintImage' %}
        <input id="id_hintImageName2" placeholder="{{ widget.value.name|slice:"19:" }}" disabled="disabled"/>
    {% endif %}
{% else %}
    {% if widget.name == 'questionImage' %}
        <input id="id_questionImageName" placeholder="Tiada gambar dipilih" disabled="disabled"/>
    {% elif widget.name == 'hint-0-hintImage' %}
        <input id="id_hintImageName0" placeholder="Tiada gambar dipilih" disabled="disabled"/>
    {% elif widget.name == 'hint-1-hintImage' %}
        <input id="id_hintImageName1" placeholder="Tiada gambar dipilih" disabled="disabled"/>
    {% elif widget.name == 'hint-2-hintImage' %}
        <input id="id_hintImageName2" placeholder="Tiada gambar dipilih" disabled="disabled"/>
    {% endif %}
{% endif %}
<br>

{% if widget.value %}
    <div class="imageUpload btn2 upload-for-editQuestion">
        <span>Tukar gambar</span>

        {% if widget.name == 'questionImage' %}
            <input name="{{ widget.name }}" id="id_questionImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% elif widget.name == 'hint-0-hintImage' %}
            <input name="hint-0-hintImage" id="id_hint-0-hintImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% elif widget.name == 'hint-1-hintImage' %}
            <input name="hint-1-hintImage" id="id_hint-1-hintImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% elif widget.name == 'hint-2-hintImage' %}
            <input name="hint-2-hintImage" id="id_hint-2-hintImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% endif %}
    </div>
{% else %}
    <div class="imageUpload btn2 upload-for-editQuestion">
        <span>Muat naik gambar</span>

        {% if widget.name == 'questionImage' %}
            <input name="{{ widget.name }}" id="id_questionImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% elif widget.name == 'hint-0-hintImage' %}
            <input name="hint-0-hintImage" id="id_hint-0-hintImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% elif widget.name == 'hint-1-hintImage' %}
            <input name="hint-1-hintImage" id="id_hint-1-hintImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% elif widget.name == 'hint-2-hintImage' %}
            <input name="hint-2-hintImage" id="id_hint-2-hintImage" type="file" accept="image/*" class="{{ widget.attrs.class }}" {% include "django/forms/widgets/attrs.html" %}/>
        {% endif %}
    </div>
{% endif %}

<script type="text/javascript">
    document.getElementById("id_questionImage").onchange = function () {
        document.getElementById("id_questionImageName").value = this.files[0].name;
    };

    document.getElementById("id_hint-0-hintImage").onchange = function () {
        document.getElementById("id_hintImageName0").value = this.files[0].name;
    };

    document.getElementById("id_hint-1-hintImage").onchange = function () {
        document.getElementById("id_hintImageName1").value = this.files[0].name;
    };

    document.getElementById("id_hint-2-hintImage").onchange = function () {
        document.getElementById("id_hintImageName2").value = this.files[0].name;
    };
</script>