/* ul addField tips */
.ul-addField {
    font-family: DM Sans; 
    text-align: left;
    padding: 20px;
    border: 2px solid coral;
    background-color: peachpuff;
    border-radius: 20px;
    list-style-position: inside;
    width: 37%
}

/* button */
.btn {
    border: none;
    background-color: inherit;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 16px;
    font-family: "DM Sans";
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}  
  
/*On mouse-over*/
.btn:hover{
    background: #eee;
    border-radius: 10px;
}

.field-for-addField {color: coral;}
.cancel-for-addField {color: purple;}

/* hyperlink */
.a-cancel-for-addField {
    text-decoration: none;
    color: inherit;
}

/* form fields */
.name {
    font-size: 16px;
    font-family: "DM Sans";
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 3px;
}
  
.image {
    list-style-type: none;
    padding-left: 0vw;
    display:inline;
    font-size: 16px;
    font-family: "DM Sans";
}

/* div icon */
div-icon{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 5px;
}