@viewport {
    width: device-width;
    height: device-height;
    zoom: 1;
    /* iniial-scale: 1.0; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
    /* border: 3px solid orange; */
}
  
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    position: relative;
    margin: 0;
    line-height: 30px;
}
  
h1 {
    font-size: 40px;
    line-height: 1.25em;
}
  
h2 {
  font-size: 30px;
}
  
h3 {
    font-size: 16px;
}

.div-navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 127, 56);
    position: unset;
    top: 0;
    width: 100%;
    height: auto;
    font-family: 'Varela Round', sans-serif;
}
  
.div-navbar.admin{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div-navbar-left{
    max-width: 80%;
    float: left;
}

.div-navbar-right{
    position: absolute;
    max-width: 30%;
    float: right;
    right: 0;
}

.p-navbar{
    float: left;
    margin: 0;
}

.p-a-navbar{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    padding: 1vw 1.25vw;
    text-decoration: none;
}

.p-a-navbar:hover:not(.active) {
    background-color: rgb(250, 151, 37);
    border-radius: 10px;
}

.icon{
    display: none;
}

.active{
    background-color: rgb(250, 188, 54);
    border-radius: 10px;
}

.logout {
    float: right;
    background-color: rgb(207, 61, 61);
}

.div-navbar.admin .logout{
    border-radius: 10px;
}

.username {
    float: right;
    font-style: italic;
}

.logout:hover{
    background-color: rgb(207, 61, 61);
}

p {
    font-size: 16px;
}

@media screen and (max-width: 1010px) {
    .div-navbar-left{
        width: 80%;
    }
    
    .div-navbar-right{
        width: 20%;
    }

    .div-navbar-left.admin-left{
        width: 60%;
        float: left;
    }
    
    .div-navbar-right.admin-right{
        width: 40%;
        float: right;
    }

    .p-a-navbar{
        padding: 5px 10px;
    }

    .no-icon{
        display: none;
    }

    .icon{
        display: flex;
    }
}

@media screen and (max-width: 450px) {
    .div-navbar-left{
        width: 70%;
    }
    
    .div-navbar-right{
        width: 30%;
    }

    .admin-right .username{
        display: none;
    }
}