/* button */
.btn {
    border: none;
    background-color: inherit;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 16px;
    font-family: "DM Sans";
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}  
  
/*On mouse-over*/
.btn:hover{
    background: #eee;
    border-radius: 10px;
}

.icon-for-changeIcon {color: coral;}
.cancel-for-changeIcon {color: purple;}

/* hyperlink - path & button */
.a-cancel-for-changeIcon {
    text-decoration: none;
    color: inherit;
}

.a-main-for-changeIcon, .a-back-for-changeIcon {color: purple;}

/* form field */
.image {
    list-style-type: none;
    padding-left: 0vw;
    display:inline;
    font-size: 16px;
    font-family: "DM Sans";
}

/* div icon */
div-icon{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 5px;
}