/* button */
.btn {
    border: none;
    background-color: rgb(130, 124, 225);
    border-radius: 35px;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: 15vw;
    min-width: 7rem;
    min-height: 2rem;
}  
  
/*On mouse-over*/
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(152, 144, 252);
    transition: transform 150ms;
    transform: scale(1.03);
}

.cancel-for-editAvatar{
    background-color: rgb(52, 202, 152);
}

.cancelSubmit-for-editAvatar{
    width: 10vw;
    font-size: 1.1rem;
    margin-left: 0.5vw;
    background-color: rgb(52, 202, 152);
}

.cancel-for-editAvatar:hover, .cancelSubmit-for-editAvatar:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 255, 171, 0.6);
}

.submit-for-editAvatar{
    width: 10vw;
    font-size: 1.1rem;
    margin-right: 0.5vw;
}

.back-for-editAvatar{
    width: fit-content;
    height: fit-content;
    min-width: 16rem;
    min-height: 3rem;
    font-size: 1.1rem;
}

.music {
    /* font-size: 1.1rem;
    vertical-align: middle;
    width: fit-content;
    min-width: 3rem;
    min-height: 3.25rem; */
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
}

/* hyperlink */
.a-for-editAvatar {
    text-decoration: none;
    color: inherit;
}

/* form fields */
.avatarid, .workplace, .avatargender{
    /* background-color: rgb(255, 227, 255); */
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Poppins';
    border-radius: 25px 10px 10px 25px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    border: 1px solid lightgray;
    padding: 1vw;
    margin-left: 1vw;
    width: 23.8vw;
    min-width: 15rem;
    min-height: 3.7rem;
}

.avatarid:focus, .workplace:focus, .avatargender:focus{
    color: white;
    background-color: rgb(121, 85, 118);
    border: 3px solid rgb(255, 200, 250);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 200, 250);
    /* border: 3px solid rgb(152, 144, 252);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(152, 144, 252); */
}

/* table */
.table-form{
    width: 50vw;
    height: 14vw;
    min-width: 28.6rem;
    min-height: 11.9rem;
    border-collapse: separate;
    border-spacing: 0 0.5vw;
}

th{
    border: solid 1px rgb(245, 118, 59);
    background-color: rgb(245, 118, 59);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-style: italic;
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 0.2vw;
    padding: 0.5vw 1vw;
    width: 26.5vw;
    min-width: 13rem;
    min-height: 2rem;
    max-height: 3.3rem;
}

td{
    width: 25vw;
    min-width: 15rem;
    min-height: 2.1rem;
    max-height: 3.6rem;
}

/* div */
.div-music {
    position: absolute;
    right: 1vw;
    left: auto;
    float: right;
    color: white;
}

.div-outer{
    width: 51vw;
    height: max-content;
    min-width: 30rem;
    min-height: 12.3rem;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    padding: 0.6vw 0.5vw;
    margin: 0 14.5vw;
    position: relative;
    align-items: center;
}

.div-buttons{
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 31vw;
    margin: 2vw 14vw;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
}

.div-bg-modal-1, .div-bg-modal-2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* make it half transparent */
    position: fixed;
    top: 0px;
    z-index: 1;
    display: none;  /* It will remain invisible until you open */
    justify-content: center; /*center horizontally*/ 
    align-items: center; /* center vertically */
}

.div-modal-content-1, .div-modal-content-2{
    width: 30vw;
    height: max-content;
    min-width: 25rem;
    min-height: 9rem;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 0 1vw;
    padding-right: 1.5vw;
    position: relative;
    margin-top: 8vw;
    font-size: 1.1rem;
    font-family: 'Poppins';
    color: black;
}

.div-modal-header{
    position: relative;
    width: max-content;
    height: 2vw;
    min-height: 1.2rem;
    padding: 10px 0;
    margin-bottom: 1vw;
    z-index: 1;
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: bold;
    /* background-color: rgb(121, 85, 118); */
}

.div-submit-button{
    position: relative;
    width: max-content;
    padding: 1vw 0;
    padding-bottom: 1.5vw;
}

.div-close-1, .div-close-2{
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 2rem;
    font-family: 'Poppins';
    color: black;
    transform: rotate(45deg); /* will make it look like x */
    cursor: pointer;
}