/* ul addQuestion tips */
.ul-editQuestion {
    list-style-position: inside;
    /* background-color: darkgoldenrod; */
    padding-left: 0;
    line-height: 25px;
}

.ul-editQuestion-inner {
    padding-left: 2vw;
}

/* button */
.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    background-color: #eee;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.cancel-for-editQuestion{
    background-color: rgb(250, 127, 56);
}

.cancel-for-editQuestion:hover{
    background-color: #eee;
    color: rgb(250, 127, 56);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 127, 56, 0.658);
}

.upload-for-editQuestion {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

/* hyperlink path and button 1 */
.a-nav-editQuestion {color: rgb(250, 127, 56);}

.a-for-editQuestion{
    text-decoration: none;
    color: inherit;
}

/* form fields */
.difficulty, .isCorrect, .value {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    width: fit-content;
    box-sizing: border-box;
}

.questionText, .answerText, .hintText {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.div-img-outer{
    /* background-color: darkkhaki; */
    position: relative;
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    height: fit-content;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    gap: 0;
}

.span-title-img{
    font-size: 16px;
}

.span-name-img{
    font-style: italic;
    font-size: 16px;
}

.div-checkbox {
    /* background-color: lavender; */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    margin: 10px auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.div-checkbox label{
    font-size: 16px;
}

.div-img{
    position: relative;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

.img-current{
    max-width: 60%; 
    max-height: 60%;
    margin: 5px;
    box-sizing: border-box;
}

#id_questionImageName, #id_hintImageName0, #id_hintImageName1, #id_hintImageName2 {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    margin: 0 auto;
    width: fit-content;
    box-sizing: border-box;
    text-align: center;
}

.imageUpload {
    position: relative;
    overflow: hidden;
    /* top | horizontal | bottom */
    margin: 10px auto 0;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

.imageUpload input.questionImage, .imageUpload input.hintImage {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* div */
.div-main-header{
    /* background-color: darksalmon; */
    position: relative;
    margin: 10px auto;
    width: 90%;
    text-align: left;
    box-sizing: border-box;
}

.div-quesTips {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 0 1vw;
    border: 2px solid lightgray;
    background-color: #eee;
    border-radius: 5px;
    width: 90%;
    box-sizing: border-box;
}

.div-form-header {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 90%;
    margin: 1vw auto;
    padding: 0.5vw 1vw;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    box-sizing: border-box;
}

.div-question {
    /* background-color: lightgrey; */
    position: relative;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    box-sizing: border-box;
}

.div-buttons{
    /* background-color: darkseagreen; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: 2vw 0;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 1vw;
}

.div-space{
    position: relative;
    height: 30px;
    /* background-color: yellowgreen; */
}

/* table */
table {
    border: 1px solid whitesmoke;
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    line-height: 25px;
}

/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

tr {
    box-sizing: border-box;
}

th {
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(250, 127, 56);
    color: white;
    white-space: nowrap;
}
  
td {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.table-1 td:nth-child(1), .table-3 td:nth-child(2){
    vertical-align: top;
}
  
tr:nth-child(even) {
    background-color: #eee;
}
  
tr:nth-child(odd) {
    background-color: #fff;
}
  
tr:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

/* p */
.p-error{
    position: relative;
    font-style: italic;
    color: rgb(207, 61, 61);
    width: 90%;
}

.p-scroll{
    position: relative;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 90%;
    text-align: right;
    display: none;
}

/* Tablet & mobile vertical
- Change gap/padding/margin from vw to px
- Buttons bottom grid vertical, full width, gap 5px */
@media screen and (max-width: 930px) {
    .question-for-editQuestion, .cancel-for-editQuestion {
        width: 100%;
        border-radius: 5px;
    }

    .div-quesTips{
        padding: 0 10px;
    }

    .ul-addQuestion-inner {
        padding-left: 25px;
    }

    .questionText, .hintText {
        width: 50vw;
    }

    .div-form-header {
        margin: 10px auto;
        padding: 5px 10px;
    }

    .div-question{
        margin: 10px auto;
    }

    .div-buttons{
        width: 90%;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        margin: 20px 0;
        gap: 5px;
    }

    .div-space{
        height: 5vw;
    }

    th{
        white-space: normal;
    }

    .p-scroll{
        display: block;
    }
}

/* Width <= 600px
- Smaller header font-size */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        line-height: 28px;
    }
      
    h2 {
        font-size: 20px;
        line-height: 19px;
    }
}

/* Mobile vertical OR horizontal
- Follow layout from previous media query
- Buttons, search form, tips, table, credit font size to 12px */
@media screen and (max-width: 450px), (max-height: 450px) {
    .btn {
        font-size: 12px;
    }

    .difficulty, .isCorrect, .value,
    .questionText, .answerText, .hintText,
    .span-title-img, .span-name-img, .div-checkbox label {
        font-size: 12px;
    }

    #id_questionImageName, #id_hintImageName0, #id_hintImageName1, #id_hintImageName2 {
        font-size: 12px;
        padding: 5px;
    }

    @media screen and (max-width: 450px) {
        .questionText, .hintText {
            width: 50vw;
        }
    }

    .div-quesTips {
        font-size: 12px;
        padding: 0 5px;
    }

    table{
        font-size: 12px;
    }

    th, td {
        padding: 5px;
    }

    .p-error{
        font-size: 12px;
    }

    .p-scroll{
        font-size: 8px;
    }
}