/* button */
.btn {
    border: none;
    background-color: rgb(88, 126, 196);
    border-radius: 35px;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: fit-content;
}  
  
/*On mouse-over*/
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(103, 149, 235);
    transition: transform 150ms;
    transform: scale(1.03);
}

.cancel-for-editAvatar{
    background-color: rgb(121, 85, 118);
}

.cancelSubmit-for-editAvatar{
    font-size: 1.1rem;
    background-color: rgb(121, 85, 118);
}

.cancel-for-editAvatar:hover, .cancelSubmit-for-editAvatar:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(211, 110, 204);
}

.submit-for-editAvatar, .back-for-editAvatar{
    font-size: 1.1rem;
}

.music {
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
}

/* hyperlink */
.a-for-editAvatar {
    text-decoration: none;
    color: inherit;
}

/* form fields */
.avatarid, .workplace, .avatargender{
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 25px 10px 10px 25px;
    border: 1px solid lightgray;
    padding: 1vw;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.avatarid:focus, .workplace:focus, .avatargender:focus{
    color: black;
    background-color: rgb(253, 228, 146);
    border: 3px solid rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
}

/* table */
.table-form{
    /* background-color: azure; */
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 1vw;
    box-sizing: border-box;
}

tr{
    /* background-color: darksalmon; */
    box-sizing: border-box;
}

th{
    background-color: rgb(250, 127, 56);
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 10px 25px 25px 10px;
    font-style: italic;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2vw;
    padding: 0.5vw 1vw;
    width: 25vw;
    height: fit-content;
    box-sizing: border-box;
}

td{
    /* background-color: darkcyan; */
    width: auto;
    box-sizing: border-box;
}

/* div */
.div-music {
    position: absolute;
    right: 1vw;
    left: auto;
    float: right;
    color: white;
}

.div-outer{
    position: relative;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    width: 60%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.div-buttons{
    /* background-color: coral; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: fit-content;
    height: fit-content;
    margin: 1vw auto;
    margin-bottom: 0;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 1vw;
    box-sizing: border-box;
}

.div-space{
    position: relative;
    height: 30px;
    /* background-color: yellowgreen; */
}

.div-bg-modal-1, .div-bg-modal-2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* make it half transparent */
    position: fixed;
    top: 0px;
    z-index: 1;
    display: none;  /* It will remain invisible until you open */
    justify-content: center; /*center horizontally*/ 
    align-items: center; /* center vertically */
}

.div-modal-content-1, .div-modal-content-2{
    width: 30%;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 1vw;
    position: relative;
    margin: 0 auto;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    color: black;
    box-sizing: border-box;
}

.div-modal-header{
    position: relative;
    width: 80%;
    height: fit-content;
    margin-bottom: 2vw;
    z-index: 1;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    /* background-color: rgb(121, 85, 118); */
}

.div-submit-button{
    /* background-color: darkgray; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: fit-content;
    height: fit-content;
    margin: 2vw auto;
    margin-bottom: 0;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 1vw;
    box-sizing: border-box;
}

.div-close-1, .div-close-2{
    /* background-color: bisque; */
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 2rem;
    font-family: 'Varela Round', sans-serif;
    color: black;
    transform: rotate(45deg); /* will make it look like x */
    cursor: pointer;
}

/* Tablet & mobile vertical
- Grid vertically
- Buttons all font size 16px, width full, radius 5px, remain letter spacing 3px, in rows */
@media screen and (max-width: 930px) {
    .confirm-for-editAvatar, .cancel-for-editAvatar, .submit-for-editAvatar,
    .cancelSubmit-for-editAvatar, .back-for-editAvatar{
        padding: 10px 15px;
        font-size: 16px;
    }

    .confirm-for-editAvatar, .cancel-for-editAvatar {
        width: 100%;
        border-radius: 5px;
    }

    .div-buttons{
        grid-template-columns: 100%;
        width: 80%;
        gap: 5px;
        margin-top: 10px;
    }
    
    .avatarid, .workplace, .avatargender{
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 0 0 5px 5px;
    }

    .avatarid:focus, .workplace:focus, .avatargender:focus{
        font-size: 1.1rem;
    }

    .table-form{
        border-spacing: 10px;
        table-layout: fixed;
    }
    
    tr{
        justify-items: center;
        align-items: center;
    }

    th{
        width: 100%;
        display: inline-block;
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 5px 5px 0 0;
        padding: 1vw;
        text-align: left;
    }
    
    td{
        width: 100%;
        display: inline-block;
    }
    
    .div-outer{
        grid-auto-flow: column;
        width: 80%;
        border-spacing: 10px;
    }

    .div-space{
        height: 5vw;
    }

    .div-modal-content-1, .div-modal-content-2{
        width: 60%;
        padding: 10px;
    }
    
    .div-modal-header{
        margin-bottom: 20px;
    }

    .div-submit-button{
        margin-top: 20px;
        gap: 10px;
    }
}

/* Screen width <= 450px (mobile vertical OR horizontal)
- Follow grid vertical
- Buttons, label & details all font size 12px, letter spacing 1px for bottom buttons
- Give appropriate spacing/gap to the grid elements */
@media screen and (max-width: 450px), (max-height: 450px) {
    .h1-title {
        width: 70%;
        font-size: 30px;
        word-wrap: break-word;
    }

    .confirm-for-editAvatar, .cancel-for-editAvatar, .submit-for-editAvatar,
    .cancelSubmit-for-editAvatar, .back-for-editAvatar{
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    .avatarid, .workplace, .avatargender{
        font-size: 12px;
    }

    .avatarid:focus, .workplace:focus, .avatargender:focus{
        font-size: 12px;
    }
    
    th{
        font-size: 12px;
        padding: 1vw 10px;
    }

    .div-space{
        height: 5vw;
    }

    .div-modal-content-1, .div-modal-content-2{
        width: 70%;
        font-size: 12px;
    }

    .div-modal-header{
        width: 70%;
        font-size: 12px;
    }

    .div-close-1, .div-close-2{
        top: 0;
        right: 13px;
        font-size: 1.6rem;
    }
}