@viewport {
  width: device-width;
  height: device-height;
  zoom: 1;
}  

body {
  font-family: "DM Sans";
  position: relative;
  margin: 0;
}

h1 {
font-size: 40px;
line-height: 1.25em;
}

h2 {
font-size: 30px;
}

/*
.h2a {
  color: purple;
}
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: palevioletred;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 1vw 1.25vw;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: grey;
  border-radius: 10px;
}

.active {
  background-color: coral;
  border-radius: 10px;
}

.logout {
  float: right;
  background-color: crimson;
  border-radius: 10px;
}

.username {
  float: right;
  font-style: italic;
}

p{
    font-size: 16px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover{
  background: #eee;
  border-radius: 10px;
}

.avatar {color: purple;}
.play {color: purple;}
.back-to-dashboard {color: purple;}
.question-settings {color: purple;}

/* hyperlink style */
.a-settings-for-quizMain {
  text-decoration: none;
  color: inherit;
}

.a-play-for-quizMain {
  text-decoration: none;
  color: inherit;
}

.a-back-for-quizMainNonStudentError {
  text-decoration: none;
  color: inherit;
}

.a-settings-for-quizMainAdmin {
  text-decoration: none;
  color: inherit;
}