/* h1 */
h1 {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 3px;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    line-height: normal;
}

.question{
    /* background-color: rgb(255, 177, 177); */
    letter-spacing: 1px;
    width: 100%;
}

.with-image1{
    text-align: left;
    line-height: normal;
}

/* button */
.btn {
    border: none;
    background-color: rgb(88, 126, 196);
    border-radius: 35px;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}
  
/*On mouse-over*/
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(103, 149, 235);
    transition: transform 150ms;
    transform: scale(1.03);
}

.hint.no-show{
    pointer-events: none;
    opacity: 0.6;
}

.next, .next2, .showResult{
    background-color: rgb(121, 85, 118);
}

.quit-for-quizPlay, .useHint-for-quizPlay{
    font-size: 1.1rem;
}

.cancelQuit-for-quizPlay, .cancelHint1-for-quizPlay, .cancelHint2-for-quizPlay{
    font-size: 1.1rem;
    background-color: rgb(121, 85, 118);
}

.next:hover, .next2:hover, .showResult:hover, .cancelQuit-for-quizPlay:hover, .cancelHint1-for-quizPlay:hover,.cancelHint2-for-quizPlay:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(211, 110, 204);
}

.music {
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
    margin: 6px 0;
    box-sizing: border-box;
}

/*hyperlink*/
.a-for-quizPlay{
    text-decoration: none;
    color: inherit;
}

/* image */
.img-question{
    max-width: 80%;
    max-height: 80%;
    align-self: center;
    border: 5px solid white;
    border-radius: 10px;
    margin: 0 auto;
}

.img-hintImage{
    max-width: 100%;
    max-height: 60vh;
}

/* div */
.div-totalScore {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    float: right;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    line-height: normal;
    vertical-align: middle;
    box-sizing: border-box;
    height: 100%;
}

#div-wrapper {
    /* background-color: darkseagreen; */
    box-sizing: border-box;
    position: relative;
}

.div-outer{
    /* background-color: burlywood; */
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
    padding: 1vw 0;
}

/* Heads of Display */
#hud{
    /* background-color: rgb(130, 124, 225); */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 3px;
    box-sizing: border-box;
}

.hud-item{
    /* background-color: darksalmon; */
    display: grid;
    grid-template-rows: 40% 60%;
    gap: 0;
    width: fit-content;
    /* width: 100%; */
    height: 150px;
    align-items: center;
    justify-items: center;
    text-align: center;
    box-sizing: border-box;
}

.hud-prefix {
    /* background-color: dodgerblue; */
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    box-sizing: border-box;
    line-height: normal;
}

.hud-main-text {
    /* background-color: darkred; */
    text-align: center;
    width: 100%;
    padding: 0 1vw;
    box-sizing: border-box;
}

.div-bg-bar-timer-ques {
    position: relative;
    width: 150px;
    height: 1.5rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    overflow: hidden;
}
  
.div-bar-timer-ques {
    position: relative;
    width: 0%;
    height: 100%;
    border: none;
    background-color: rgb(121, 85, 118);
}

.score, .cntHint-wrapper{
    font-size: 3rem;
    font-weight: bold;
}

/* KIV */
@keyframes score-anim{
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0 0 15px rgb(121, 85, 118), 0 0 15px rgb(121, 85, 118), 0 0 15px rgb(121, 85, 118), 0 0 15px rgb(121, 85, 118);
    }
}

.correct{
    -webkit-animation: score-anim 1s ease-in-out infinite alternate;
    -moz-animation: score-anim 1s ease-in-out infinite alternate;
    animation: score-anim 1s ease-in-out infinite alternate;
}

#progressBar {
    width: 100%;
    height: 1.5rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background-color: rgb(88, 126, 196);
    width: 0%;
}

.div-question{
    /* background-color: rgb(160, 160, 160); */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1vw 0;
    padding: 0;
}

.with-image2{
    display: grid;
    grid-template-columns: 40% 60%;
}

.div-question-inner{
    /* background-color: lightseagreen; */
    width: 100%;
    box-sizing: border-box;
    padding-right: 3%;
}

.div-outer-choice{
    /* background-color: rgb(213, 248, 172); */
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1vw;
    padding: 0 1.5vw;
    margin-top: 1vw;
}

.choice-container {
    display: grid;
    grid-template-columns: 10% 90%;
    /* background-color: rgb(18, 93, 255); */
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 173, 173, 0.76);
    transform: scale(1.02);
    transform: transform 100ms;
}

.no-hover{
    pointer-events: none;
}

.choice-prefix {
    background-color: rgb(250, 127, 56);
    box-sizing: border-box;
    padding: 1vw;
    color: white;
    font-size: 1.4rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 4px 0 0 4px;
}

.choice-text{
    background-color: rgb(250, 127, 56);
    box-sizing: border-box;
    text-align: left;
    padding: 1vw;
    width: 100%;
    font-size: 1.4rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 4px 4px 0;
}

.choice-container input[type="radio"]:empty{
    display: none;
}

.choice-container input[type="radio"]:empty ~ .choice-text label{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.choice-container input[type="radio"]:checked ~ .choice-prefix, .choice-container input[type="radio"]:checked ~ .choice-text{
    border: 3px solid white;
    background-color: rgb(250, 188, 54);
}

.choice-container input[type="radio"]:checked ~ .choice-prefix {
    border-right: none;
}

.choice-container input[type="radio"]:checked ~ .choice-text {
    border-left: none;
}

.div-buttons{
    /* background-color: plum; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    /* top | horizontal | bottom */
    margin: 1vw 0 2vw;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1vw;
}

.div-buttons-wrapper-hint{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.div-bg-modal, .div-bg-modal2, .div-bg-modal3, .div-bg-modal4{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* make it half transparent */
    position: fixed;
    top: 0px;
    z-index: 1;
    display: none;  /* It will remain invisible until you open */
    justify-content: center; /*center horizontally*/ 
    align-items: center; /* center vertically */
}

.div-modal-content, .div-modal-content2, .div-modal-content3{
    width: 30%;
    box-sizing: border-box;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 1vw;
    position: relative;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: normal;
    font-family: 'Varela Round', sans-serif;
    color: black;
}

.div-modal-content3 {
    width: 70%;
}

.div-modal-header{
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 2vw;
    z-index: 1;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    /* background-color: rgb(121, 85, 118); */
}

.div-modal-content2-wrapper, .div-modal-content3-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: fit-content;
}

.p-hintText {
    font-size: 1.1rem;
}

/* div buttons for modal 1, 2 */
.div-quit-button, .div-hint-button{
    /* background-color: peachpuff; */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    height: fit-content;
    margin: 2vw auto;
    margin-bottom: 0;
    align-items: center;
    justify-items: center;
    gap: 1vw;
    box-sizing: border-box;
}

.div-outer-bg-bar {
    /* background-color: lightgreen; */
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vw 0;
}

.div-bg-bar-timer-hint {
    position: relative;
    width: 90%;
    height: 1.5rem;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 15px;
    background-color: rgb(241, 236, 236);
    overflow: hidden;
}
  
.div-bar-timer-hint {
    position: relative;
    width: 0%;
    height: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: rgb(231, 189, 228);
}

/* span */
.span-title-totalScore{
    font-size: 20px;
    word-break: normal;
    padding-top: 4px;
    height: 100%;
    box-sizing: border-box;
}

.span-value-totalScore{
    font-size: 40px;
    padding-top: 4px;
    height: 100%;
    box-sizing: border-box;
}

.span-difficulty
{
    color: black;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-style: italic;
    background-color: rgb(88, 126, 196);
    box-sizing: border-box;
    height: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Tablet & mobile vertical
- Grid question w/ image, answer choices & buttons vertically
- Buttons all font size 16px, full width, radius 5px, remain letter spacing 3px, in rows
- Change paddings in vw to px
- Change font size hud items, question, answer
- Appropriate modal width */
@media screen and (max-width: 930px) {
    .div-totalScore {
        grid-template-columns: 35% 40% 25%;
        justify-items: right;
        right: 10px;
    }

    h1.question{
        font-size: 1.1rem;
    }

    .with-image1{
        text-align: center;
    }

    .quit, .hint, .next, .next2, .showResult,
    .quit-for-quizPlay, .cancelQuit-for-quizPlay, .useHint-for-quizPlay, .cancelHint1-for-quizPlay, .cancelHint2-for-quizPlay{
        padding: 10px 15px;
        font-size: 16px;
    }

    .quit, .hint, .next, .next2, .showResult{
        width: 100%;
        border-radius: 5px;
    }

    .img-question{
        max-width: 70%;
        max-height: 70%;
    }

    .img-hintImage{
        max-width: 90%;
        max-height: 40vh;
    }

    .div-outer{
        padding: 10px 0;
    }

    .hud-item{
        height: 100px;
    }

    .hud-prefix{
        font-size: 1.1rem;
    }

    .hud-main-text{
        padding: 0 10px;
    }

    .div-bg-bar-timer-ques{
        width: 100px;
    }

    .score, .cntHint-wrapper{
        font-size: 2rem;
    }

    .div-question{
        margin: 10px 0;
    }

    .with-image2{
        grid-template-columns: 100%;
        grid-auto-flow: row;
        gap: 0;
    }

    .div-question-inner{
        padding-right: 0;
    }

    .div-outer-choice{
        grid-template-columns: 100%;
        grid-auto-flow: row;
        gap: 5px;
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .choice-prefix, .choice-text{
        padding: 10px;
        font-size: 1.1rem;
    }

    .div-buttons{
        grid-template-columns: 100%;
        grid-auto-flow: row;
        width: 95%;
        /* top | horizontal | bottom */
        margin: 10px 0 20px;
        gap: 5px;
    }

    .div-buttons-wrapper-hint{
        width: 100%;
    }

    .div-modal-content, .div-modal-content2, .div-modal-content3{
        width: 60%;
        padding: 10px;
    }

    .div-modal-content3{
        width: 90%;
    }

    .div-modal-header{
        margin-bottom: 20px;
    }

    .div-quit-button, .div-hint-button{
        margin-top: 20px;
        gap: 10px;
    }

    .div-outer-bg-bar{
        padding: 10px 0;
    }

    .span-difficulty{
        font-size: 0.6rem;
    }
}

/* Mobile vertical OR horizontal
- Same layout as previous media query
- Reduce font size on header, buttons
- On horizontal width <= 390px and <= 320px, adjust div player & total score
- On vertical width <= 350px (ip5 & ipSE), smaller font size for hud items */
@media screen and (max-width: 450px), (max-height: 450px) {
    @media screen and (max-width: 390px) {
        .div-totalScore {
            width: 300px;
            grid-template-columns: 35% 38% 27%;
            justify-items: right;
            right: 10px;
        }
    }

    @media screen and (max-width: 320px) {
        .h2a-username{
            display: none;
        }
    
        .div-player img:hover ~ .h2a-username{
            display: flex;
            z-index: 2;
            background-color: rgba(250, 159, 159);
            /* top | right | bottom | left */
            padding: 7px 7px 7px 5px;
            border-radius: 35px;
            width: 50px;
            justify-content: space-around;
        }
    
        .div-player img:hover ~ .div-totalScore{
            display: none;
        }
    }

    h1.question{
        font-size: 12px;
    }

    .quit, .hint, .next, .next2, .showResult,
    .quit-for-quizPlay, .cancelQuit-for-quizPlay, .useHint-for-quizPlay, .cancelHint1-for-quizPlay, .cancelHint2-for-quizPlay{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .hud-item{
        height: 70px;
    }

    .hud-prefix{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .div-bg-bar-timer-ques , #progressBar{
        width: 70px;
        height: 1rem;
    }

    .score, .cntHint-wrapper{
        font-size: 1.1rem;
    }

    @media screen and (max-width: 350px) {
        .div-bg-bar-timer-ques, #progressBar{
            width: 50px;
            border-width: 2px;
        }
    }

    .choice-prefix, .choice-text{
        font-size: 12px;
    }

    .div-modal-content, .div-modal-content2, .div-modal-content3{
        width: 70%;
        font-size: 12px;
    }

    .div-modal-content3 {
        width: 90%;
    }

    .div-modal-header{
        font-size: 12px;
    }

    .p-hintText {
        font-size: 12px;
    }

    .span-difficulty{
        font-size: 8px;
    }
}