/* h1 */
h1 {
    font-family: 'Poppins';
    letter-spacing: 3px;
    font-size: 2vw;
    text-align: center;
    color: white;
    line-height: 1.5em;
}

.question{
    /* background-color: rgb(255, 177, 177); */
    letter-spacing: 1px;
    line-height: 3vw;
    width: 100%;
}

.with-image1{
    text-align: left;
    line-height: normal;
}

/* button */
.btn {
    border: none;
    background-color: rgb(130, 124, 225);
    border-radius: 35px;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: max-content;
    min-width: 7rem;
    min-height: 2rem;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(152, 144, 252);
    transition: transform 150ms;
    transform: scale(1.03);
}

.next, .next2, .showResult{
    background-color: rgb(52, 202, 152);
}

.quit-for-quizPlay, .useHint-for-quizPlay{
    font-size: 1.1rem;
}

.cancelQuit-for-quizPlay, .cancelHint1-for-quizPlay, .cancelHint2-for-quizPlay{
    font-size: 1.1rem;
    background-color: rgb(52, 202, 152);
}

.next:hover, .next2:hover, .showResult:hover, .cancelQuit-for-quizPlay:hover, .cancelHint1-for-quizPlay:hover,.cancelHint2-for-quizPlay:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 255, 171, 0.6);
}

.music {
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
    margin: 6px 0;
    box-sizing: border-box;
}

/*hyperlink*/
.a-for-quizPlay{
    text-decoration: none;
    color: inherit;
}

/* image */
.img-question{
    max-width: 80%;
    max-height: 80%;
    align-self: center;
    border: 5px solid white;
    border-radius: 10px;
    margin: 0 auto;
}

/* div */
.div-totalScore {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    float: right;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    line-height: normal;
    vertical-align: middle;
    box-sizing: border-box;
    height: 100%;
}

#div-wrapper {
    box-sizing: border-box;
    position: relative;
}

.div-outer{
    /* background-color: burlywood; */
    box-sizing: border-box;
    width: 95%;
    min-width: 95%;
    margin: 0 2vw;
    padding: 1vw 0;
}

/* .flex-column{
    display: flex;
    flex-direction: column;
}
  
.justify-center{
    justify-content: center;
} */

/* Heads of Display */
#hud{
    display: flex;
    justify-content:space-between;
    font-family: 'Poppins';
    letter-spacing: 3px;
}

.hud-item{
    align-items: center;
    justify-items: center;
    text-align: center;
}

.hud-prefix {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

.hud-main-text {
    text-align: center;
    font-size: 2vw;
    font-weight: unset;
    line-height: 3vw;
}

.div-bg-bar-timer-ques {
    position: relative;
    width: 15vw;
    height: 1.5rem;
    min-height: 1.5rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    /* background-color: rgb(241, 236, 236); */
    overflow: hidden;
}
  
.div-bar-timer-ques {
    position: relative;
    width: 0%;
    height: 100%;
    border: none;
    background-color: rgb(52, 202, 152);
}

.score, .cntHint-wrapper, .cntHint-inner{
    font-size: 3vw;
    font-weight: bold;
}

/* KIV */
@keyframes score-anim{
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0 0 15px rgb(169, 163, 248), 0 0 15px rgb(169, 163, 248), 0 0 15px rgb(169, 163, 248), 0 0 15px rgb(169, 163, 248);
    }
}

.correct{
    -webkit-animation: score-anim 1s ease-in-out infinite alternate;
    -moz-animation: score-anim 1s ease-in-out infinite alternate;
    animation: score-anim 1s ease-in-out infinite alternate;
}

#progressBar {
    width: 95%;
    height: 1.5rem;
    min-height: 1.5rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    /* background: rgb(18, 93, 255); */
    background-color: rgb(130, 124, 225);
    width: 0%;
}

.div-question{
    /* background-color: rgb(160, 160, 160); */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1vw 0;
    padding: 0;
}

.with-image2{
    display: grid;
    grid-template-columns: 40% 60%;
}

.div-question-inner{
    width: 100%;
    box-sizing: border-box;
    padding-right: 3%;
}

.div-outer-choice{
    /* background-color: rgb(213, 248, 172); */
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 49.5%);
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1vw;
    margin-top: 3vw;
}

.choice-container {
    display: grid;
    grid-template-columns: 10% 90%;
    font-size: 2vw;
    /* background-color: rgb(18, 93, 255); */
    box-sizing: border-box;
    height: min-content;
    min-height: 100%;
    position: relative;
    width: 100%;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 173, 173, 0.76);
    transform: scale(1.02);
    transform: transform 100ms;
}

.no-hover{
    pointer-events: none;
}

.choice-prefix {
    background-color: rgb(250, 159, 159);
    box-sizing: border-box;
    padding: 1vw;
    color: white;
    font-size: 2vw;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 4px 0 0 4px;
}

.choice-text{
    background-color: rgb(250, 159, 159);
    box-sizing: border-box;
    text-align: left;
    padding: 1vw;
    width: 100%;
    font-size: 2vw;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 4px 4px 0;
}

.choice-container input[type="radio"]:empty{
    display: none;
}

.choice-container input[type="radio"]:empty ~ .choice-text label{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.choice-container input[type="radio"]:checked ~ .choice-prefix, .choice-container input[type="radio"]:checked ~ .choice-text{
    border: 3px solid white;
    background-color: rgb(253, 108, 108);
}

.choice-container input[type="radio"]:checked ~ .choice-prefix {
    border-right: none;
}

.choice-container input[type="radio"]:checked ~ .choice-text {
    border-left: none;
}

.div-buttons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    margin: 2vw 0;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
}

.div-buttons-wrapper-hint, .div-buttons-inner-hint{
    width:max-content;
    height: max-content;
    position: relative;
}

.div-bg-modal, .div-bg-modal2, .div-bg-modal3, .div-bg-modal4{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* make it half transparent */
    position: fixed;
    top: 0px;
    z-index: 1;
    display: none;  /* It will remain invisible until you open */
    justify-content: center; /*center horizontally*/ 
    align-items: center; /* center vertically */
}

.div-modal-content, .div-modal-content2, .div-modal-content3{
    width: 31vw;
    box-sizing: border-box;
    max-height: 100vh;
    min-width: 25rem;
    min-height: 9rem;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 0 1vw;
    padding-right: 1.5vw;
    position: relative;
    margin: 6vw 0;
    font-size: 1.1rem;
    font-family: 'Poppins';
    color: black;
}

.div-modal-content3 {
    width: 70%;
}

.div-modal-header{
    position: relative;
    width: max-content;
    height: 2vw;
    min-height: 1.2rem;
    padding: 1rem 0;
    z-index: 1;
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: bold;
    /* background-color: rgb(121, 85, 118); */
}

.div-modal-content2-wrapper, .div-modal-content3-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: min-content;
}

/* div buttons for modal 1, 2 */
.div-quit-button, .div-hint-button{
    position: relative;
    width: max-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.div-outer-bg-bar {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.div-bg-bar-timer-hint {
    position: relative;
    width: 90%;
    height: 1.5rem;
    min-height: 1.5rem;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 15px;
    background-color: rgb(241, 236, 236);
    overflow: hidden;
}
  
.div-bar-timer-hint {
    position: relative;
    width: 0%;
    height: 1.5rem;
    min-height: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: rgb(52, 202, 152);
}

/* span */
.span-title-totalScore{
    word-break: normal;
    padding-top: 4px;
    height: 100%;
    box-sizing: border-box;
}

.span-value-totalScore{
    font-size: 35px;
    padding-top: 4px;
    height: 100%;
    box-sizing: border-box;
}

.span-difficulty
{
    color: black;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: italic;
    background-color: rgb(130, 124, 225);
    box-sizing: border-box;
    height: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

/* ul-navbar */
.ul-navbar{
    position: unset;
}