/* italic player username */
.h2a-main-username {
    font-style: italic;
    font-size: 2.5vw;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

/* button */ 
.btn {
    border: none;
    background-color: rgb(130, 124, 225);
    border-radius: 50px;
    /* padding: 10px 15px; */
    padding: 1vw 2vw;
    font-size: 2vw;
    /* font-size: 1.7rem; */
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    width: 100%;
}
  
/* On mouse-over */
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(152, 144, 252);
    transition: transform 150ms;
    transform: scale(1.03);
}

/* quizMainNonAdmin.html */
.avatar, .statistic {color: white;}
.play{
    color: white;;
    background-color: rgb(52, 202, 152);
}

.play:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 255, 171, 0.6);
}

.music {
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
    color: white;
}

/* noAccessError.html */
.back-to-dashboard {color: white;}

/* hyperlinks */
/* quizMainNonAdmin.html */
.a-settings-for-quizMain, .a-statistic-for-quizMain, .a-play-for-quizMain {
    text-decoration: none;
    color: inherit;
}

/* noAccessError.html */
.a-back-for-quizMainNonStudentError {
    text-decoration: none;
    color: inherit;
}

/* img */
.img-icon{
    max-width: 6vw;
    max-height: 6vw;
}

/* div */
.div-real-outer{
    display: grid;
    position: absolute;
    top: 18vh;
    left: 10vw;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 80%;
    height: fit-content;
    /* background-color: yellowgreen; */
    box-sizing: border-box;
}

.div-outer{
    /* background-color: green; */
    box-sizing: border-box;
    position: relative;
    width: 80vw;
    height: 70vh;
    border-color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0;
    justify-items: center;
    align-items: center;
}

.div-music {
    position: absolute;
    top: 60px;
    right: 40px;
    left: auto;
    float: right;
    color: white;
}

.div-title{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 70vh;
    padding: 0 5vw;
    width: 50vw;
    box-sizing: border-box;
    text-align: left;
    letter-spacing: 0.5rem;
    word-wrap: normal;
    font-family: 'Poppins';
    font-size: 6vw;
    font-weight: bolder;
    line-height: 1.4em;
    /* background-color: bisque; */
}

.div-title:hover{
    text-shadow: 1px 1px rgb(169, 163, 248), 0 0 1em rgb(169, 163, 248), 0 0 0.2em rgb(169, 163, 248);
}

.div-menu{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 80%;
    width: 30vw;
    /* background-color: cornflowerblue; */
    padding: 30px 0;
    margin: auto;
    box-sizing: border-box;
    gap: 20px;
}

.div-avatar{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(245, 118, 59);
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: solid rgba(255, 255, 255, 0.801);
    border-width: 5px;
    height: fit-content;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5vw 0;
    padding-left: 10px;
}

.div-buttons{
    /* background-color: darkseagreen; */
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 1010px) {
    .div-music{
        top: 45px;
        right: 15px;
    }
}

/* View on tablet (width <= 770px) (vertically) or mobile (vertically) 
- Grid vertically */
@media screen and (max-width: 770px) {
    .div-outer{
        width: 80vw;
        height: 70vh;
        grid-template-columns: 100%;
        gap: 5vw;
    }
    
    .div-title{
        height: 25vh;
        width: 65vw;
        text-align: center;
        font-size: 6vw;
    }
    
    .div-menu{
        justify-items: center;
        align-items: center;
        grid-template-columns: 100%;
        height: 45vh;
        width: 100%;
        padding: 0;
        gap: auto;
    }

    .div-avatar{
        border-radius: 80px;
        width: fit-content;
        grid-template-columns: 50% 50%;
        height: 15vw;
        gap: 10px;
        padding: 20px 25px;
    }

    .img-icon{
        max-width: 10vw;
        max-height: 10vw;
    }

    .h2a-main-username{
        font-size: 4vw;
    }
    
    .div-buttons{
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        gap: 10px;
        box-sizing: border-box;
    }

    .avatar, .statistic, .play {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 3vw;
    }
}

/* Mobile vertical width <= 450px
- smaller size, gap & wider title div to avoid more word break that could increase the height */
@media screen and (max-width: 450px) {
    .div-outer{
        gap: 0;
    }

    .div-title{
        width: 100%;
        font-size: 8vw;
    }

    .h2a-main-username{
        font-size: 16px;
    }

    .div-buttons{
        gap: 5px;
    }

    .avatar, .statistic, .play {
        font-size: 16px;
    }
}

/* Mobile vertical width <= 320px & height <= 568px
- smaller font size on menu, higher div title & shorter div menu */
@media screen and (max-width: 320px) and (max-height: 568px) {
    .div-outer{
        gap: 0;
    }

    .div-title{
        height: 30vw;
    }

    .div-menu{
        height: 40vw;
        gap: 3vw;
    }

    .h2a-main-username{
        font-size: 12px;
    }

    .avatar, .statistic, .play {
        height: fit-content;
        font-size: 12px;
        line-height: 5px;
    }
}

/* View on mobile (horizontally) because height is < 500px 
- Remain original layout (title on the left, menu on the right) but make title font size smaller (?) */
@media screen and (max-height: 600px) and (min-width: 321px) {
    .h2a-main-username {
        font-size: 14px;
    }
    
    .avatar, .statistic, .play {
        border-radius: 50px;
        height: fit-content;
        font-size: 12px;
        line-height: 5px;
    }

    .img-icon{
        max-width: 4vw;
        max-height: 4vw;
    }
    
    .div-real-outer{
        top: 20vh;
        left: 12vw;
        width: 75%;
    }

    .div-outer{
        width: 100%;
        height: 70vh;
        grid-template-columns: repeat(2, auto);
        gap: 0;
        justify-items: center;
        align-items: center;
    }
    
    .div-title{
        justify-content: center;
        align-content: center;
        height: 70vh;
        width: 40vw;
        padding: 0 5vw;
        text-align: left;
        letter-spacing: 0.5rem;
        word-wrap: normal;
        font-size: 4vw;
    }
    
    .div-menu{
        align-items: center;
        justify-items: center;
        height: 70vh;
        width: 35vw;
        padding: 0;
        margin: auto;
        gap: 5px;
    }
    
    .div-avatar{
        grid-template-columns: 30% 70%;
        align-items: center;
        justify-items: center;
        border-radius: 10px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: fit-content;
        width: 100%;
        padding: 0.5vw 0;
        padding-left: 20px;
    }
    
    .div-buttons{
        align-items: center;
        justify-items: center;
        width: 100%;
        gap: 5px;
    }
}