/* button */
.btn {
    border: none;
    background-color: rgb(88, 126, 196);
    border-radius: 50px;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(103, 149, 235);
    transition: transform 150ms;
    transform: scale(1.03);
}

.main{
    background-color: rgb(121, 85, 118);
}

.main:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(211, 110, 204);
}

.music {
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
    margin: 6px 0;
    box-sizing: border-box;
}

.btn2{
    border: none;
    background-color: rgb(88, 126, 196);
    border-radius: 35px 35px 0 0;
    padding: 1vw 2vw;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: fit-content;
    text-align: center;
}

.clicked{
    border: solid white;
    /* top | horizontal | bottom */
    border-width: 3px 3px 0;
    background-color: rgb(103, 149, 235);
}

/* hyperlink */
.a-for-seeRanking {
    text-decoration: none;
    color: inherit;
}

/* form */
.form-field{
    /* background-color: rgb(33, 150, 120); */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    margin-left: auto;
    margin-right: -1vw;
    box-sizing: border-box;
    padding: 1vw 0 0;
    position: relative;
    width: fit-content;
}

/* image */
.img-field, .img-overall{
    width: 50px;
    height: 50px;
}

/* div */
.div-totalScore {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    float: right;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    line-height: normal;
    vertical-align: middle;
    box-sizing: border-box;
    height: 100%;
}

.div-outer{
    /* background-color: #7ea0b6; */
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    width: 70%;
    height: fit-content;
    margin: 0 auto;
}

.div-category{
    grid-template-columns: repeat(2, auto);
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 0;
    position: relative;
    width: fit-content;
    gap: 0;
}

.div-field, .div-overall{
    background-color: rgba(255, 255, 255, 0.384);
    width: 100%;
    height: fit-content;
    min-width: 100%;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 10px 10px 10px;
    padding-right: 2vw;
    padding-bottom: 1vw;
    position: relative;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

.div-overall {
    padding-top: 2px;
    display: none;
}

#field {
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 0 5px;
    width: 60%;
}

#field:focus{
    color: black;
    background-color: rgb(253, 228, 146);
    border: 3px solid rgb(250, 188, 54);
}

/* Set a fixed scrollable wrapper */
.div-table {
    width: 100%;
    margin: 0 1vw;
    max-height: 40vh;
    overflow: auto;
    box-sizing: border-box;
}

.div-buttons{
    /* background-color: white; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: 1vw 0;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 1vw;
}

.div-space{
    position: relative;
    height: 50px;
    /* background-color: yellowgreen; */
}

.div-credit {
    background: #00000033;
    width: 100vw;
    bottom: 0;
    position: fixed;
    height: fit-content;
    overflow: hidden;
}

.div-credit-text {
    height: fit-content;
    position: relative;
    display: inline-block;
}

.div-credit-text p {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-style: italic; 
    text-align: center;
    margin: 10px 0;
    line-height: 1.3;
    white-space: nowrap; /* will put text in 1 line */
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

.div-credit-text:hover p{
    animation-play-state: paused;
}
  
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 800px) {
    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(30%);
        }
        100% {
            -moz-transform: translateX(-100%);
        }
    }
    
    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(30%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }
    
    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(30%);
            -webkit-transform: translateX(30%);
            transform: translateX(30%);
        }
        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}

/* table */
table {
    border: none;
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 1.1rem;
    letter-spacing: 3px;
    box-sizing: border-box;
    width: 100%;
    color: black;
    position: relative;
}

/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

th {
    padding: 20px;
    background-color: rgb(121, 85, 118);
    color: white;
    /* border: solid 1px white; */
}

td {
    padding: 5px;
    text-align: center;
    /* border: solid 1px cadetblue; */
}

tr:nth-child(even) {
    background-color: #eee;
}
  
tr:nth-child(odd) {
    background-color: #fff;
}
  
tr:hover {
    background-color: rgb(231, 189, 228);
    cursor: pointer;
}

/* span */
.span-title-totalScore{
    font-size: 20px;
    word-break: normal;
    padding-top: 4px;
    height: 100%;
    box-sizing: border-box;
}

.span-value-totalScore{
    font-size: 40px;
    padding-top: 4px;
    height: 100%;
    box-sizing: border-box;
}

/* p */
.p-scroll{
    position: relative;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    text-align: right;
    display: block;
    line-height: normal;
    color: black;
}

/* Tablet & mobile vertical
- Grid vertically
- Enlarge width outer div
- Buttons all font size 16px, grid 2-2, radius 5px, remain letter spacing 3px, in rows
- Change paddings in vw to px */
@media screen and (max-width: 930px) {
    .div-totalScore {
        grid-template-columns: 35% 40% 25%;
        justify-items: right;
        right: 10px;
    }

    .div-outer{
        width: 80%;
    }

    .div-field, .div-overall{
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .form-field{
        margin-right: -10px;
        padding: 10px 0 0;
    }

    .div-table {
        width: 100%;
        margin: 0 10px;
    }

    .btn2{
        padding: 10px 15px;
    }

    .statistic, .main{
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
        width: 100%;
    }

    .div-buttons{
        grid-template-columns: 100%;
        width: 80%;
        gap: 5px;
        margin: 10px 0;
    }
}

/* Mobile vertical OR horizontal
- All grid vertical
- Reduce font size on header, buttons
- Buttons full width
- On horizontal width <= 390px and <= 320px, adjust div player & total score
- Adjust the outer width when mobile horizontal according to height when on certain mobile width */
@media screen and (max-width: 450px), (max-height: 450px) {
    .h1-title {
        width: 70%;
        font-size: 30px;
        word-wrap: break-word;
    }

    @media screen and (max-width: 390px) {
        .div-totalScore {
            width: 300px;
            grid-template-columns: 35% 38% 27%;
            justify-items: right;
            right: 10px;
        }
    }

    @media screen and (max-width: 320px) {
        .h2a-username{
            display: none;
        }
    
        .div-player img:hover ~ .h2a-username{
            display: flex;
            z-index: 2;
            background-color: rgba(250, 159, 159);
            /* top | right | bottom | left */
            padding: 7px 7px 7px 5px;
            border-radius: 35px;
            width: 50px;
            justify-content: space-around;
        }
    
        .div-player img:hover ~ .div-totalScore{
            display: none;
        }
    }

    .div-outer{
        width: 80%;
    }

    .form-field label, .form-field #field{
        font-size: 12px;
    }
    
    .p-scroll{
        font-size: 8px;
    }

    .div-table {
        max-height: 55vh;
        width: 100%;
        margin: 0 10px;
    }

    table {
        font-size: 12px;
        letter-spacing: 1px;
    }

    th {
        padding: 5px;
    }
    
    td {
        padding: 5px 0;
        letter-spacing: 0;
    }

    .btn2, .statistic, .main{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .div-buttons{
        width: 80%;
    }

    .div-space{
        height: 10vh;
    }

    .div-credit-text p {
        margin: 5px 0;
        font-size: 12px;
    }

    @media screen and (max-height: 450px) {
        @media screen and (max-width: 600px) {
            .div-outer{
                width: 80%;
            }
    
            .div-buttons{
                width: 80%;
            }
        }
        
        @media screen and (min-width: 601px) {
            .div-outer{
                width: 60%;
            }
    
            .div-buttons{
                width: 60%;
            }
        }
    }
}