/* button */
.btn {
    border: none;
    background-color: rgb(88, 126, 196);
    border-radius: 35px;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: fit-content;
}  
  
/*On mouse-over*/
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(103, 149, 235);
    transition: transform 150ms;
    transform: scale(1.03);
}
  
.back{
    background-color: rgb(121, 85, 118);
}

.back:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(211, 110, 204);
}

.music {
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
}

.btn2-label{
    border: none;
    background-color: rgb(250, 127, 56);
    border-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1vw 2vw;
    margin: 0.5vw 0;
    width: 100%;
    height: fit-content;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2vw;
    cursor: unset;
    display: inline-block;
    color: white;
    text-align: left;
}

.btn2-details{
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 1vw 2vw;
    margin: 0.5vw 0;
    width: 100%;
    height: fit-content;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.2vw;
    cursor: unset;
    display: inline-block;
    color: white;
}

/* hyperlink */
.a-for-showAvatar {
    text-decoration: none;
    color: inherit;
}

/* img */
.img-icon{
    max-width: 100%;
    max-height: 100%;
    width: 11vw;
    height: 11vw;
}

/* div */
.div-music {
    position: absolute;
    right: 1vw;
    left: auto;
    float: right;
    color: white;
}

.div-real-outer{
    position: relative;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    width: 65%;
    height: 50vh;
    margin: 0 auto;
    /* background-color: darkseagreen; */
    box-sizing: border-box;
}

.div-outer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1vw;
    padding-top: 0;
    /* background-color: rgb(255, 128, 128); */
    justify-items: center;
    align-items: center;
    gap: 1vw;
    position: relative;
}

.div-icon{
    align-items: center;
    width: 11vw;
    height: 11vw;
    /* background-color: bisque; */
    background-color: rgba(250, 207, 207);
    border: solid white;
    border-width: 1vw;
    border-radius: 7vw;
    padding: 1vw;
    overflow: hidden;
    box-sizing: border-box;
}

.div-labeldetails{
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    width: 100%;
    height: max-content;
    padding: 0.5vw 1vw;
    box-sizing: border-box;
}

.div-labeldetails-ind{
    /* background-color: goldenrod; */
    display: grid;
    grid-template-columns: 17vw auto;
    justify-items: center;
    gap: 1vw;
    box-sizing: border-box;
}

.div-buttons{
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
}

.div-space{
    position: relative;
    height: 30px;
    /* background-color: yellowgreen; */
}

.div-credit {
    background: #00000033;
    width: 100vw;
    bottom: 0;
    position: fixed;
    height: fit-content;
    overflow: hidden;
}

.div-credit-text {
    height: fit-content;
    position: relative;
    display: inline-block;
}

.div-credit-text p {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-style: italic; 
    text-align: center;
    margin: 10px 0;
    line-height: 1.3;
    white-space: nowrap; /* will put text in 1 line */
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

.div-credit-text:hover p{
    animation-play-state: paused;
}
  
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* Screen width <= 850px (tablet & mobile vertical)
- Grid vertically
- Buttons all font size 16px, width full, radius 5px, remain letter spacing 3px, in rows */
@media screen and (max-width: 930px) {
    .div-real-outer{
        height: fit-content;
    }

    .div-outer{
        grid-template-columns: 100%;
        grid-auto-flow: row;
    }
    
    .img-icon{
        width: 100px;
        height: 100px;
    }

    .div-icon{
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
    
    .div-labeldetails{
        /* top | horizontal | bottom */
        padding: 1.5vw 1.5vw 0.5vw;
    }
    
    .div-labeldetails-ind{
        grid-template-columns: 100%;
        gap: 0;
        margin-bottom: 1vw;
    }

    .btn2-label{
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 5px 5px 0 0;
        margin: 0;
    }
    
    .btn2-details{
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 0 0 5px 5px;
        margin: 0;
        text-align: left;
    }

    .div-buttons{
        box-sizing: border-box;
        grid-template-columns: 100%;
        gap: 5px;
        padding: 0 1vw;
    }

    .update, .back {
        padding: 10px 15px;
        width: 100%;
        font-size: 16px;
        border-radius: 5px;
    }

    .div-space{
        height: 8vw;
    }

    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(30%);
        }
        100% {
            -moz-transform: translateX(-100%);
        }
    }
    
    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(30%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }
    
    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(30%);
            -webkit-transform: translateX(30%);
            transform: translateX(30%);
        }
        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}

/* Screen width <= 450px (mobile vertical)
- Buttons, label & details all font size 12px, letter spacing 1px for bottom buttons
- Give appropriate spacing/gap to the grid elements */
@media screen and (max-width: 450px) {
    .h1-title {
        width: 70%;
        font-size: 30px;
        word-wrap: break-word;
    }

    .div-real-outer{
        width: 85%;
    }

    .div-outer{
        padding: 10px;
        gap: 10px;
    }

    .img-icon{
        width: 100px;
        height: 100px;
    }

    .div-icon{
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    .div-labeldetails{
        /* top | horizontal | bottom */
        padding: 10px 10px 0;
    }

    .div-labeldetails-ind{
        margin-bottom: 10px;
    }

    .btn2-label, .btn2-details{
        font-size: 12px;
    }

    .div-buttons{
        padding: 0 10px;
    }

    .update, .back{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .div-space{
        height: 20vw;
    }

    .div-credit-text p {
        margin: 5px 0;
        font-size: 12px;
    }
}

/* Screen height <= 450px (mobile horizontal)
- Remain original style (only set back certain properties which have-
been modified in previous media queries */
@media screen and (max-height: 450px) {
    .h1-title {
        font-size: 30px;
    }

    .btn2-label{
        font-size: 12px;
        border-radius: 10px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin: 0.5vw 0;
    }
    
    .btn2-details{
        font-size: 12px;
        border-radius: 10px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        margin: 0.5vw 0;
        text-align: center;
    }
    
    .div-real-outer{
        grid-auto-flow: row;
        width: 80%;
        height: fit-content;
    }
    
    .div-outer{
        grid-template-columns: repeat(2, auto);
        grid-auto-flow: column;
        padding: 1vw;
        gap: 1vw;
    }
    
    .div-icon{
        width: 11vw;
        height: 11vw;
        border-radius: 7vw;
    }
    
    .div-labeldetails{
        padding: 1vw;
    }
    
    .div-labeldetails-ind{
        grid-template-columns: 17vw auto;
        gap: 1vw;
        margin: 0;
    }
    
    .div-buttons{
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        padding: 0;
    }

    .update, .back{
        border-radius: 50px;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .div-space{
        height: 10vw;
    }

    .div-credit-text p {
        margin: 5px 0;
        font-size: 12px;
    }
}