/* button */
.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    background-color: white;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.submit-for-showQuestion, .clear-for-showQuestion {
    border-radius: 5px;
    padding: auto 10px;
}

.clear-for-showQuestion, .back-for-showQuestion{
    background-color: rgb(250, 127, 56);
}

.clear-for-showQuestion:hover, .back-for-showQuestion:hover{
    background-color: white;
    color: rgb(250, 127, 56);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 127, 56, 0.658);
}

/* hyperlink path and button 1 */
.a-nav-showQuestion {color: black;}

.a-nav-showQuestion:hover{color: rgb(207, 61, 61);}

.a-for-showQuestion{
    text-decoration: none;
    color: inherit;
}

/* button 2 - in table */
.btn2 {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    background-color: gray;
    width: fit-content;
    height: 100%;
    text-align: center;
}
  
.btn2:hover{
    color: gray;
    background-color: white;
}

/* hyperlink button 2*/
.a-question-for-showQuestion {
    text-decoration: none;
    color: inherit;
}

/* search form */
.search-form {
    /* background-color: lightblue; */
    width: fit-content;
    height: fit-content;
    /* top | horizontal | bottom */
    margin: 0 auto 1vw;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 1vw;
}

/* input search */
#search_box, #difficulty {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
}
  
input:focus::placeholder {color: transparent}

/* div */
.div-main-header{
    /* background-color: darksalmon; */
    position: relative;
    margin: 10px auto;
    width: 90%;
    text-align: left;
    box-sizing: border-box;
}

.div-form-buttons{
    /* background-color: darkseagreen; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 1vw;
}

.div-quesTips {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding: 1vw;
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    width: 90%;
    box-sizing: border-box;
}

.div-question {
    position: relative;
    padding: 0;
    width: 90%;
    max-height: 100vh;
    margin: 1vw auto;
    overflow: auto;
}

.div-buttons{
    /* background-color: darkseagreen; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: 2vw 0;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 1vw;
}

.div-space{
    position: relative;
    height: 30px;
    /* background-color: yellowgreen; */
}

/* table */
table {
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    line-height: 25px;
}

.sortable {
    background-repeat: no-repeat;
    background-position: right 0.5vw center;
    background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
}
  
#quesTable thead th.up {
    background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==);
}
  
#quesTable thead th.down {
    background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
}

/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

th {
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(250, 127, 56);
    color: white;
}
  
td {
    padding: 10px;
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: #eee;
}
  
tr:nth-child(odd) {
    background-color: #fff;
}
  
tr:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

/* p */
.p-scroll{
    position: relative;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 90%;
    text-align: right;
    display: none;
}

/* Tablet & mobile vertical
- Grid search form to 3 but form buttons div full width
- Change gap/padding/margin from vw to px
- Buttons bottom grid vertical, full width, gap 5px */
@media screen and (max-width: 930px) {
    .add-for-showQuestion, .back-for-showQuestion {
        width: 100%;
        border-radius: 5px;
    }

    .search-form{
        grid-template-columns: repeat(3, auto);
        grid-auto-flow: row;
        gap: 10px;
        margin-bottom: 10px;
    }

    .div-form-buttons{
        grid-column: 1 / 4;
        gap: 10px;
    }

    .div-quesTips{
        padding: 10px;
    }

    .div-question{
        max-height: 80vh;
        margin: 10px auto;
    }

    .div-buttons{
        width: 90%;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        margin: 20px 0;
        gap: 5px;
    }

    .div-space{
        height: 5vw;
    }

    .p-scroll {
        display: block;
    }
}

/* Width <= 600px
- Smaller header font-size */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        line-height: 28px;
    }
      
    h2 {
        font-size: 20px;
        line-height: 19px;
    }
}

/* Mobile vertical OR horizontal
- Follow layout from previous media query except for search form on mobile vertical
  - grid 2 but search box & form buttons div put 1/3 (full width)
- Buttons, search form, tips, table, credit font size to 12px */
@media screen and (max-width: 450px), (max-height: 450px) {
    .btn, .btn2 {
        font-size: 12px;
    }

    .submit-for-showQuestion, .clear-for-showQuestion{
        padding: 5px 10px;
    }

    #search_box, #difficulty{
        font-size: 12px;
        padding: 5px;
    }

    .search-form label {
        font-size: 12px;
    }

    @media screen and (max-width: 450px) {
        .search-form{
            grid-template-columns: repeat(2, auto);
            grid-auto-flow: row;
        }

        #search_box, .div-form-buttons{
            grid-column: 1 / 3;
        }

        .div-space{
            height: 8vw;
        }
    }

    .div-quesTips {
        font-size: 12px;
        padding: 5px;
    }

    .div-question, .div-buttons{
        width: 70%;
    }

    table{
        font-size: 12px;
    }

    th, td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .p-scroll{
        font-size: 8px;
        width: 70%;
    }
}