/* button */
.btn {
    border: none;
    background-color: rgb(130, 124, 225);
    border-radius: 35px;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
    width: 27vw;
    min-width: 13rem;
    min-height: 2rem;
    max-height: 4.3rem;
}  
  
/*On mouse-over*/
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(152, 144, 252);
    transition: transform 150ms;
    transform: scale(1.03);
}
  
.back-for-showAvatar{
    background-color: rgb(52, 202, 152);
    width: 15vw;
    min-width: 7rem;
}

.back-for-showAvatar:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 255, 171, 0.6);
}

.music {
    font-size: 1.1rem;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 1vw;
    line-height: 0;
    border-radius: 35px;
}

.btn2-label{
    border: none;
    background-color: rgb(245, 118, 59);
    border-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1vw 2vw;
    margin: 0.5vw 0;
    width: 17vw;
    height: fit-content;
    min-width: 7rem;
    min-height: 2rem;
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 0.2vw;
    cursor: unset;
    display: inline-block;
    color: white;
    text-align: left;
}

.btn2-details{
    border: none;
    background-color: rgb(121, 85, 118);
    border-radius: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 1vw 2vw;
    margin: 0.5vw 0;
    width: 29.2vw;
    height: fit-content;
    min-width: 13rem;
    min-height: 2rem;
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 0.2vw;
    cursor: unset;
    display: inline-block;
    color: white;
}

.btn2-details:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 200, 250);
    font-style: italic;
    font-size: 1.3rem;
    border-radius: 25px;
}

/* hyperlink */
.a-for-showAvatar {
    text-decoration: none;
    color: inherit;
}

/* img */
.img-icon{
    max-width: 100%;
    max-height: 100%;
    width: 10vw;
    height: 10vw;
}

/* div */
.div-music {
    position: absolute;
    right: 1vw;
    left: auto;
    float: right;
    color: white;
}

.div-outer{
    display: grid;
    grid-template-columns: 10vw 47.5vw;
    /* grid-template-columns: 150px 40rem;
    min-width: 29.3rem;
    width: 55rem;
    margin: 0 auto; */
    width: 65vw;
    /* height: 16vw; */
    height: fit-content;
    min-width: 29.3rem;
    min-height: 14rem;
    margin-left: 14vw;
    margin-right: 14vw;
    padding: 1vw;
    padding-top: 0;
    /* padding: 1rem; */
    /* background-color: rgb(255, 128, 128); */
    align-items: center;
    gap: 5vw;
    /* gap: 3.5rem; */
    position: relative;
}

.div-icon{
    align-items: center;
    /* width: 150px;
    height: 150px; */
    width: 10vw;
    height: 10vw;
    min-width: 4rem;
    min-height: 4rem;
    /* padding: 0.5vw; */
    /* margin-left: 0.5vw; */
    background-color: bisque;
    border: solid white;
    border-width: 1vw;
    border-radius: 7vw;
    /* border-width: 10px;
    border-radius: 90px; */
    overflow: hidden;
}

.div-labeldetails{
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    width: 47.5vw;
    height: max-content;
    min-width: 21rem;
    min-height: 12.5rem;
    padding: 0.5rem 0.8rem;
    vertical-align: middle;
    /* width: 40rem;
    min-width: 21.7rem;
    padding: 0.5rem 1rem; */
}

.div-labeldetails-ind{
    display: grid;
    grid-template-columns: 17vw 20vw;
    /* grid-template-columns: 17rem 22rem; */
    gap: 1rem;
    vertical-align: middle;
}

.div-buttons{
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* background-color: antiquewhite; */
    width: 67vw;
    min-width: 30.1rem;
    margin: 0.2vw 14vw;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
}

.div-credit {
    background: #00000033;
    width: 100vw;
    bottom: 0;
    position: fixed;
    height: fit-content;
    overflow: hidden;
}

.div-credit-text {
    height: fit-content;
    position: relative;
    display: inline-block;
}

.div-credit-text p {
    font-size: 16px;
    font-family: 'Poppins';
    font-style: italic; 
    text-align: center;
    margin: 10px 0;
    line-height: 1.3;
    white-space: nowrap; /* will put text in 1 line */
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

.div-credit-text:hover p{
    animation-play-state: paused;
}
  
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 800px) {
    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(30%);
        }
        100% {
            -moz-transform: translateX(-100%);
        }
    }
    
    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(30%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }
    
    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(30%);
            -webkit-transform: translateX(30%);
            transform: translateX(30%);
        }
        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}