/* button */
.btn {
    border: none;
    background-color: rgb(130, 124, 225);
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 16px;
    font-family: "DM Sans";
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    color: white;
}  
  
/*On mouse-over*/
.btn:hover{
    border-radius: 10px;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(44, 34, 183, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

/* hyperlink */
.a-back-for-successUpdate {
    text-decoration: none;
    color: inherit;
}