{% load static %}
<link rel="stylesheet" href="{% static 'css/baseHome.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Cruise: Halaman Utama</title>
    <style>
        body {
            background-image: url("{% static 'images/homepage/2-space.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    {% block styles %}{% endblock %}
</head>
<body>
    <center>
        <div class="div-outer">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        {% block js2 %}{% endblock %}
    </center>
</body>
</html>