{% extends "home/base.html" %}

{% block header %}
    Kemaskini Kata Laluan
{% endblock %}

{% block content %}
    {% if expired %}
        <p>{{ expired }} Sila masukkan nombor pin OTP baharu yang dihantar ke alamat emel 
            <span style="font-weight: bold;">{{ currentEmail }}</span>
        .</p>
    {% else %}
        <p>Sila masukkan nombor pin OTP yang dihantar ke alamat emel 
            <span style="font-weight: bold;">{{ currentEmail }}</span>
        .</p>
    {% endif %}

    <p style="font-style: italic; color: crimson;">{{ error }}</p>

    <form action="{% url 'home:reset-pass' %}" class="EnterOTP" method="post">
        {% csrf_token %}
        {{ form.media.js }}
        {{ form.as_p }}
        <button class="btn5 save-for-resetPassword" type="submit">Seterusnya</button>
        <button class="btn5 login-for-resetPassword">
            <a class="a-for-resetPassword" href="{% url 'home:login-nonadmin' %}">Batal</a>
        </button>
    </form>
{% endblock %}