{% extends "home/base.html" %}
{% load static %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/homeIndex.css' %}">
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>
            <span style="font-style:italic;">Future Cruise</span>
            <span>: Portal Web Penerokaan Kerjaya</span>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="div-inner">
        <div class="div-quote">
            <span class="span-quote-text">
                "He who fails to plan is planning to fail."
            </span>
            <span class="span-quote-author">
                - Winston Churchill
            </span>
        </div>
    
        <div class="div-buttons">
            <button class="btn">
                <a class="a-for-homeIndex" href="{% url 'home:login' %}">Log Masuk</a>
            </button>
            <button class="btn">
                <a class="a-for-homeIndex" href="{% url 'home:sign-up' %}">Daftar</a>
            </button>
        </div>
    </div>

    <div class="div-credit">
        <img class="img-logo" src="{% static 'images/homepage/3-smkdd1_logo.png' %}">
        <span class="span-credit-text">Hasil kolaborasi bersama 
            <a class="a-fb" href="https://www.facebook.com/smkdd1/">SMK Damansara Damai 1</a>
        </span>
    </div>
{% endblock %}