{% extends "home/base.html" %}

{% block header %}
    <span style="font-style:italic;">Future Cruise</span>
    <span>: Log Masuk</span>
{% endblock %}

{% block content %}
    <button class="btn2 login-Admin-for-loginIndex">
        <a class="a-admin-for-loginIndex" href="{% url 'home:login-admin' %}">Log Masuk Admin</a>
    </button>
    <button class="btn2 login-NonAdmin-for-loginIndex">
        <a class="a-nonadmin-for-loginIndex" href="{% url 'home:login-nonadmin' %}">Log Masuk Pengguna</a>
    </button>
{% endblock %}