{% load static %}
<link rel="stylesheet" href="{% static 'css/homeIndex.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Cruise: Log Masuk Pengguna</title>
    <style>
        body {
            background-image: url("{% static 'images/homepage/2-space.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<center><h1>Log Masuk Pengguna</h1>
    <p style="font-style: italic; color: green;">{{ success }}</p>
    <p style="font-style: italic; color: crimson;">{{ response }}</p>
    <form action="{% url 'home:login-nonadmin' %}" class="LoginFormNonAdmin" method="post">
        {% csrf_token %}
        {{ form.media.js }}
        {{ form.as_p }}
        <button class="btn4 login-for-loginNonAdmin" type="submit">Log Masuk</button>
    </form>
    <button class="btn4 reset-for-loginNonAdmin">
        <a class="a-reset-for-loginNonAdmin" href="{% url 'home:reset-pass' %}">Lupa Kata Laluan</a>
    </button>
    <button class="btn4 index-for-loginNonAdmin">
        <a class="a-index-for-loginNonAdmin" href="{% url 'home:index' %}">Batal</a>
    </button>
</center>

</body>
</html>