{% extends "home/base.html" %}
{% load static %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/redirSuccess.css' %}">
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>
            Kemaskini Kata Laluan Berjaya
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="div-confirm">
        Sila tunggu sebentar... Ke halaman log masuk dalam 3, 2, 1...
    </div>

    <script>
        function redirect(){
           window.location.href = "/halaman-utama/log-masuk/bukan-admin/";
        }
    
        setTimeout(redirect, 3000);
    </script>
{% endblock %}