{% extends "home/base.html" %}
{% load static %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/resetPassword.css' %}">
    {% if isFirstPage == False %}
    <style>
        /* For resetpasswordformC (new), mobile vertical ("short" height) & mobile horizontal (all),
        put div outer into relative position to avoid cut off */
        @media screen and (max-width: 450px), (max-height: 450px) {
            @media screen and (max-height: 610px) {
                .div-outer{
                    height: fit-content;
                    position: relative;
                    top: 0;
                    left: 0;
                    margin: 0 auto;
                    transform: none;
                }
            }
        }
    </style>
    {% endif %}
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>
            Kemaskini Kata Laluan
        </h1>
    </div>
{% endblock %}

{% block content %}
    {% if isFirstPage == True %}
        <div class="div-error">
            {% if response %}
                {{ response }}
            {% endif %}

            {% if afterFailedLoginMsg %}
                {{ afterFailedLoginMsg }}
            {% endif %}
        </div>

        <div class="div-form-outer">
            <form action="{% url 'home:reset-pass' %}" class="ResetPassword" method="post">
                {% csrf_token %}
                {{ form.media.js }}
                <table class="table-form">
                    {{ form }}
                </table>
        
                <div class="div-buttons">
                    <button class="btn" type="submit">Seterusnya</button>
                    <button class="btn cancel">
                        <a class="a-for-ResetPassword" href="{% url 'home:login-nonadmin' %}">Batal</a>
                    </button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="div-password">
            <ul class="ul-password">
                Format kata laluan yang diterima adalah mesti mengandungi PALING KURANG SATU(1):
                <li>Huruf besar: A, B, C, hingga Z</li>
                <li>Huruf kecil: a, b, c, hingga z</li>
                <li>Angka: 0, 1, 2, hingga 9</li>
                <li>Aksara khas: !, @, # dan lain-lain</li>
            </ul>
        </div>
    
        <p class="p-error">{{ response }}</p>
    
        <div class="div-form-outer new">
            <form action="{% url 'home:reset-pass' %}" class="ResetPassword2" method="post">
                {% csrf_token %}
                {{ form.media.js }}

                <table class="table-form">
                    {{ form }}
                </table>
        
                <div class="div-buttons">
                    <button class="btn" type="submit">Seterusnya</button>
                    <button class="btn cancel">
                        <a class="a-for-ResetPassword" href="{% url 'home:login-nonadmin' %}">Batal</a>
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}