{% extends "search/adminbase.html" %}
{% load static %}

{% block title %} 
    <title>Future Cruise: Carian Mengikut Kursus</title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/admin/searchAdmin.css' %}">
{% endblock %}

{% block content %}
    <div class="container-form-search">
        <h1 class="search-header">Carian Mengikut Kursus</h1>
        <form method="GET" action="{% url 'search:course-admin' user_id %}">               
            <!-- course search -->
            <label for="inputCourse">Kursus :</label>
            <input class="form-course" type="search" name="course_contains" placeholder="Nama Kursus" />

            <!-- uni search -->
            <label for="inputUni">Universiti :</label>
            <input class="form-uni" type="search" name="uni_contains" placeholder="Nama Universiti" />
                    
            <button type="submit" class="btn btn-search">Cari</button>
        </form>
    </div>

    {% for course in allCourse %}
    <div class="search-result-container">
        <div class="rowAdmin">
            <h3 class="result-title course-name"><a href="{% url 'search:course-AdminPage' user_id course.id %}">{{ course.course }}</a></h3>
            <a title="Kemsakini" href="{% url 'search:updateCourseData-admin' user_id course.id %}"><i class="btn-update fas fa-edit"></i></a>
            <a title="Padam" href="{% url 'search:deleteCourseData-admin' user_id course.id %}"><i class="btn-delete fas fa-trash"></i></a>
        </div>
        <div class="row2">
            <p class="search-details course-lvlStudy">Peringkat Pengajian:</p>
            <p class="input">{{ course.studyLevel }}</p>
            <p class="search-details course-langguage">Bahasa Utama Kursus:</p>
            <p class="input">{{ course.langguage }}</p>
        </div>
        <div class="row3">
            <!-- <button><p class="search-detailscourse-uniOffer" onclick="openUniList()">Pilihan Universiti</p></button> -->
            <button class="accordion search-detailscourse-uniOffer">Pilihan Universiti</button>
            <div class="panel" style="display: none;">
            <!-- <div class="uni-list" style="display: none;"> -->
                {% for courseuni in allBridge %}
                    {% if course.id == courseuni.course.id %}
                        {% for uni in allUni %}
                            {% if uni.id == courseuni.university.id %}
                                <ul>
                                    <li class="offerList">
                                        <a class="li-p-uniOffer" href="{% url 'search:uni-AdminPage' user_id uni.id %}">{{uni.uni}}</a >
                                        <a title="Padam"  href="{% url 'search:deleteUniData-admin' user_id uni.id %}"><i class="btn-delete fas fa-trash"></i></a>
                                    </li>
                                </ul>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
    </div>   
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("listActive");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
        }
    </script>
{% endblock %}