{% extends "search/adminbase.html" %}
{% load static %}

{% block title %} 
    <title>Future Cruise: Carian Mengikut Kerjaya</title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/admin/searchAdmin.css' %}">
{% endblock %}

{% block content %}
    <div class="container-form-search">
        <h1 class="search-header">Carian Mengikut Kerjaya</h1>
        <form method="GET" action="{% url 'search:jobs-admin' user_id %}">
            <!-- job search -->
            <label for="inputJob">Kerjaya</label><br>
            <input class="form-job" type="search" name="job_contains" placeholder="Nama Kerjaya" />

            <!-- course search -->
            <label for="inputCourse">Kursus</label><br>
            <input class="form-course" type="search" name="course_contains" placeholder="Nama Kursus" />

            <button type="submit" class="btn btn-search" onclick="backBtn()">Cari</button>

        </form>
    </div>

    <!-- <div class="back-btn">
        <button id="backBtn" style="display:none">Kembali</button>
    </div> -->

    {% for job in allJobs %}
    <div class="search-result-container">
        <div class="rowAdmin">
            <h3 class="result-title job-name"><a href="{% url 'search:job-AdminPage' user_id job.id %}">{{ job.job }}</a></h3>
            <a title="Kemsakini" href="{% url 'search:updateJobData-admin' user_id job.id %}"><i class="btn-update fas fa-edit"></i></a>
            <a title="Padam" href="{% url 'search:deleteJobData-admin' user_id job.id %}"><i class="btn-delete fas fa-trash"></i></a>
        </div>
        <div class="row2">
            <p class="search-details job-skills">Kemahiran:</p>
            <p class="input">{{ job.skills }}</p>
            <p class="search-details course-langguage">Gaji Purata:</p>
            <p class="input">{{ job.avgSalary }}</p>
        </div>
        <div class="row3">
            <button class="accordion search-detailsjob-courseOffer">Kursus Berkaitan</button>
            <div class="panel" style="display: none;">
                {% for coursejob in allBridge %}
                    {% if job.id == coursejob.job.id %}
                        {% for course in allCourse %}
                            {% if course.id == coursejob.course.id %}
                                <ul>
                                    <li class="offerList">
                                        <a class="li-p-courseOffer" href="{% url 'search:course-AdminPage' user_id course.id %}">{{course.course}}</a>
                                        <a title="Padam" href="{% url 'search:deleteCourseData-admin' user_id course.id %}"><i class="btn-delete fas fa-trash"></i></a>
                                    </li>
                                </ul>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>   
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript">

        // function backBtn() {
        //     document.getElementById("backBtn").style.display = "block";
        // }

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("listActive");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
        }
    </script>
{% endblock %}