{% extends "search/adminbase.html" %}
{% load static %}

{% block title %} 
    <title>Future Cruise: Carian Mengikut Universiti</title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/admin/searchAdmin.css' %}">
{% endblock %}

{% block content %}
    <div class="container-form-search">
        <h1 class="search-header">Carian Mengikut Universiti</h1>
        <form method="GET" action="{% url 'search:uni-admin' user_id %}">               
            <!-- course search -->
            <label for="inputCourse">Universiti :</label>
            <input class="form-uni" type="search" name="uni_contains" placeholder="Nama Universiti" />

            <!-- uni search -->
            <label for="inputUni">Kursus :</label>
            <input class="form-course" type="search" name="course_contains" placeholder="Nama Kursus" />

            <!-- form group -->        
            <!-- <label for="inputUniCourse">Universiti atau Kursus</label>
            <input class="form-unicourse" type="search" name="uniorcourse_contains" placeholder="Nama Universiti/Kursus" />
            <span class="input-goup-append">
                <div class="input-group-text bg-transparent"> -->
                    <!-- putting search icon -->
                    <!-- <i class="fa fa-search"></i> 
                </div>
            </span> -->
                    
            <button type="submit" class="btn btn-search">Cari</button>
        </form>
    </div>

    {% for uni in allUni %}
    <div class="search-result-container">
        <div class="rowAdmin">
            <h3 class="result-title uni-name"><a href="{% url 'search:uni-AdminPage' user_id uni.id %}">{{ uni.uni }}</a></h3>
            <a title="Kemsakini" href="{% url 'search:updateUniData-admin' user_id uni.id %}"><i class="btn-update fas fa-edit"></i></a>
            <a title="Padam" href="{% url 'search:deleteUniData-admin' user_id uni.id %}"><i class="btn-delete fas fa-trash"></i></a>
        </div>
        <div class="row2">
            <p class="search-details uni-location">Lokasi:</p>
            <p class="input">{{ uni.location }}</p>
            <p class="search-details uni-typee">Jenis Institusi:</p>
            <p class="input">{{ uni.uniType }}</p>
        </div>
        <div class="row3">
            <!-- <button><p class="search-detailscourse-uniOffer" onclick="openUniList()">Pilihan Universiti</p></button> -->
            <button class="accordion search-detailsUni-courseOffer">Kursus yang ditawarkan</button>
            <div class="panel" style="display: none;">
            <!-- <div class="uni-list" style="display: none;"> -->
                {% for courseuni in allBridge %}
                    {% if uni.id == courseuni.university_id %}
                        {% for course in allCourse %}
                            {% if course.id == courseuni.course_id %}
                                <ul>
                                    <li class="offerList">
                                        <a class="li-p-courseOffer" href="{% url 'search:course-AdminPage' user_id course.id %}">{{course.course}}</a>
                                        <a title="Padam" href="{% url 'search:deleteCourseData-admin' user_id course.id %}"><i class="btn-delete fas fa-trash"></i></a>
                                    </li>
                                </ul>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
    </div>   
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("listActive");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
        }
    </script>
{% endblock %}