.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}

/* On mouse-over */
.btn:hover{
    background-color: white;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.plus-2 {
    display: none;
}

.delete{
    background-color: rgb(207, 61, 61);
}

.delete:hover{
    color: rgb(207, 61, 61);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(207, 61, 61, 0.699);
}

.cancel-delete{
    background-color: rgb(250, 127, 56);
}

.cancel-delete:hover {
    color: rgb(250, 127, 56);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 127, 56, 0.658);
}

.a-for-adminNotif {
    text-decoration: none;
    color: inherit;
}

/* div */
.div-section-header, .div-content-outer{
    /* background-color: darksalmon; */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.div-section-header{
    margin: -10px 0 -15px;
}

.div-content-outer{
    grid-auto-flow: row;
    max-height: 70vh;
    overflow: auto;
    border-radius: 10px;
    gap: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgray;
}

.div-table{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.div-modal-content-1, .div-modal-content-2{
    width: fit-content;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 10px 15px;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: black;
    box-sizing: border-box;
}

.div-modal-header-1, .div-modal-header-2{
    position: relative;
    width: 80%;
    height: fit-content;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    /* background-color: rgb(121, 85, 118); */
}

.div-confirm-delete-buttons{
    /* background-color: antiquewhite; */
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    /* top | horizontal | bottom */
    margin: 10px 0 5px;
    box-sizing: border-box;
}

/* table */
table {
    /* border: 1px solid whitesmoke; */
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

th {
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(250, 127, 56);
    color: white;
}
  
td {
    padding: 10px;
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: #eee;
}
  
tr:nth-child(odd) {
    background-color: #fff;
}
  
tr:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

/* form */
form, .div-form-content{
    /* background-color: white; */
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: row;
    justify-items: left;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
}

.div-form-content{
    background-color: none;
    grid-auto-flow: column;
    gap: 10px;
    padding-left: 0;
}

label{
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    justify-items: left;
    align-items: center;
    box-sizing: border-box;
}

/* input search */
.classname {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
}
  
input:focus::placeholder {color: transparent}

/* span */
.span-error{
    font-style: italic;
    color: rgb(207, 61, 61);
}

/* For minimized screen width (desktop) and/or tablet */
@media screen and (max-width: 1010px) {
    .div-content-outer{
        max-height: 65vh;
    }

    /* For tablet */
    @media screen and (min-height: 900px) and (max-height: 1280px) {
        .div-content-outer{
            max-height: 76vh;
        }

        .div-table{
            max-height: 65vh;
        }
    }
}

@media screen and (max-width: 600px) {
    .div-content-outer{
        max-height: 69vh;
    }
}

/* For mobile */
@media screen and (max-width: 480px), (max-height: 480px) {
    .btn, .div-modal-content-1, .div-modal-content-2, .div-modal-header-1, .div-modal-header-2, table, label, .classname{
        font-size: 12px;
        line-height: 16px;
    }

    .btn {
        padding: 5px 10px;
    }

    .div-section-header{
        margin: 0 0 -5px;
    }

    .div-content-outer{
        max-height: fit-content;
    }

    .div-table{
        max-height: 65vh;
    }

    th {
        padding: 10px;
    }

    td {
        padding: 5px;
    }

    /* vertical mobile */
    @media screen and (max-height: 650px) {
        .div-table{
            max-height: 60vh;
        }
    }

    @media screen and (max-height: 500px) {
        .div-table{
            max-height: 50vh;
        }

        .plus-1, .plus-3{
            display: none;
        }

        .plus-2 {
            display: block;
        }

        /* horizontal mobile */
        @media screen and (max-width: 900px) {
            .div-table{
                max-height: 30vh;
            }
        }

        @media screen and (max-width: 800px) {
            .div-table{
                max-height: 25vh;
            }
        }

        @media screen and (max-width: 600px) {
            .div-content-outer{
                max-height: 45vh;
            }

            .div-table{
                max-height: 30vh;
            }

            /* ip5 & ip5s vertical */
            @media screen and (max-width: 400px) {
                .div-content-outer{
                    max-height: fit-content;
                }
    
                .div-table{
                    max-height: 50vh;
                }

                form{
                    grid-auto-flow: row;
                }
            }

            form{
                grid-auto-flow: column;
            }
        }
    }

    .div-notif-ind{
        font-size: 12px;
        gap: 10px;
    }

    .div-text{
        line-height: 16px;
    }
}