.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}

/* On mouse-over */
.btn:hover{
    /* background: #eee; */
    background-color: rgb(245, 245, 245);
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.student, .parents, .teacher {
    border-radius: 25px;
    padding: 5px 10px;
    pointer-events: none;
    font-size: 12px;
    color: white;
}

.student{background-color: rgb(130, 124, 225);}
.parents{background-color: rgb(52, 202, 152);}
.teacher{background-color: rgb(245, 118, 59);}

.a-for-adminSuggestions {
    text-decoration: underline;
    color: inherit;
}

.a-for-adminSuggestions:hover{
    color: rgb(250, 127, 56);
    font-weight: bold;
}

/* div */
.div-section-header, .div-content-outer{
    /* background-color: darksalmon; */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.div-section-header{
    margin: -10px 0 -15px;
}

.div-content-outer{
    grid-auto-flow: row;
    max-height: 75vh;
    overflow: auto;
    border-radius: 10px;
    gap: 10px;
    padding: 10px 0;
    border: 1px solid lightgray;
}

.div-table{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.div-modal-content-3 {
    width: 50%;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 10px 15px;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: black;
    box-sizing: border-box;
}

.div-modal-header-3{
    position: relative;
    width: 80%;
    height: fit-content;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.div-suggestion-content, .div-suggestion-buttons{
    position: relative;
    width: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 0;
    box-sizing: border-box;
}

.div-suggestion-content{
    max-height: 50vh;
    overflow: auto;
}

.div-suggestion-buttons{
    height: fit-content;
    /* top | horizontal | bottom */
    margin: 10px 0 5px;
}

/* table */
table {
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.table-2{
    display: none;
}

/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

th {
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(250, 127, 56);
    color: white;
}
  
td {
    padding: 10px;
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: #eee;
}
  
tr:nth-child(odd) {
    background-color: #fff;
}
  
tr:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

/* form */
.form-suggestion-filter{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-self: right;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

/* input search */
#category, .select-status-1, .select-status-2 {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
}

.select-status-2{
    display: none;
}

/* For minimized screen width (desktop) and/or tablet */
@media screen and (max-width: 1010px) {
    .div-content-outer{
        max-height: 65vh;
    }

    .div-table{
        max-height: 52vh;
    }

    /* For tablet */
    @media screen and (min-height: 900px) and (max-height: 1280px) {
        .div-content-outer{
            max-height: 76vh;
        }

        .div-table{
            max-height: 67vh;
        }
    }
}

@media screen and (max-width: 600px) {
    .div-content-outer{
        max-height: 69vh;
    }

    .div-table{
        max-height: 56vh;
    }
}

/* For mobile */
@media screen and (max-width: 480px), (max-height: 480px) {
    .btn, .div-modal-content-3, .div-modal-header-3, .form-suggestion-filter, .table-2, #category, .a-for-adminSuggestions, .select-status-2 {
        font-size: 12px;
        line-height: 16px;
    }

    .btn{
        padding: 5px 10px;
    }

    .student, .parents, .teacher{
        font-size: 8px;
        line-height: 12px;
        padding: 3px 8px;
    }

    .a-for-adminSuggestions{
        text-decoration: underline;
        text-align: left;
    }

    .div-content-outer{
        max-height: 80vh;
    }

    .div-section-header{
        margin: 0 0 -5px;
    }

    .div-table{
        border-top: 3px solid lightgray;
        border-radius: 0;
        max-height: 70vh;
    }

    .table-1{
        display: none;
    }
    
    .table-2{
        display: table;
        width: 100%;
    }

    th{
        display: none;
    }

    td{
        text-align: center;
    }

    .select-status-1{
        display: none;
    }

    .select-status-2{
        display: inline;
    }

    td, #category, .select-status-2{
        padding: 5px;
    }

    /* ul */
    .ul-details {
        width: 100%;
        font-size: 12px;
        font-family: 'Varela Round', sans-serif;
        text-align: left;
        padding: 5px;
        padding-left: 15px;
        list-style-position: outside;
        margin: 0 auto;
        line-height: 16px;
        box-sizing: border-box;
    }

    .div-modal-content-3 {
        width: 80%;
    }

    /* Vertical */
    @media screen and (max-height: 720px) {
        .div-content-outer{
            max-height: 75vh;
        }
    
        .div-table{
            max-height: 65vh;
        }
    }

    @media screen and (max-height: 600px) {
        .div-content-outer{
            max-height: 65vh;
        }
    
        .div-table{
            max-height: 55vh;
        }
    }

    /* horizontal mobile */
    @media screen and (max-width: 850px) and (max-height: 480px) {
        .div-content-outer{
            max-height: 55vh;
        }
    
        .div-table{
            max-height: 50vh;
        }

        @media screen and (max-width: 820px){
            .div-content-outer{
                max-height: 45vh;
            }
        
            .div-table{
                max-height: 40vh;
            }
        }
    }
}