.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}

/* On mouse-over */
.btn:hover{
    /* background: #eee; */
    background-color: white;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.a-for-adminNotif, .a-for-linkto {
    text-decoration: none;
    color: inherit;
}

.a-for-linkto{
    font-weight: bold;
}

.a-for-linkto:hover{
    text-decoration: underline;
    color: rgb(250, 127, 56);
}

.div-notif-ind.unread .a-for-linkto:hover{
    color: white;
}

/* div */
.div-section-header, .div-content-outer{
    /* background-color: darksalmon; */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.div-section-header{
    margin: -10px 0 -15px;
}

.div-content-outer{
    grid-auto-flow: row;
    max-height: 70vh;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.div-notif-ind{
    background-color: white;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3% 97%;
    width: 100%;
    height: fit-content;
    padding: 5px 10px 5px 5px;
    gap: 5px;
    align-items: flex-start;
    justify-items: center;
    justify-content: space-between;
    border: solid lightgray;
    border-width: 0 0 1px 0;
    padding: 15px 10px 10px;
    box-sizing: border-box;
}

.div-notif-ind:last-child{
    border-width: 0;
}

.unread{
    background-color: rgb(250, 188, 54);
}

.fas fa-reply, .fas fa-comments, .fas fa-comment-alt, .fas fa-lightbulb {
    width: 100%;
    height: 100%;
}

.div-text{
    /* background-color: lightpink; */
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: left;
    justify-content: left;
    line-height: 25px;
    margin-top: -5px;
    box-sizing: border-box;
}

/* span */
.span-bold{
    font-weight: bold;
}