.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}

/* On mouse-over */
.btn:hover{
    /* background: #eee; */
    background-color: white;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.delete{
    background-color: rgb(207, 61, 61);
}

.delete:hover{
    color: rgb(207, 61, 61);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(207, 61, 61, 0.699);
}

.cancel-delete{
    background-color: rgb(250, 127, 56);
}

.cancel-delete:hover {
    color: rgb(250, 127, 56);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 127, 56, 0.658);
}

.btn2{
    border: none;
    background-color: rgb(250, 127, 56);
    border-radius: 35px 35px 0 0;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    text-align: center;
}

.clicked{
    border: solid white;
    /* top | horizontal | bottom */
    border-width: 3px 3px 0;
    background-color: rgb(250, 188, 54);
}

.a-for-nonAdminBookmark {
    text-decoration: none;
    color: inherit;
}

.a-with-underline {
    text-decoration: underline;
    color: inherit;
}

.a-with-underline:hover{
    color: rgb(250, 127, 56);
    font-weight: bold;
}

/* form */
.form-post, .form-info{
    /* background-color: rgb(33, 150, 120); */
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: flex-end;
    gap: 10px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
}

#post-title, #date-post, #info-category, #date-info {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    width: fit-content;
}
  
input:focus::placeholder {color: transparent}

/* div */
.div-section-header, .div-content-outer{
    /* background-color: darksalmon; */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.div-section-header{
    margin: -10px 0 -15px;
}

.div-content-outer{
    grid-auto-flow: row;
    max-height: 70vh;
    overflow: auto;
    border-radius: 10px;
}

.div-type{
    grid-template-columns: repeat(2, auto);
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 0;
    position: relative;
    width: fit-content;
    gap: 0;
}

.div-post, .div-info{
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    height: fit-content;
    min-width: 100%;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 10px 10px 10px;
    border: 1px solid lightgray;
    padding: 10px;
    gap: 10px;
    position: relative;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

.div-info{
    display: none;
}

/* Set a fixed scrollable wrapper */
.div-table-post, .div-table-info {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.div-no-bookmark{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    height: fit-content;
    box-sizing: border-box;
}

.div-modal-content-4{
    width: fit-content;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 10px 15px;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: black;
    box-sizing: border-box;
}

.div-modal-header-4{
    position: relative;
    width: 80%;
    height: fit-content;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    /* background-color: rgb(121, 85, 118); */
}

.div-confirm-delete-buttons{
    /* background-color: antiquewhite; */
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    /* top | horizontal | bottom */
    margin: 10px 0 5px;
    box-sizing: border-box;
}

/* table */
table {
    /* border: 1px solid whitesmoke; */
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.table-2{
    display: none;
}

/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

th {
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(250, 127, 56);
    color: white;
}
  
td {
    padding: 10px;
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: #eee;
}
  
tr:nth-child(odd) {
    background-color: #fff;
}
  
tr:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

/* p */
.p-scroll{
    position: relative;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    text-align: right;
    display: block;
    line-height: normal;
    color: black;
}

/* For minimized screen width (desktop) and/or tablet */
@media screen and (max-width: 1010px) {
    .div-content-outer{
        max-height: 65vh;
    }

    .div-table-post, .div-table-info {
        max-height: none;
        height: 100%;
    }

    /* For tablet */
    @media screen and (min-height: 900px) and (max-height: 1280px) {
        .div-content-outer{
            max-height: 76vh;
        }
    }
}

@media screen and (max-width: 600px) {
    .div-content-outer{
        max-height: 69vh;
    }

    .form-post, .form-info{
        grid-auto-flow: row;
        justify-items: center;
        justify-content: stretch;
        width: 100%;
        gap: 5px;
    }

    label{
        width: 100%;
        text-align: left;
    }

    #post-title, #date-post, #info-category, #date-info{
        width: 100%;
    }

    #post-title{
        box-sizing: border-box;
    }
}

/* For mobile */
@media screen and (max-width: 480px), (max-height: 480px) {
    .btn, .btn2, #post-title, #date-post, #info-category, #date-info, label, table, .div-no-bookmark, .div-modal-content-4, .div-modal-header-4 {
        font-size: 12px;
        line-height: 16px;
    }

    .btn, .btn2{
        padding: 5px 10px;
    }

    .btn2{
        border-radius: 25px 25px 0 0;
    }

    .div-section-header{
        margin: 0 0 -5px;
    }

    .div-content-outer{
        /* background-color: lightblue; */
        max-height: 75vh;
    }

    .div-table{
        border-top: 3px solid lightgray;
        border-radius: 0;
    }

    .table-1{
        display: none;
    }
    
    .table-2{
        display: table;
        width: 100%;
    }

    td{
        text-align: left;
    }

    th, td, #post-title, #date-post, #info-category, #date-info{
        padding: 5px;
    }

    /* vertical mobile */
    @media screen and (max-height: 600px) {
        .div-content-outer{
            /* background-color: pink; */
            max-height: 65vh;
        }
    }

    /* horizontal mobile */
    @media screen and (max-width: 920px) and (max-height: 480px) {
        .div-content-outer{
            /* background-color: lightgreen; */
            max-height: 57vh;
        }

        /* Vertical ip5 & ip5s */
        @media screen and (max-width: 320px) and (max-height: 600px) {
            .div-content-outer{
                /* background-color: violet; */
                max-height: 65vh;
            }
        }

        @media screen and (max-height: 350px) {
            .div-content-outer{
                /* background-color: lightseagreen; */
                max-height: 45vh;
            }
        }
    }
}