.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}

/* On mouse-over */
.btn:hover{
    /* background: #eee; */
    background-color: white;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn2{
    border: none;
    background-color: rgb(250, 127, 56);
    border-radius: 35px 35px 0 0;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    text-align: center;
}

.clicked{
    border: solid white;
    /* top | horizontal | bottom */
    border-width: 3px 3px 0;
    background-color: rgb(250, 188, 54);
}

.a-for-quiz {
    text-decoration: none;
    font-weight: bold;
    color: rgb(250, 127, 56);
}

.a-for-teacher {
    text-decoration: none;
    cursor: pointer;
    color: rgb(250, 127, 56);
}

.a-for-quiz:hover{
    text-decoration: underline;
}

.a-for-teacher:hover > i {
    transition: transform 150ms;
    transform: scale(1.03);
    font-size: 25px;
}

/* form */
.form-career-parent{
    /* background-color: rgb(33, 150, 120); */
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: flex-end;
    gap: 10px;
    font-size: 16px;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
}

#student-name {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    width: fit-content;
}
  
input:focus::placeholder {color: transparent}

/* div */
.div-section-header, .div-content-outer{
    /* background-color: darksalmon; */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.div-section-header{
    margin: -10px 0 -15px;
}

.div-content-outer{
    grid-auto-flow: row;
    max-height: 70vh;
    overflow: auto;
    border-radius: 10px;
    padding: 0 10px 10px 0;
}

.div-type{
    grid-template-columns: repeat(2, auto);
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 0;
    position: relative;
    width: fit-content;
    gap: 0;
}

/* Student, Parent */
.div-career-student, .div-career-parent, .div-game-perf, .div-parent-eng{
    background-color: rgb(245, 245, 245);
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 10px 10px 10px;
    border: 1px solid lightgray;
    padding: 10px;
    position: relative;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Varela Round', sans-serif;
    line-height: normal;
    color: black;
}

.div-career-parent > .div-filter {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    box-sizing: border-box;
}

.div-career-student #podium-box, .div-career-parent #podium-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 280px;
    /* background-color: lightsalmon; */
}

.div-career-student .div-step-container, .div-career-parent .div-step-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* background-color: darkseagreen; */
    width: fit-content;
}

.div-step-container > div:first-child {
    margin-top: auto;
    text-align: center;
    margin-bottom: 10px;
    /* background-color: lightblue; */
}

.div-step-container > div:first-child:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 127, 56);
    transition: transform 150ms;
    transform: scale(1.03);
    border-radius: 60px;
    width: 90%;
    align-self: center;
    background-color: rgb(250, 188, 54);
    text-decoration: underline;
}

.div-step-container > div:first-child .div-tooltip-text {
    visibility: hidden;
    width: 100%;
    top: 100%;
    margin-top: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    word-break: break-all;
}

.div-step-container > div:first-child .div-tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%; /* to put arrow on top of tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    /* top | right | bottom | left */
    border-color: transparent transparent black transparent;
}

.div-step-container > div:first-child:hover .div-tooltip-text {
    visibility: visible;
}

.more-info{
    text-decoration: none;
    color: inherit;
}

.more-info:hover{
    color: rgb(250, 188, 54);
}

.img-field{
    width: 80px;
    height: 80px;
}

.div-ind-step{
    color: white;
    font-size: 4.5rem;
    background-color: rgb(250, 127, 56);
    text-align: center;
}

#first-step {
    height: 50%;
}

#second-step {
    height: 35%;
}

#third-step {
    height: 30%;
}

.div-no-career, .div-no-career-2, .div-no-student{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    height: fit-content;
    box-sizing: border-box;
}

.div-career-parent #podium-box .div-no-career{
    margin-top: 10px;
}

/* Teacher */
/* form */
.form-game-perf, .form-parent-eng{
    /* background-color: aquamarine; */
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding-left: 5px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#student-form, #student-form-parent, #student-name {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    width: fit-content;
}
  
input:focus::placeholder {color: transparent}

.div-parent-eng{
    gap: 10px;
    display: none;
}

.div-game-perf{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.div-filter-game, .div-filter-eng{
    /* background-color: antiquewhite; */
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    box-sizing: border-box;
}

.div-game-perf .div-grid-game {
    display: grid;
    grid-template-columns: repeat(4, 24.2%);
    gap: 10px;
    width: 100%;
    min-width: fit-content;
    box-sizing: border-box;
}

.div-parent-eng .div-grid-eng {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    gap: 10px;
    width: 100%;
    min-width: fit-content;
    box-sizing: border-box;
}

.div-game-perf .div-grid-game > article, .div-game-perf .div-grid-game .div-chart-container > canvas,
.div-parent-eng .div-grid-eng > article {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}

.div-game-perf .div-grid-game > article, .div-parent-eng .div-grid-eng > article {
    height: 160px;
}

.div-game-perf .div-grid-game .div-chart-container > canvas {
    height: 350px;
}

.div-game-perf .div-grid-game > div {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    /* background-color: rgb(255, 202, 202); */
}

#AvgSessionTimeTaken, #LastPlayedTime, #TotalSuggestions, #LastChatTime{
    height: 200px;
}

.div-game-perf .div-grid-game > article:nth-child(5){
    grid-column: 1 / 3;
}

.div-game-perf .div-grid-game > article:nth-child(6){
    grid-column: 3 / 5;
}

.div-game-perf .div-grid-game > div:nth-child(7),
.div-game-perf .div-grid-game > div:nth-child(9){
    grid-column: 1 / 3;
}

.div-game-perf .div-grid-game > div:nth-child(8),
.div-game-perf .div-grid-game > div:nth-child(10){
    grid-column: 3 / 5;
}

.div-parent-eng .div-grid-eng > article:nth-child(4){
    grid-column: 1 / 2;
}

.div-parent-eng .div-grid-eng > article:nth-child(5){
    grid-column: 2 / 4;
}

.div-header{
    /* background-color: rgb(250, 191, 245); */
    position: relative;
    font-weight: bold;
    height: fit-content;
    text-align: left;
    word-break: break-all;
}

.div-data{
    /* background-color: rgb(255, 195, 146); */
    position: relative;
    height: 180px;
    /* height: auto; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

#LastChatTime .div-data{
    display: grid;
    grid-auto-flow: row;
    justify-self: center;
    align-items: center;
    /* background-color: antiquewhite; */
    height: 100%;
}

.div-data-value{
    /* background-color: rgb(250, 159, 159); */
    position: relative;
    padding-top: 20px;
    height: 70%;
    vertical-align: bottom;
    box-sizing: border-box;
    font-size: 3rem;
    color: rgb(250, 127, 56);
}

#AvgSessionHintsUsed .div-data-value{
    padding-top: 10px;
}

#AvgSessionTimeTaken .div-data-value{
    padding-top: 30px;
}

#TotalSuggestions .div-data-value{
    padding-top: 35px;
}

#LastPlayedTime .div-data-value, #LastChatTime .div-data-value{
    padding: 0 10px;
    word-break: break-word;
}

#LastChatTime .div-data-value{
    /* background-color: aquamarine; */
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
}

.div-data-subtitle{
    /* background-color: rgb(208, 122, 248); */
    position: relative;
    height: 30%;
    box-sizing: border-box;
    color: black;
    font-size: 1.1rem;
}

#AvgSessionTimeTaken .div-data-subtitle, #LastPlayedTime .div-data-subtitle,
#LastChatTime .div-data-subtitle{
    display: none;
    height: 40%;
}

#LastChatTime .div-data-subtitle{
    height: 0;
}

#TotalSuggestions .div-data-subtitle{
    height: 40%;
    padding-bottom: 30px;
}

.div-buttons{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
}

/* Set a fixed scrollable wrapper */
.div-table-student-list, .div-parent-details-table {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.div-parent-details {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    gap: 10px;
    padding-left: 5px;
    justify-items: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.div-parent-details-table {
    max-height: 40vh;
}

.div-modal-content-5{
    width: fit-content;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 10px 15px;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: black;
    box-sizing: border-box;
}

.div-modal-header-5{
    position: relative;
    width: 80%;
    height: fit-content;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    /* background-color: rgb(121, 85, 118); */
}

.div-student-list-buttons{
    /* background-color: antiquewhite; */
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    /* top | horizontal | bottom */
    margin: 10px 0 5px;
    box-sizing: border-box;
}

/* table */
table {
    /* border: 1px solid whitesmoke; */
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

th {
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(250, 127, 56);
    color: white;
}
  
td {
    padding: 10px;
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: #eee;
}
  
tr:nth-child(odd) {
    background-color: #fff;
}
  
tr:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

/* p */
.p-scroll{
    position: relative;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    text-align: right;
    display: block;
    line-height: normal;
    color: black;
}

/* span */
.span-parent-bold, .span-parent-no-bold{
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

.span-parent-no-bold{
    font-weight: normal;
}

/* For minimized screen width (desktop) and/or tablet */
@media screen and (max-width: 1010px) {
    .div-content-outer{
        max-height: 65vh;
    }

    /* For tablet */
    @media screen and (min-height: 900px) and (max-height: 1280px) {
        .div-content-outer{
            max-height: 76vh;
        }

        /* Teacher */
        .div-game-perf .div-grid-game {
            grid-template-columns: repeat(4, 23.8%);
        }

        .div-parent-eng .div-grid-eng {
            background-color: violet;
            grid-template-columns: repeat(3, 32.5%);
        }

        .form-parent-eng{
            /* background-color: pink; */
            grid-auto-flow: row;
            width: 100%;
            justify-content: stretch;
        }
    
        .form-parent-eng label{
            width: 100%;
            text-align: left;
        }
    
        #student-name, #student-form-parent{
            /* background-color: orange; */
            width: 100%;
            box-sizing: border-box;
        }
    }
}

@media screen and (max-width: 600px) {
    .div-content-outer{
        max-height: none;
        height: 100%;
    }

    .div-modal-content-5 {
        width: 80%;
    }

    /* Parent */
    .div-career-parent > .div-filter{
        /* background-color: green; */
        justify-items: center;
        justify-content: stretch;
    }

    .form-career-parent{
        /* background-color: pink; */
        grid-auto-flow: row;
        width: 100%;
        justify-content: stretch;
    }

    .form-career-parent label{
        width: 100%;
        text-align: left;
    }

    #student-name, #student-form-parent{
        /* background-color: orange; */
        width: 100%;
        box-sizing: border-box;
    }

    /* Teacher */
    .form-parent-eng{
        /* background-color: pink; */
        grid-auto-flow: row;
        width: 100%;
        justify-content: stretch;
        padding: 0 5px;
    }

    .form-parent-eng label{
        width: 100%;
        text-align: left;
    }

    #student-name, #student-form-parent{
        /* background-color: orange; */
        width: 100%;
        box-sizing: border-box;
    }

    .div-game-perf .div-grid-game, .div-parent-eng .div-grid-eng {
        grid-template-columns: repeat(4, 23.4%);
    }

    #AvgSessionTimeTaken, #LastPlayedTime{
        height: 300px;
    }

    #AvgSessionTimeTaken .div-data-value{
        padding-top: 65px;
    }

    .div-game-perf .div-grid-game > article:nth-child(1),
    .div-game-perf .div-grid-game > article:nth-child(3),
    .div-parent-eng .div-grid-eng > article:nth-child(1),
    .div-parent-eng .div-grid-eng > article:nth-child(3){
        grid-column: 1 / 3;
    }

    .div-game-perf .div-grid-game > article:nth-child(2),
    .div-game-perf .div-grid-game > article:nth-child(4),
    .div-parent-eng .div-grid-eng > article:nth-child(2),
    .div-parent-eng .div-grid-eng > article:nth-child(4){
        grid-column: 3 / 5;
    }

    .div-game-perf .div-grid-game > div:nth-child(7),
    .div-game-perf .div-grid-game > div:nth-child(8),
    .div-game-perf .div-grid-game > div:nth-child(9),
    .div-game-perf .div-grid-game > div:nth-child(10),
    .div-parent-eng .div-grid-eng > article:nth-child(5){
        grid-column: 1 / 5;
    }

    #TotalBookmarks{
        height: 200px;
    }
}

/* For mobile */
@media screen and (max-width: 480px), (max-height: 480px) {
    .btn, .btn2, #student-form, #student-form-parent, #student-name, label, table, .span-note, .div-no-career, .div-no-career-2, .div-no-student, .div-career-student, .div-career-parent, .div-modal-content-5, .div-modal-header-5, .div-step-container > div:first-child .div-tooltip-text{
        font-size: 12px;
        line-height: 16px;
    }

    .btn, .btn2{
        padding: 5px 10px;
    }

    .btn2{
        border-radius: 25px 25px 0 0;
    }

    .div-section-header{
        margin: 0 0 -5px;
    }

    #student-form,  #student-form-parent, #student-name, td{
        padding: 5px;
    }

    th{
        padding: 10px;
    }

    .div-ind-step{
        font-size: 2rem;
        line-height: normal;
    }

    /* vertical mobile */
    @media screen and (max-width: 480px) and (max-height: 980px) {
        /* Student/Parent */
        .div-career-student #podium-box, .div-career-parent #podium-box{
            /* background-color: aqua; */
            height: 230px;
        }

        #first-step {
            height: 50%;
        }
        
        #second-step {
            height: 35%;
        }
        
        #third-step {
            height: 30%;
        }

        /* Teacher */
        .div-game-perf .div-grid-game, .div-parent-eng .div-grid-eng {
            /* background-color: aqua; */
            grid-template-columns: repeat(4, 22.5%);
        }
    
        #AvgSessionTimeTaken, #LastPlayedTime{
            height: 200px;
        }
    
        #AvgSessionTimeTaken .div-data-value{
            padding-top: 30px;
        }
    
        #AvgSessionHintsUsed .div-data-value{
            padding-top: 20px;
        }
    
        .div-game-perf .div-grid-game > article:nth-child(1),
        .div-game-perf .div-grid-game > article:nth-child(2),
        .div-game-perf .div-grid-game > article:nth-child(3),
        .div-game-perf .div-grid-game > article:nth-child(4),
        .div-game-perf .div-grid-game > article:nth-child(5),
        .div-game-perf .div-grid-game > article:nth-child(6),
        .div-parent-eng .div-grid-eng > article:nth-child(1),
        .div-parent-eng .div-grid-eng > article:nth-child(2),
        .div-parent-eng .div-grid-eng > article:nth-child(3),
        .div-parent-eng .div-grid-eng > article:nth-child(4){
            grid-column: 1 / 5;
        }

        #TotalBookmarks .div-data-value{
            padding-top: 30px;
        }

        #TotalBookmarks, #TotalSuggestions{
            height: 180px;
        }

        #TotalBookmarks .div-data-subtitle{
            height: 40%;
        }

        @media screen and (max-height: 900px) {
            .div-game-perf .div-grid-game {
                /* background-color: brown; */
                grid-template-columns: repeat(4, 22%);
            }

            #LastPlayedTime, #LastChatTime{
                height: 270px;
            }

            #TotalSuggestions .div-data-value{
                padding-top: 20px;
            }
    
            #TotalSuggestions .div-data-subtitle{
                height: 40%;
            }

            @media screen and (max-height: 900px) {
                /* Student */
                #first-step {
                    height: 40%;
                }
                
                #second-step {
                    height: 25%;
                }
                
                #third-step {
                    height: 20%;
                }

                #LastPlayedTime, #LastChatTime{
                    height: 300px;
                }
            }
        }
    }

    /* horizontal mobile */
    @media screen and (max-width: 920px) and (max-height: 480px) {
        .div-content-outer{
            /* background-color: lightgreen; */
            max-height: none;
            height: 100%;
        }

        /* Student/Parent */
        .div-career-student #podium-box, .div-career-parent #podium-box{
            /* background-color: aqua; */
            height: 230px;
        }

        #first-step {
            height: 50%;
        }
        
        #second-step {
            height: 35%;
        }
        
        #third-step {
            height: 30%;
        }

        /* Teacher */
        .form-parent-eng{
            /* background-color: pink; */
            grid-auto-flow: row;
            width: 100%;
            justify-content: stretch;
        }
    
        .form-parent-eng label{
            width: 100%;
            text-align: left;
        }
    
        #student-name, #student-form-parent{
            /* background-color: orange; */
            width: 100%;
            box-sizing: border-box;
        }

        .div-game-perf .div-grid-game {
            /* background-color: lightseagreen; */
            grid-template-columns: repeat(4, 23.8%);
        }

        .div-game-perf .div-grid-game > article:nth-child(1),
        .div-game-perf .div-grid-game > article:nth-child(3),
        .div-game-perf .div-grid-game > article:nth-child(5){
            grid-column: 1 / 3;
        }

        .div-game-perf .div-grid-game > article:nth-child(2),
        .div-game-perf .div-grid-game > article:nth-child(4),
        .div-game-perf .div-grid-game > article:nth-child(6){
            grid-column: 3 / 5;
        }

        #AvgSessionTimeTaken, #LastPlayedTime{
            height: 300px;
        }
    
        #AvgSessionTimeTaken .div-data-value{
            padding-top: 65px;
        }

        #LastPlayedTime .div-data-value{
            padding-top: 20px;
        }

        #AvgSessionHintsUsed .div-data-value{
            padding-top: 20px;
        }

        @media screen and (max-height: 320px) {
            /* .div-content-outer{
                background-color: greenyellow;
            } */

            /* Teacher */
            .div-game-perf .div-grid-game {
                /* background-color: goldenrod; */
                grid-template-columns: repeat(4, 23.4%);
            }

            @media screen and (max-width: 600px) {
                /* Teacher */
                #AvgSessionTimeTaken, #LastPlayedTime{
                    height: 350px;
                }
        
                #AvgSessionHintsUsed .div-data-value{
                    padding-top: 10px;
                }
            }
        }
    }
}