/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }
  
*::-webkit-scrollbar-track {
/* background: transparent; */
background: linear-gradient(
        rgba(255, 190, 93, 0.664) 0%,
        rgba(253, 174, 110, 0.658) 20%,
        rgba(255, 87, 87, 0.459) 90%
    );
opacity: 0.2;
}

*::-webkit-scrollbar-thumb {
background-color: rgba(224, 224, 224, 0.644);
border-radius: 50px;
}

body {
    background: linear-gradient(
        rgba(255, 190, 93, 0.664) 0%,
        rgba(253, 174, 110, 0.658) 20%,
        rgba(255, 87, 87, 0.459) 90%
    );
    padding-bottom: 100px;
    color: white;
}

.popup-overlay{
    /* display:none; */
    position:fixed;
    background-color: rgba(0, 0, 0, 0.712);
    width: 100%;
    height: 100%;
    z-index: 2;
}

#mainContainer{
    position: relative;
    z-index: 1;
}

#instructPopMessage{
    z-index: 3;
    background: rgb(236, 164, 164);
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 40px;
    width: 50%;
    top: 15%;
    left: 25%;
    color: white;
    animation: fadeinPop 1s;
    -webkit-animation: fadeinPop 1s;
}

.popMessage{
    font-size: 20px;
    text-align: left;
}

.title-pop{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.time-pop{
    font-size: 23px;
    text-align: center;
}

.instList-pop{
    line-height: 1.6;
}

#btn-mainPop{
    display:flex;
    justify-content: center;
    justify-items: center;
}

#btn-closePop{
    font-size: 20px;
    width: 10rem;
    padding: 10px;
    border: none;
    border-radius: 5rem;
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background: rgb(240, 127, 62);
    transition: 0.4s;
}

#btn-closePop:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: rgb(190, 0, 190);
}

@keyframes fadeinPop {
    0% {
      opacity: 0;
      top:13%
    }
    100% {
      opacity: 1;
      top:15%
    }
  }

@keyframes fadeoutPop {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    display: none;
}
}

.progress-navbar{
    font-family: 'Varela Round', sans-serif;
    /* font-weight: 100; */
    font-size: 2rem;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav p{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-family: 'Varela Round', sans-serif;
    font-size: 36px;
    margin-left: 50px;
}

#wrapper{
    justify-content: center;
    align-items: center;
}

#hud{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50%;
    justify-content: center;
}

.hud-item p, h1{
    font-size: 20px;
}

.personality-container{
    background-color: rgba(255, 87, 87, 0.418);
    border-radius: 10px;
    margin: 20px 60px 10px 60px;
    padding: 1px;
}

.personality{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    line-height: 0.5;
    font-size: 20px;
}

.persona-name{
    font-size: 30px;
    font-weight: 100;
}

.progress-container{
    position: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    line-height: 0.5;
}

#progressText{
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
}

.progressBar{
    width:80%;
    height: 10px;
    border: solid rgb(223, 60, 11);
    border-radius: 50px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#progressBarFull{
    height: 100%;
    background: rgb(223, 60, 11);
    width: 0%;
}

.test-container{
    background: rgba(214, 102, 181, 0.445);
    padding: 4px 0 4px 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

.question{
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    margin: 40px;
}

.quest-main{
    font-size: 45px;
}

.quest-desc{
    font-weight: 50;
}

.hr-quest{
    border-radius: 5px;
    width:90%;
}

.div-outer-choice{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 50px;
    margin: 40px auto 10px auto ;
}

.choice-container {
    height: 5rem;
    border-radius: 30px;
    width: 25rem;
    transition: 0.4s;
}

.choice-container:hover {
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.1);
}

.choice-text{
    background-color: rgb(250, 127, 56);
    box-sizing: border-box;
    text-align: center;
    padding: 1vw;
    width: 100%;
    font-size: 1.4rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    /* border-radius: 0 4px 4px 0; */
}

.choice-container input[type="radio"]:empty{
    display: none;
}

.choice-container input[type="radio"]:empty ~ .choice-text label{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.choice-container input[type="radio"]:checked ~ .choice-text{
    border: 3px solid white;
    background-color: rgb(178, 54, 250);
}


.choice-container input[type="radio"]:checked ~ .choice-text {
    border-left: none;
}

.div-buttons{
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 50px;
    margin-top:30px;
}

.btn {
    border:none;
    border-radius: 35px;
    background-color: rgb(121, 85, 118);
    font-size: 20px;
}
  
.btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(121, 85, 118);
    transition: transform 150ms;
    transform: scale(1.03);
}

.div-btn-end{
    display: flex;
    align-items: center;
    justify-content: center;
}

.end{
    background-color: rgba(255, 87, 87, 0.548);
}

.end:hover{
    background-color: rgb(223, 61, 61);
}

.div-quit-button{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    
    margin: 2vw auto;
    margin-bottom: 0;
    align-items: center;
    justify-items: center;
    gap: 1vw;
    box-sizing: border-box;
}

#quest-section{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: white;
}

#questionText{
    margin: 3rem 0rem 3.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: 2.7rem;
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}