/* student style */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(224, 224, 224);
  border-radius: 50px;
  /* border: 3px solid orange; */
}

body {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  color: white;
  margin-bottom: 5rem;
  line-height: 1.5em;
}

.wrapper {
  height: 92.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .bg1 {
  background: url('') no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
} */

.main-icon {
  width:15rem;
  height:15rem;
}

.icon1{
  display: inline-block;
  margin-top: 1rem;
  margin-left: 23rem;
  animation: fadeicon1 1.5s;
  -webkit-animation: fadeicon1 1.5s; /*Safari, Chrome and Opera > 12.1*/

     /* -moz-animation: fadein 1s; Firefox < 16
      -ms-animation: fadein 1s; Internet Explorer
       -o-animation: fadein 1s; Opera < 12.1 */
}

.icon2{
  display: inline-block;
  margin-top: 1rem;
  margin-left: 5rem;
  animation: fadeicon2 1.5s;
  -webkit-animation: fadeicon2 1.5s; /*Safari, Chrome and Opera > 12.1*/

     /* -moz-animation: fadein 1s; Firefox < 16
      -ms-animation: fadein 1s; Internet Explorer
       -o-animation: fadein 1s; Opera < 12.1 */
}

.icon3{
  width:5rem;
  height:10rem;
  display: inline-block;
}

.hero-text {
  background: linear-gradient(
    rgba(252, 218, 105, 0.432) 0%,
    rgba(253, 174, 110, 0.356) 70%,
    rgba(255, 87, 87, 0.295) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h1 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
  position: absolute;
  font-size: 4rem;
  margin: 1rem 5rem 5rem 5rem;
  animation: fadein 1s;
  -webkit-animation: fadein 1s; /*Safari, Chrome and Opera > 12.1*/

     /* -moz-animation: fadein 1s; Firefox < 16
      -ms-animation: fadein 1s; Internet Explorer
       -o-animation: fadein 1s; Opera < 12.1 */
}

.info-container {
  background: rgba(255, 87, 87, 0.295);
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-container{
  margin: 0 0 0 -3.3rem;
  opacity: 0;
  animation: fadePg2 1s;
  -webkit-animation: fadePg2 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.text-container h1 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  margin-left: 3.5rem;
}

/* --------------------------------------------------------------------------------- */

.row{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 6%;
  margin-bottom: 10px;
}

.btn{
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  padding: 1rem 0;
  width: 25rem;
  border-radius: 5rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(240, 127, 62);
  transition: 0.4s;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.1);
  background: rgb(121, 85, 118);
}

/* .btn[disabled]:hover{
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
} */

#result-btn{
  background: rgb(255, 146, 56)
}

#result-btn:hover{
  background: rgb(121, 85, 118);
}

@keyframes fadeicon1 {
  0% {
    opacity: 0;
    margin-left: 21rem;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
    margin-left: 23rem;
  }
}

@keyframes fadeicon2 {
  0% {
    opacity: 0;
    margin-left: 9rem;
  }
  100% {
    opacity: 1;
    margin-left: 5rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin: 0.1rem 5rem 5rem 5rem;
  }
  100% {
    opacity: 1;
    margin: 1rem 5rem 5rem 5rem;
  }
}

@keyframes fadePg2 {
  0% {
    opacity: 0;
    margin-top: 3rem;
  }
  100% {
    opacity: 1;
    margin-top: 5rem;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeicon1 {
  0% {
    opacity: 0;
    margin: 0.1rem 5rem 5rem 5rem;
  }
  100% {
    opacity: 1;
    margin: 1rem 5rem 5rem 5rem;
  }
}

@-webkit-keyframes fadeicon2 {
  0% {
    opacity: 0;
    margin: 0.1rem 5rem 5rem 5rem;
  }
  100% {
    opacity: 1;
    margin: 1rem 5rem 5rem 5rem;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    margin: 0.1rem 5rem 5rem 5rem;
  }
  100% {
    opacity: 1;
    margin: 1rem 5rem 5rem 5rem;
  }
}

@-webkit-keyframes fadePg2{
  0% {
    opacity: 0;
    margin-top: 3rem;
  }
  100% {
    opacity: 1;
    margin-top: 5rem;
  }
}