.newRecord-main-container {
    border-radius: 10px;
    background-color: rgba(238, 152, 121, 0.781);
    padding: 10px 40px 40px 40px;
    margin: 30px 90px 40px 90px;
    box-shadow: 3px 3px rgba(110, 21, 21, 0.473);
    text-align: center;
    color: black;
}

.newRecord-section{
    font-weight: normal;
}

.info-tab{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

a{
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.section-content{
    color: white;
    font-size: 25px;
}

.createlinks{
    /* background-color: rgb(253, 97, 40); */
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
}


