.rowAdmin {
    display: grid;
    grid-template-columns: auto 5% 5%;
    margin-bottom: 25px;
    grid-gap: 5px;
}

a{
    width:fit-content;
}

i:hover{
    color: black;
}

.offerList{
    display: grid;
    grid-template-columns: auto 7%
}