{% extends "search/userbase.html" %}
{% load static %}

{% block title %} 
    <title>Future Cruise: Cari Semua Rekod</title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user/searchCourse.css' %}">
{% endblock %}

{% block content %}
    <div class="container-form-search">
        <h1 class="course-header">Cari Semua Rekod</h1>
        <form method="GET" action="{% url 'search:all-nonadmin' user_type user_id %}">
            <!-- uni search -->
            <label for="inputUni">Universiti</label><br>
            <input class="form-uni" type="search" name="uni_contains" placeholder="Nama Universiti" />

            <!-- course search -->
            <label for="inputCourse">Kursus</label><br>
            <input class="form-course" type="search" name="course_contains" placeholder="Nama Kursus" />

            <!-- form group -->
            <label for="inputUniCourse">Kerjaya</label><br>
            <input class="form-unicourse" type="search" name="job_contains" placeholder="Nama Kerjaya" />

            <button type="submit" class="btn btn-search">Cari</button>

        </form>
    </div>

    {% for uni in allUni %}
    <div class="search-result-container">
        <div class="row1">
            <h3 class="uni-name"><a href="{% url 'search:uni-page' user_type user_id uni.id %}">{{ uni.uni }}</a></h3>
            <p class="bookmark">Bookmark</p>
            <p class="rating">Rating</p>
        </div>
        <div class="row2">
            <p class="search-details course-lvlStudy">Peringkat Pengajian:</p>
            <!-- <p class="input">{{ course.studyLevel }}</p> -->
            <p class="search-details course-langguage">Bahasa Utama Kursus:</p>
            <!-- <p class="input">{{ course.langguage }}</p> -->
        </div>
    </div>   
    {% endfor %}

    {% for course in allCourse %}
    <div class="search-result-container">
        <div class="row1">
            <h3 class="course-name"><a href="{% url 'search:course-page' user_type user_id course.id %}">{{ course.course }}</a></h3>
            <p class="bookmark">Bookmark</p>
            <p class="rating">Rating</p>
        </div>
        <div class="row2">
            <p class="search-details course-lvlStudy">Peringkat Pengajian:</p>
            <p class="input">{{ course.studyLevel }}</p>
            <p class="search-details course-langguage">Bahasa Utama Kursus:</p>
            <p class="input">{{ course.langguage }}</p>
        </div>
    </div>   
    {% endfor %}

    {% for job in allJobs %}
    <div class="search-result-container">
        <div class="row1">
            <h3 class="job-name"><a href="{% url 'search:job-page' user_type user_id job.id %}">{{ job.job }}</a></h3>
            <p class="bookmark">Bookmark</p>
            <p class="rating">Rating</p>
        </div>
        <div class="row2">
            <p class="search-details course-lvlStudy">Peringkat Pengajian:</p>
            <p class="input"></p>
            <p class="search-details course-langguage">Bahasa Utama Kursus:</p>
            <p class="input"></p>
        </div>
    </div>   
    {% endfor %}
{% endblock %}