{% extends "search/userbase.html" %}

{% block content %}
<center>
<div class="container-search-main">
    <div class="container-search">
        <button class="btn">
            <!-- <img src="https://cdn.icon-icons.com/icons2/1192/PNG/512/1490820801-12_82409.png"> -->
            <span><a class="a-search-main" href="{% url 'search:uni-nonadmin' user_type user_id %}">Cari Mengikut Universiti</a></span>
        </button>
    </div>
    <div class="container-search">
        <button class="btn">
            <a class="a-search-main" href="{% url 'search:course-nonadmin' user_type user_id %}">Cari Mengikut Kursus</a>
        </button>
    </div>
    <div class="container-search">
        <button class="btn">
            <a class="a-search-main" href="{% url 'search:jobs-nonadmin' user_type user_id %}">Cari Mengikut Bidang Kerjaya</a>
        </button>
    </div>
    <div class="container-search">
        <button class="btn">
            <a class="a-search-main" href="{% url 'search:all-nonadmin' user_type user_id %}">Cari Semua Rekod</a>
        </button>
    </div>
</div>
</center>
{% endblock %}