{% extends "quiz/baseAdmin.html" %}
{% load static %}
{% load quiz_index %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya | Tetapan Kandungan Kuiz</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/addQuestion.css' %}">
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>Tetapan Kandungan Kuiz</h1>
        <h2>Tambah Soalan Kuiz Baharu</h2>
        <h3><a class="a-nav-addQuestion" href="{% url quiz user_id %}">Halaman Utama Kuiz</a> > 
            <a class="a-nav-addQuestion" href="{% url 'quiz:show-field' user_id %}">Bidang Kerjaya</a> > 
            <a class="a-nav-addQuestion" href="{% url 'quiz:show-question' user_id field_id %}">{{ currentGameFieldName }}</a> > 
            <span style="color: gray;">Soalan Baharu</span>
        </h3>
    </div>
{% endblock %}

{% block content %}
    <div class="div-quesTips">
        <ul class="ul-addQuestion">
            <span style="font-weight: bolder;">PERINGATAN</span>
                <li>
                    <span style="text-decoration: underline;">Panjang setiap teks:</span>
                    <span>Tidak melebihi 500 karakter</span>
                </li>
                <li>
                    <span style="text-decoration: underline;">Bilangan minimum dan maksimum bagi:</span>
                    <ul class="ul-addQuestion-inner">
                        <li>
                            <span style="font-weight: bold;">Jawapan:</span>
                            <span>2 hingga 4</span>
                        </li>
                        <li>
                            <span style="font-weight: bold;">Petunjuk:</span>
                            <span>0 hingga 3</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span style="text-decoration: underline;">Pilihan bagi:</span>
                    <ul class="ul-addQuestion-inner">
                        <li>
                            <span style="font-weight: bold;">Tahap Kesukaran Soalan:</span>
                            <span>Mudah, Sederhana, Sukar</span>
                        </li>
                        <li>
                            <span style="font-weight: bold;">Nilai Petunjuk:</span>
                            <span>3 hingga 7</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Anda hanya boleh memuat naik </span>
                    <span style="font-weight: bold;"> SATU </span>
                    <span>sahaja gambar sokongan bagi setiap soalan dan/atau petunjuk.</span>
                </li>
                <li>
                    <span>Anda hanya boleh menanda </span>
                    <span style="font-weight: bold;"> SATU </span>
                    <span>sahaja jawapan yang betul</span>
                </li>
                <li>
                    Nilai petunjuk menunjukkan nilai yang pemain/pelajar perlu tukarkan dengan jumlah mata terkumpul mereka
                    untuk menggunakan petunjuk berkenaan
                </li>
        </ul>
    </div>

    <form action="{% url 'quiz:add-question' user_id field_id %}" method="post" enctype='multipart/form-data' class="AddQuestionForm">
        {% csrf_token %}
        
        <div class="div-form-header">
            Soalan
        </div>

        <p class="p-error">{{ errormsg1 }}</p>

        <p class="p-scroll">Skrol jadual ke kanan &#128898;</p>
        
        <div class="div-question">
            <table>
                <thead>
                    <tr>
                        <th>Teks Soalan</th>
                        <th>Gambar Sokongan</th>
                        <th>Tahap Kesukaran</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ questionForm.questionText }}</td>
                        <td>
                            <!--
                                Method 3:
                            -->
                            <input id="id_questionImageName" placeholder="Tiada gambar dipilih" disabled="disabled"/>
                            <div class="imageUpload btn upload-for-addQuestion">
                                <span>Muat naik gambar</span>
                                <input name="{{ questionForm.questionImage.html_name }}" id="{{ questionForm.questionImage.id_for_label }}"
                                type="file" accept="image/*" class="questionImage"/>
                            </div>
                        </td>
                        <td>{{ questionForm.difficulty }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="div-form-header">
            Jawapan
        </div>

        <p class="p-error">{{ errormsg2 }}</p>
        <p class="p-error">{{ errormsg3 }}</p>
        
        <div class="div-question">
            {{ answer_formset.management_form }}
            <table>
                <thead>
                    <tr>
                        <th>Teks Jawapan</th>
                        <th>Jawapan yang Betul?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in answer_formset %}
                    <tr class="answer-formset">
                        <td>{{ form.answerText }}</td>
                        <td>{{ form.isCorrect }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="div-form-header">
            Petunjuk
        </div>

        <p class="p-error">{{ errormsg4 }}</p>
        <p class="p-error">{{ errormsg5 }}</p>

        <p class="p-scroll">Skrol jadual ke kanan &#128898;</p>

        <div class="div-question">
            {{ hint_formset.management_form }}
            <table>
                <thead>
                    <tr>
                        <th>Teks Petunjuk</th>
                        <th>Gambar Sokongan</th>
                        <th>Nilai Petunjuk</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in hint_formset %}
                    <tr class="hint-formset">
                        <td>{{ form.hintText }}</td>
                        <td>
                            {% if forloop.counter0 == 0 %}
                                <input id="id_hintImageName0" placeholder="Tiada gambar dipilih" disabled="disabled"/>
                            {% elif forloop.counter0 == 1 %}
                                <input id="id_hintImageName1" placeholder="Tiada gambar dipilih" disabled="disabled"/>
                            {% elif forloop.counter0 == 2 %}
                                <input id="id_hintImageName2" placeholder="Tiada gambar dipilih" disabled="disabled"/>
                            {% endif %}
                            <div class="imageUpload btn upload-for-addQuestion">
                                <span>Muat naik gambar</span>
                                <input name="{{ form.hintImage.html_name }}" id="{{ form.hintImage.id_for_label }}"
                                type="file" accept="image/*" class="hintImage"/>
                            </div>
                        </td>
                        <td>{{ form.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="div-buttons">
            <button class="btn question-for-addQuestion" type="submit">Simpan</button>
            <button class="btn cancel-for-addQuestion">
                <a class="a-for-addQuestion" href="{% url 'quiz:show-question' user_id field_id %}">Batal</a>
            </button>
        </div>
    </form>

    <div class="div-space"></div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        /* Method 3 */
        document.getElementById("id_questionImage").onchange = function () {
            document.getElementById("id_questionImageName").value = this.files[0].name;
        };

        document.getElementById("id_hint-0-hintImage").onchange = function () {
            document.getElementById("id_hintImageName0").value = this.files[0].name;
        };

        document.getElementById("id_hint-1-hintImage").onchange = function () {
            document.getElementById("id_hintImageName1").value = this.files[0].name;
        };

        document.getElementById("id_hint-2-hintImage").onchange = function () {
            document.getElementById("id_hintImageName2").value = this.files[0].name;
        };
    </script>
{% endblock %}