{% extends "quiz/baseAdmin.html" %}
{% load static %}
{% load quiz_index %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya | Tetapan Kandungan Kuiz</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/changeIcon.css' %}">
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>Tetapan Kandungan Kuiz</h1>
        <h2>Tukar Ikon Bidang Kerjaya</h2>
        <h3><a class="a-main-for-showQuestion" href="{% url quiz user_id %}">Halaman Utama Kuiz</a> >  
            <span><a class="a-back-for-showQuestion" href="{% url 'quiz:show-field' user_id %}">Bidang Kerjaya</a></span> >
            <span style="color: gray;">{{ currentGameFieldName }}</span>
        </h3>
    </div>
{% endblock %}

{% block content %}
    <p class="p-error">{{ errorMessage }}</p>

    <form action="{% url 'quiz:change-icon' user_id field_id %}" class="ChangeIconForm" method="post">
        {% csrf_token %}
        <div class="div-outer">
            {% for radio in form.image %}
                <div class="div-choice">
                    <input type="radio" name="image" value="{{ radio.data.value }}" id="{{ radio.id_for_label }}"/>
                    <div class="div-img-label">
                        <label for="{{ radio.id_for_label }}">
                            <img class="img-field" src="{% static 'images/quiz_field/' %}{{ imageURLList|index:forloop.counter0 }}">
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="div-buttons">
            <button class="btn icon-for-changeIcon" type="submit">Simpan</button>
            <button class="btn cancel-for-changeIcon">
                <a class="a-for-changeIcon" href="{% url 'quiz:show-field' user_id %}">Batal</a>
            </button>
        </div>
    </form>

    <div class="div-space"></div>
    
    <div class="div-credit">
        <div class="div-credit-text">
            <p>Semua ikon yang digunakan di halaman ini dikreditkan kepada laman web 
                <span style="font-weight: bold;"><a href="https://www.pinclipart.com/" style="text-decoration: none; color: rgb(121, 85, 118);">Pinclipart</a></span>
                <span> dan </span>
                <span style="font-weight: bold;"><a href="https://www.clipartmax.com/" style="text-decoration: none; color: rgb(121, 85, 118);">ClipartMax</a></span>
                <span>, serta pemilik asal ikon-ikon tersebut.</span>
            </p>
        </div>
    </div>
{% endblock %}