{% extends "quiz/baseNonAdmin.html" %}
{% load static %}
{% load quiz_index %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya | Pilih Bidang Kerjaya</title>
{% endblock %}

{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/chooseField.css' %}">
{% endblock %}

{% block content %}
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="div-player">
        <img src="{% static 'images/quiz_avatar/' %}{{ currentAvatarDetailsObject.imageURL }}" width="50px" height="50px">
        <span class="h2a-username" style="text-align: center;">{{ username }}</span>
        <div class="div-music">
            <audio controls loop="true" preload="auto" id="music" style="display: none;">
                <source src="{% static 'audio/Goodnightmare.mp3' %}" type="audio/mp3">
            </audio>
            <button class="btn music" id="music-play">
                <i style="font-size: 1.1rem" class="fas" id="music-icon"></i>
            </button>
        </div>
    </div>

    <h1 class="h1-title">Pilih Bidang Kerjaya</h1>

    <p style="display: none;">{{ isFieldSelected }}</p>

    <p class="p-scroll">Skrol ke bawah &#128899;</p>

    <form action="{% url 'quiz:choose-field' user_id %}" class="ChooseFieldForm" method="post">
        <div class="div-outer">
            {% csrf_token %}
            {{ form.media.js }}
            {% for radio in form.name %}
                <div class="div-choice">
                    {% if fieldShowList|index:forloop.counter0 == True %}
                        <input type="radio" name="name" value="{{ radio.data.value }}" id="{{ radio.id_for_label }}"/>
                        <div class="div-img-label">
                            <img class="img-field" src="{% static 'images/quiz_field/' %}{{ imageURLList|index:forloop.counter0 }}"> 
                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        </div>
                    {% else %}
                        <input type="radio" name="name" value="{{ radio.data.value }}" id="{{ radio.id_for_label }}" disabled/>
                        <div class="div-img-label" style="opacity: 0.6;">
                            <img class="img-field no-hover" src="{% static 'images/quiz_field/' %}{{ imageURLList|index:forloop.counter0 }}"> 
                            <label class="no-hover" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                            <div class="div-coming-soon">
                                AKAN DATANG
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </form>

    <div class="div-buttons">
        <button class="btn play">
            &#128898; MULA
        </button>
        <button class="btn back-for-chooseField">
            <a class="a-for-chooseField" href="{% url 'quiz:index-student' user_id %}">Kembali</a>
        </button>
    </div>

    <div class="div-space"></div>

    <div class="div-bg-modal">
        <div class="div-modal-content">
            <div class="div-modal-header">
                Memulakan kuiz...
            </div>

            <div class="div-outer-bg-bar">
                <div class="div-bg-bar">
                    <div class="div-bar"></div>
                </div>
            </div>

            <div class="div-cancel-button">
                <button class="btn cancel-for-chooseField">Batal</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js2 %}
    <script>
        var isSelect = '{{ isFieldSelected }}';
        var user_id = '{{ user_id }}';
        var selectedFieldID = '{{ selectedFieldID }}';
    </script>
    <script>
        function setCookie(c_name,value,exdays) {
            if (c_name == 'mainTimePlayed') {
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/";
                document.cookie=c_name + "=" + c_value;
            }
            else if (c_name == 'mainMuted') {
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value = escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/";
                document.cookie=c_name + "=" + c_value;
            }
        }

        function getCookie(c_name) {
            var i,x,y,ARRcookies=document.cookie.split(";");
            for (i=0;i<ARRcookies.length;i++) {
                x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
                y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
                x=x.replace(/^\s+|\s+$/g,"");
                if (x==c_name) {
                    return unescape(y);
                }
            }
        }

        var song = document.getElementsByTagName('audio')[0];
        var played = false;
        var tillPlayed = getCookie('mainTimePlayed');
        var isSongMuted = getCookie('mainMuted');
        const musicBtn = document.getElementById('music-play')
        const musicIcon = document.getElementsByClassName('fas')
        song.volume = 0.2;

        $(document).ready(function() {
            if (isSongMuted) {
                if (isSongMuted == 'false') {
                    $('#music-icon').removeClass('fas');
                    $('#music-icon').addClass('fas fa-volume-up');
                }
                else if (isSongMuted == 'true') {
                    $('#music-icon').removeClass('fas');
                    $('#music-icon').addClass('fas fa-volume-mute');
                }
            }
            else {
                $('#music-icon').removeClass('fas');
                $('#music-icon').addClass('fas fa-volume-up');
            }
        });

        musicBtn.addEventListener('click', () => {
            // alert(song.muted);
            if (song.muted == false) {
                song.muted = true;
                $('#music-icon').removeClass('fas fa-volume-up');
                $('#music-icon').addClass('fas fa-volume-mute');
            }
            else if (song.muted == true) {
                song.muted = false;
                $('#music-icon').removeClass('fas fa-volume-mute');
                $('#music-icon').addClass('fas fa-volume-up');
            }
        });

        function update(){
            if (!played){ //if played = true
                if (tillPlayed){
                    song.currentTime = tillPlayed;
                    song.play();
                    song.muted = (isSongMuted === 'true');
                    played = true;
                }
                else {
                    song.play();
                    song.muted = (isSongMuted === 'true');
                    played = true;
                }
            }
            else { //if played = false
                setCookie('mainTimePlayed', song.currentTime);
                setCookie('mainMuted', song.muted);
            }
        }

        setInterval(update, 1000); //0 for localhost & testing only
        
        var audio  = new Audio('/static/audio/clickDown.mp3');
        var audio2 = new Audio('/static/audio/clickUp.mp3');
        audio.volume = 0.5;
        audio2.volume = 0.5;
    
        $(".div-img-label label").click(function() {
            audio2.play();
            audio.play();
        });
    
        $(":button").click(function() {
            audio2.play();
            audio.play();
        });

        const playBtn = document.querySelector('.play')
        const modal =  document.querySelector('.div-bg-modal')
        const cancelBtn =  document.querySelector('.div-cancel-button')
        const form = document.querySelector('.ChooseFieldForm')
        var i = 0;
        var cnt_ques = 1;

        playBtn.addEventListener('click', () => {
            form.submit();
        })

        cancelBtn.addEventListener('click', () => {
            modal.style.display = 'none';
            if (i != 0) {
                clearInterval(id);
                i = 0;
            }
        })

        if (isSelect === 'True'){
            modal.style.display = 'flex';
            if (i == 0) {
                i = 1;
                var elem = document.querySelector(".div-bar");
                var width = 1;
                var id = setInterval(frame, 50);
                //frame();
            }
        }

        function frame() {
            if (width >= 100) {
                clearInterval(id);
                i = 0;
                redirect();
            } else {
                width++;
                elem.style.width = width + "%";
            }
        }

        function redirect() {
            window.location.href = "/kuiz/pelajar/" + user_id + "/mula/" + selectedFieldID + "/";
        }
    </script>
{% endblock %}