{% extends "quiz/baseNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya | Tetapan Avatar</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/editAvatar.css' %}">
{% endblock %}

{% block header %}
    <h1>Tetapan Avatar</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'quiz:edit-avatar' user_id %}" class="AvatarForm" method="post">
        {% csrf_token %}
        {{ form.media.js }}
        {{ form.as_p }}
        <button class="btn avatar-for-editAvatar" type="submit">Simpan</button>
        <button class="btn main-for-editAvatar">
            <a class="a-for-editAvatar" href="{% url 'quiz:index-student' user_id %}">Batal</a>
        </button>
    </form>
{% endblock %}