{% extends "quiz/baseNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya | Tetapan Avatar</title>
{% endblock %}

{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/editAvatar.css' %}">
{% endblock %}

{% block content %}
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="div-player">
        <img src="{% static 'images/quiz_avatar/' %}{{ currentAvatarDetailsObject.imageURL }}" width="50px" height="50px">
        <span class="h2a-username" style="text-align: center;">{{ username }}</span>
        <div class="div-music">
            <audio controls loop="true" preload="auto" id="music" style="display: none;">
                <source src="{% static 'audio/Goodnightmare.mp3' %}" type="audio/mp3">
            </audio>
            <button class="btn music" id="music-play">
                <i style="font-size: 1.1rem" class="fas" id="music-icon"></i>
            </button>
        </div>
    </div>

    <h1 class="h1-title">Tetapan Avatar</h1>

    <p style="display: none;">{{ isSubmitted }}</p>

    <form action="{% url 'quiz:edit-avatar' user_id %}" class="AvatarForm" method="post">
        <div class="div-outer">
            {% csrf_token %}
            {{ form.media.js }}
            <table class="table-form">
                {{ form }}
            </table>
        </div>
    </form>

    <div class="div-buttons">
        <button class="btn confirm-for-editAvatar">Simpan</button>
        <button class="btn cancel-for-editAvatar">
            <a class="a-for-editAvatar" href="{% url 'quiz:index-student' user_id %}">Batal</a>
        </button>
    </div>

    <div class="div-bg-modal-1">
        <div class="div-modal-content-1">
            <div class="div-modal-header">
                Mesej
            </div>

            Adakah anda pasti ingin mengemaskini avatar anda?

            <div class="div-submit-button">
                <button class="btn submit-for-editAvatar" type="submit">Ya</button>
                <button class="btn cancelSubmit-for-editAvatar">Tidak</button>
            </div>

            <div class="div-close-1"> + </div>
        </div>
    </div>

    <div class="div-bg-modal-2">
        <div class="div-modal-content-2">
            <div class="div-modal-header">
                Mesej
            </div>

            Avatar anda berjaya dikemaskini!

            <div class="div-submit-button">
                <button class="btn back-for-editAvatar">
                    <a class="a-for-editAvatar" href="{% url 'quiz:index-student' user_id %}">Halaman Utama</a>
                </button>
            </div>

            <div class="div-close-2"> + </div>
        </div>
    </div>

{% endblock %}

{% block js2 %}
    <script>
        var submit = '{{ isSubmitted }}';
    </script>
    <script>
        const openButton = document.querySelector('.confirm-for-editAvatar')
        const modal1 =  document.querySelector('.div-bg-modal-1')
        const closeBtn1 =  document.querySelector('.div-close-1')
        const form = document.querySelector('.AvatarForm')
        const submitBtn = document.querySelector('.submit-for-editAvatar')
        const cancelSubmitBtn = document.querySelector('.cancelSubmit-for-editAvatar')
        const modal2 = document.querySelector('.div-bg-modal-2')
        const closeBtn2 =  document.querySelector('.div-close-2')

        function setCookie(c_name,value,exdays) {
            if (c_name == 'mainTimePlayed') {
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/";
                document.cookie=c_name + "=" + c_value;
            }
            else if (c_name == 'mainMuted') {
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value = escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/";
                document.cookie=c_name + "=" + c_value;
            }
        }

        function getCookie(c_name) {
            var i,x,y,ARRcookies=document.cookie.split(";");
            for (i=0;i<ARRcookies.length;i++) {
                x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
                y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
                x=x.replace(/^\s+|\s+$/g,"");
                if (x==c_name) {
                    return unescape(y);
                }
            }
        }

        var song = document.getElementsByTagName('audio')[0];
        var played = false;
        var tillPlayed = getCookie('mainTimePlayed');
        var isSongMuted = getCookie('mainMuted');
        const musicBtn = document.getElementById('music-play')
        const musicIcon = document.getElementsByClassName('fas')
        song.volume = 0.2;

        $(document).ready(function() {
            if (isSongMuted) {
                if (isSongMuted == 'false') {
                    $('#music-icon').removeClass('fas');
                    $('#music-icon').addClass('fas fa-volume-up');
                }
                else if (isSongMuted == 'true') {
                    $('#music-icon').removeClass('fas');
                    $('#music-icon').addClass('fas fa-volume-mute');
                }
            }
            else {
                $('#music-icon').removeClass('fas');
                $('#music-icon').addClass('fas fa-volume-up');
            }
        });

        musicBtn.addEventListener('click', () => {
            // alert(song.muted);
            if (song.muted == false) {
                song.muted = true;
                $('#music-icon').removeClass('fas fa-volume-up');
                $('#music-icon').addClass('fas fa-volume-mute');
            }
            else if (song.muted == true) {
                song.muted = false;
                $('#music-icon').removeClass('fas fa-volume-mute');
                $('#music-icon').addClass('fas fa-volume-up');
            }
        });

        function update(){
            if (!played){ //if played = true
                if (tillPlayed){
                    song.currentTime = tillPlayed;
                    song.play();
                    song.muted = (isSongMuted === 'true');
                    played = true;
                }
                else {
                    song.play();
                    song.muted = (isSongMuted === 'true');
                    played = true;
                }
            }
            else { //if played = false
                setCookie('mainTimePlayed', song.currentTime);
                setCookie('mainMuted', song.muted);
            }
        }

        setInterval(update, 1000); //0 for localhost & testing only

        var audio  = new Audio('/static/audio/clickDown.mp3');
        var audio2 = new Audio('/static/audio/clickUp.mp3');
        audio.volume = 0.5;
        audio2.volume = 0.5;
    
        $(":button").click(function() {
            audio2.play();
            audio.play();
        });
        
        openButton.addEventListener('click', () => {
            modal1.style.display = 'flex';
        })

        closeBtn1.addEventListener('click', () => {
            modal1.style.display = 'none';
        })

        submitBtn.addEventListener('click', () => {
            form.submit();
        })

        if (submit === 'True'){
            modal2.style.display = 'flex';
        }

        closeBtn2.addEventListener('click', () => {
            modal2.style.display = 'none';
        })

        cancelSubmitBtn.addEventListener('click', () => {
            modal1.style.display = 'none';
        })
    </script>
{% endblock %}