{% extends "quiz/baseNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/quizMainNonAdmin.css' %}">
{% endblock %}

{% block header %}
    <h1>Permainan Kuiz Penerokaan Kerjaya</h1>
    <h2 style="color: crimson;">AMARAN!</h2>
    <h2 style="font-style: italic; color: coral;">{{ response }}</h2>
{% endblock %}

{% block content %}
    <button class="btn back-to-dashboard">
        <a class = "a-back-for-quizMainNonStudentError" href="{% url 'dashboard:index-nonadmin' user_type user_id %}">Kembali ke Profil</a>
    </button>
{% endblock %}