{% extends "quiz/baseNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya</title>
{% endblock %}

{% block styles %}   
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/quizMainNonAdmin.css' %}">
{% endblock %}

{% block content %}
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="div-outer">
        <div class="div-title">
            <span class="wordWrap">
                Permainan Kuiz Penerokaan Kerjaya
            </span>
        </div>
        <div class="div-menu">
            <div class="div-avatar">
                <img class="img-icon" src="{% static 'images/quiz_avatar/' %}{{ currentAvatarDetailsObject.imageURL }}">
                <span class="h2a-main-username">{{ username }}</span>
            </div>
            <br>
            <button class="btn avatar">
                <a class ="a-settings-for-quizMain" href="{% url 'quiz:show-avatar' user_id %}">Tetapan Avatar</a>
            </button>
            <br>
            <button class="btn statistic">
                <a class ="a-statistic-for-quizMain" href="">Statistik</a>
            </button>
            <br>
            <button class="btn play">
                <a class="a-play-for-quizMain" href="{% url 'quiz:choose-field' user_id %}">PILIH BIDANG</a>
            </button>
        </div>
    </div>
{% endblock %}