{% extends "quiz/baseAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/quizMainAdmin.css' %}">
{% endblock %}

{% block header %}
    <h1>Permainan Kuiz Penerokaan Kerjaya</h1>
    <h2>Statistik semasa Kandungan Soalan Kuiz</h2>
{% endblock %}

{% block content %}
    <p style="font-style: italic;">(Simple cards to be put here.)</p>

    <button class="btn question-settings">
        <a class ="a-settings-for-quizMainAdmin" href="{% url 'quiz:show-field' user_id %}">Kemaskini Kandungan Kuiz</a>
    </button>
{% endblock %}