{% extends "quiz/baseNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/quizMainNonAdmin.css' %}">
{% endblock %}

{% block header %}
    <h1>Permainan Kuiz Penerokaan Kerjaya</h1>
    <h2 style="font-style: italic">
        <span>Hai,</span>
        <span class="h2a">{{ username }}</span>
        <span>!</span>
    </h2>
{% endblock %}

{% block content %}
    <p>{{ response }}</p>

    <button class="btn avatar">
        <a class ="a-settings-for-quizMain" href="{% url 'quiz:show-avatar' user_id %}">Tetapan Avatar</a>
    </button>
    <button class="btn play">
        <a class="a-play-for-quizMain" href="{% url 'quiz:play' user_id %}">Mula Kuiz</a>
    </button>
{% endblock %}