{% extends "quiz/baseAdmin.html" %}
{% load static %}
{% load quiz_index %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya | Tetapan Kandungan Kuiz</title>
{% endblock %}

{% block js1 %}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
    <script>
        $(function() {
            // add new widget called indexFirstColumn
            $.tablesorter.addWidget({
                // give the widget a id
                id: "indexFirstColumn",
                // format is called when the on init and when a sorting has finished
                format: function(table) {               
                    // loop all tr elements and set the value for the first column  
                    $(table).find("tr td:first-child").each(function(index){
                        $(this).text(index+1);
                    })                                  
                }
            });

            $("#quesTable thead th:eq(0)").data("sorter", false);
            $("#quesTable thead th:eq(2)").data("sorter", false);
            $("#quesTable thead th:eq(5)").data("sorter", false);
            $("#quesTable thead th:eq(6)").data("sorter", false);
            $("#quesTable thead th:eq(7)").data("sorter", false);
            $("#quesTable thead th:eq(9)").data("sorter", false);

            $("#quesTable").tablesorter({
                widgets: ['zebra','indexFirstColumn'],
                cssAsc: 'up',
                cssDesc: 'down',
                dateFormat : "ddmmyyyy", // set the default date format

                // or to change the format for specific columns, add the dateFormat to the headers option:
                headers: {
                    2: { sorter: "shortDate"}, // set day first format; set using class names
                }
            });
        });
    </script>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/showQuestion.css' %}">
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>Tetapan Kandungan Kuiz</h1>
        <h2>Senarai Soalan Kuiz</h2>
        <h3><a class="a-nav-showQuestion" href="{% url quiz user_id %}">Halaman Utama Kuiz</a> > 
            <a class="a-nav-showQuestion" href="{% url 'quiz:show-field' user_id %}">Bidang Kerjaya</a> > 
            <span style="color: gray;">{{ currentGameFieldName }}</span>
        </h3>
    </div>
{% endblock %}

{% block content %}
    <form type="get" action="." class="search-form"> 
        {% if search_text %}
            <input id="search_box" type="text" name="kotak_carian" placeholder="Cari Soalan..." value="{{ search_text }}">
        {% else %}
            <input id="search_box" type="text" name="kotak_carian" placeholder="Cari Soalan..."> 
        {% endif %}
        
        <label for="difficulty">Pilih tahap kesukaran:</label>
            <select name="difficulty" id="difficulty">
                {% if filter_selected == 'Mudah' %}
                    <option value="Tiada">---------</option>
                    <option value="Mudah" selected="selected">Mudah</option>
                    <option value="Sederhana">Sederhana</option>
                    <option value="Sukar">Sukar</option>
                {% elif filter_selected == 'Sederhana' %}
                    <option value="Tiada">---------</option>
                    <option value="Mudah">Mudah</option>
                    <option value="Sederhana" selected="selected">Sederhana</option>
                    <option value="Sukar">Sukar</option>
                {% elif filter_selected == 'Sukar' %}
                    <option value="Tiada">---------</option>
                    <option value="Mudah">Mudah</option>
                    <option value="Sederhana">Sederhana</option>
                    <option value="Sukar" selected="selected">Sukar</option>
                {% else %}
                    <option value="Tiada">---------</option>
                    <option value="Mudah">Mudah</option>
                    <option value="Sederhana">Sederhana</option>
                    <option value="Sukar">Sukar</option>
                {% endif %}
            </select>
            
        <div class="div-form-buttons">
            <button class="btn submit-for-showQuestion" type="submit">Cari</button> 
            <button class="btn clear-for-showQuestion"><a class="a-for-showQuestion" href="{% url 'quiz:show-question' user_id field_id %}">Padam Carian</a></button>
        </div>
    </form>

    {% if search_text and filter_selected %}
        {% if filter_selected == 'Tiada' %}
            <p>
                Keputusan carian soalan bagi kata kunci "{{ search_text }}": {{ gameQuestionsCount }}
            </p>
        {% else %}
            <p>
                Keputusan carian soalan bagi kata kunci "{{ search_text }}" dan tahap kesukaran "{{ filter_selected }}": {{ gameQuestionsCount }}
            </p>
        {% endif %}
    {% elif search_text %}   
        <p>
            Keputusan carian soalan bagi kata kunci "{{ search_text }}": {{ gameQuestionsCount }}
        </p>
    {% elif filter_selected %}
        <p>
            Keputusan carian soalan bagi tahap kesukaran "{{ filter_selected }}": {{ gameQuestionsCount }}
        </p>
    {% endif %}

    <div class="div-quesTips">
        <span style="font-weight: bold;">TIPS</span>
        <br>
        <span>Anda boleh menyusun rekod-rekod soalan berdasarkan lebih daripada satu lajur dengan menekan butang SHIFT (tidak dilepaskan) sambil menekan pada tajuk-tajuk lajur yang berkenaan.</span>
    </div>

    <p class="p-scroll">Skrol jadual ke kanan &#128898;</p>

    <div class="div-question">
        <table id="quesTable" class="tablesorter">
            {% if gameQuestions %}
                <thead>
                    <tr>
                        <th>No.</th>
                        <th class="sortable">Soalan</th>
                        <th>Tahap Kesukaran</th>
                        <th class="sortable">Markah</th>
                        <th class="sortable">Had Masa Menjawab</th>
                        <th>Gambar Sokongan</th>
                        <th>Pilihan Jawapan</th>
                        <th>Petunjuk</th>
                        <th class="sortable">Tarikh Kemaskini Terkini</th>
                        <th>Kemaskini</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in gameQuestions %}
                        <tr>
                            <td style="vertical-align: top;">{{ question.id }}</td>
                            <td style="vertical-align: top; text-align: left; width: 10vw; overflow-wrap: inherit;">{{ question.questionText|truncatewords:10 }}</td>
                            <td style="vertical-align: top;">{{ question.difficulty }}</td>
                            <td style="vertical-align: top;">{{ question.points }}</td>
                            <td style="vertical-align: top;">{{ question.timeLimit }} saat</td>
                            <td style="vertical-align: top;">
                                {% if question.questionImage %}
                                    <img src="{{ question.questionImage.url }}" width="50px" height="50px">
                                {% endif %}
                                </td>
                            <td style="vertical-align: top;">
                                <ol style="text-align: left; vertical-align: top; margin: 0px;">
                                    {% for answer in allGameQuesAns %}
                                        {% if answer.questionID_id == question.id %}
                                            {% if answer.isCorrect == True %}
                                                <li style="font-weight: bold; background-color: rgb(250, 188, 54); border-radius: 5px;">{{ answer.answerText|truncatechars:20 }}</li>
                                            {% else %}
                                                <li>{{ answer.answerText|truncatechars:20 }}</li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </td>
                            <td style="vertical-align: top; text-align: center;">
                                {% if question.id in allGameHintQuesIDList %}
                                    Ya
                                {% else %}
                                    Tidak
                                {% endif %}
                            </td>
                            <td style="vertical-align: top;">{{ question.lastEdited|date:"d/m/Y, h:i A" }}</td>
                            <td style="vertical-align: top;">
                                <button class="btn2">
                                    <a class="a-question-for-showQuestion" href="{% url 'quiz:edit-question' user_id field_id question.id %}">
                                        Kemaskini Soalan
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <thead>
                    <tr>
                        <th>Soalan</th>
                        <th>Tahap Kesukaran</th>
                        <th>Markah</th>
                        <th>Had Masa Menjawab</th>
                        <th>Pilihan Jawapan</th>
                        <th>Petunjuk</th>
                        <th>Tarikh Kemaskini Terkini</th>
                        <th>Kemaskini</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>

    <div class="div-buttons">
        <button class="btn add-for-showQuestion">
            <a class="a-for-showQuestion" href="{% url 'quiz:add-question' user_id field_id %}">Tambah Soalan Baharu</a>
        </button>
        <button class="btn back-for-showQuestion">
            <a class="a-for-showQuestion" href="{% url 'quiz:show-field' user_id %}">Kembali</a>
        </button>
    </div>

    <div class="div-space"></div>
{% endblock %}