{% extends "quiz/baseAdmin.html" %}
{% load static %}
{% load quiz_index %}

{% block title %}
    <title>Future Cruise: Permainan Kuiz Penerokaan Kerjaya | Tetapan Kandungan Kuiz</title>
{% endblock %}

{% block js1 %}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
    <script>
        $(function() {
            $("#fieldTable thead th:eq(3)").data("sorter", false);
            $("#fieldTable thead th:eq(4)").data("sorter", false);

            $("#fieldTable").tablesorter({
                cssAsc: 'up',
                cssDesc: 'down',
                dateFormat : "ddmmyyyy", // set the default date format

                // or to change the format for specific columns, add the dateFormat to the headers option:
                headers: {
                    2: { sorter: "shortDate" }, // set day first format; set using class names
                }
            });
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/showField.css' %}">
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>Tetapan Kandungan Kuiz</h1>
        <h2>Senarai Bidang Kerjaya</h2>
        <h3><a class="a-main1-for-showField" href="{% url quiz user_id %}">Halaman Utama Kuiz</a> >  
            <span style="color: gray;">Bidang Kerjaya</span>
        </h3>
    </div>
{% endblock %}

{% block content %}
    <form type="get" action="." class="search-form"> 
        {% if search_text %}
            <input id="search_box" type="text" name="kotak_carian" placeholder="Cari Bidang..." value="{{ search_text }}">
        {% else %}
            <input id="search_box" type="text" name="kotak_carian" placeholder="Cari Bidang..."> 
        {% endif %}
        <div class="div-form-buttons">
            <button class="btn submit-for-showField" type="submit">Cari</button> 
            <button class="btn clear-for-showField"><a class="a-for-showField" href="{% url 'quiz:show-field' user_id %}">Padam Carian</a></button>
        </div>
    </form>

    {% if search_text %}
        <p>
            Keputusan carian bagi kerjaya "{{ search_text }}": {{ gameFieldsCount }}
        </p>
    {% endif %}

    <div class="div-fieldTips">
        <span style="font-weight: bold;">TIPS</span>
        <br>
        <span>Anda boleh menyusun rekod-rekod kerjaya berdasarkan lebih daripada satu lajur dengan menekan butang SHIFT (tidak dilepaskan) sambil menekan pada tajuk-tajuk lajur yang berkenaan.</span>
    </div>

    <p class="p-scroll">Skrol jadual ke kanan &#128898;</p>
    
    <div class="div-field">
        <table id="fieldTable" class="tablesorter">
            {% if gameFields %}
                <thead>
                    <tr>
                        <th class="sortable" colspan="3" style="padding-right: 0px; padding-left: 0px;">Nama Bidang</th>
                        <th class="sortable">Bilangan Soalan</th>
                        <th class="sortable">Tarikh Kemaskini Terkini</th>
                        <th>Dipapar dalam Kuiz</th>
                        <th>Soalan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in gameFields %}
                        <tr>
                            <td><button class="btn2 change edit-icon"><a class="a-for-showField" href="{% url changeicon user_id field.id %}">Tukar Ikon</a></button></td>
                            <td style="padding-right: 0px;"><img src="{% static 'images/quiz_field/' %}{{ field.imageURL.imageURL }}" width="50px" height="50px"></td>
                            <td style="padding-left: 20px; padding-right: 0px; text-align: left;">{{ field.name }}</td>
                            <td>{{ fieldQuesCountList|index:forloop.counter0 }}</td>
                            <td>{{ field.lastEdited|date:"d/m/Y, h:i A" }}</td>
                            <td>
                                {% if field.show == True %}
                                    <button class="btn2 status" style="background-color: rgb(41, 165, 41);">Ya</button>
                                {% else %}
                                    <button class="btn2 status" style="background-color: rgb(207, 61, 61);">Tidak</button></td>
                                {% endif %}
                            <td><button class="btn2 change question"><a class="a-for-showField" href="{% url showquestion user_id field.id %}">Lihat Soalan</a></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <thead>
                    <tr>
                        <th>Nama Bidang</th>
                        <th>Bilangan Soalan</th>
                        <th>Tarikh Kemaskini Terkini</th>
                        <th>Dipapar dalam Kuiz</th>
                        <th>Soalan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>

    <div class="div-buttons">
        <button class="btn field-for-showField">
            <a class="a-for-showField" href="{% url 'quiz:add-field' user_id %}">Tambah Bidang Kerjaya Baharu</a>
        </button>
        <button class="btn main-for-showField">
            <a class="a-for-showField" href="{% url 'quiz:index-admin' user_id %}">Kembali ke Halaman Utama Kuiz</a>
        </button>
    </div>

    <div class="div-space"></div>
    
    <div class="div-credit">
        <div class="div-credit-text">
            <p>Semua ikon yang digunakan di halaman ini dikreditkan kepada laman web 
                <span style="font-weight: bold;"><a href="https://www.pinclipart.com/" style="text-decoration: none; color: rgb(250, 127, 56);">Pinclipart</a></span>
                <span> dan </span>
                <span style="font-weight: bold;"><a href="https://www.clipartmax.com/" style="text-decoration: none; color: rgb(250, 127, 56);">ClipartMax</a></span>
                <span>, serta pemilik asal ikon-ikon tersebut.</span>
            </p>
        </div>
    </div>
{% endblock %}