{% load static %}
<link rel="stylesheet" href="{% static 'css/avatar.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<center>
    <ul class="ul-navbar">
        <li class="li-navbar"><a class="li-a-navbar" href="{% url test user_type user_id %}">Ujian Kerjaya</a></li>
        <li class="li-navbar"><a class="li-a-navbar" href="{% url blog user_type user_id%}">Blog Berita</a></li>
        <li class="li-navbar"><a class="li-a-navbar active" href="{% url quiz user_id %}">Permainan Kuiz</a></li>
        <li class="li-navbar"><a class="li-a-navbar" href="{% url search user_type user_id %}">Carian Maklumat</a></li>
        <li class="li-navbar"><a class="li-a-navbar" href="{% url dashboard user_type user_id %}">
            <span style="font-style: italic;">Dashboard</span>
            <span>{{ dashboardNav }}</span>
        </a></li>
        <li class="li-navbar logout"><a class="li-a-navbar" href="{% url logout user_id %}">Log Keluar</a></li>            
        <li class="li-navbar username"><a class="li-a-navbar" href="{% url dashboard user_type user_id %}">{{ username }}</a></li>
    </ul>
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <h3 style="font-style:italic; color: green;">{{ successMessage }}</h3>
        <button class="btn2 back-to-showAvatar">
            <a class="a-back-for-successUpdate" href="{% url 'quiz:show-avatar' user_id %}">Kembali ke Tetapan Avatar</a>
        </button>
    </form>
</center>

</body>
</html>