{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">

    <title>FutureCruise: Pencarian Maklumat</title>

</head>
<body>
    <center>
        <div class="div-navbar">
            <div class="div-navbar-left">
                <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url test user_type user_id %}">Ujian Kerjaya</a></p>
                <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url blog user_type user_id%}">Blog Berita</a></p>
                <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url quiz user_id %}">Permainan Kuiz</a></p>
                <p class="p-navbar no-icon"><a class="p-a-navbar active" href="{% url search user_type user_id %}">Carian Maklumat</a></p>
                <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url dashboard user_type user_id %}">
                    <span>Dashboard</span>
                    <span>{{ dashboardNav }}</span></a>
                </p>

                <!-- mobile -->
                <p class="p-navbar icon"><a class="p-a-navbar active" href="{% url test user_type user_id %}">
                    <i class="fas fa-edit"></i>
                </a></p>
                <p class="p-navbar icon"><a class="p-a-navbar" href="{% url blog user_type user_id%}">
                    <i class="fas fa-blog"></i>
                </a></p>
                <p class="p-navbar icon"><a class="p-a-navbar" href="{% url quiz user_id %}">
                    <i class="fas fa-gamepad"></i>
                </a></p>
                <p class="p-navbar icon"><a class="p-a-navbar" href="{% url search user_type user_id %}">
                    <i class="fas fa-search"></i>
                </a></p>
                <p class="p-navbar icon"><a class="p-a-navbar" href="{% url dashboard user_type user_id %}">
                    <i class="fas fa-user"></i>
                </a></p>
            </div>

            <div class="div-navbar-right">
                <p class="p-navbar logout no-icon"><a class="p-a-navbar" href="{% url logout user_id %}">Log Keluar</a></p>
                <p class="p-navbar username no-icon"><a class="p-a-navbar" href="{% url dashboard user_type user_id %}">{{ username }}</a></p>

                <!-- mobile -->
                <p class="p-navbar logout icon"><a class="p-a-navbar" href="{% url logout user_id %}">
                    <i class="fas fa-sign-out-alt"></i>
                </a></p>
                <p class="p-navbar username icon"><a class="p-a-navbar" href="{% url dashboard user_type user_id %}">{{ username }}</a></p>
            </div>
        </div>
    </center>
        <main role="main" class="container">
        <h1>Carian Maklumat</h1>
        <form method="GET" action="."> 
            <div class="form-row">
                <!-- form group -->
                <div class="form-group col-12">
                    <!-- input group -->
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" type="search" name="search_contains" placeholder="Kata Kunci" />
                        <span class="input-goup-append">
                            <div class="input-group-text bg-transparent">
                                <!-- putting search icon -->
                            <i class="fa fa-search"></i> 
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2 col-lg-2">
                <label for="inputEmail4">Universiti</label>
                <select id="inputState" class="form-control" name="uni_filter">
                    <option selected>Semua</option>
                    {% for uni in allUni %}
                    <option value="{{uni}}">{{uni}}</option>
                    {% endfor %} 
                </select>
                </div>
                <div class="form-group col-md-2 col-lg-2">
                <label for="inputPassword4">Kursus</label>
                <select id="inputState" class="form-control" name="course_filter">
                    <option selected>Semua</option>
                    {% for course in allCourse %}
                    <option value="{{course}}">{{course}}</option>
                    {% endfor %} 
                </select>
                </div>
                <div class="form-group col-md-2 col-lg-2">
                <label for="inputState">Kerjaya</label>
                <select id="inputState" class="form-control" name="jobs_filter">
                    <option selected>Semua</option>
                    {% for jobs in allJobs %}
                    <option value="{{jobs}}">{{jobs}}</option>
                    {% endfor %} 
                </select>
                </div>
            </div>
            <!-- <div class="form-row">
                <div class="form-group col-md-2 col-lg-2">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="uni" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Universiti
                    </label>
                    </div>
                </div>
                <div class="form-group col-md-2 col-lg-2">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="course" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Kursus
                    </label>
                    </div>
                </div>
                <div class="form-group col-md-2 col-lg-2">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="job" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Kerjaya
                    </label>
                    </div>
                </div>
            </div> -->
        <button type="submit" class="btn btn-primary">Cari</button>
        </form>
    <!-- </center> -->
    <hr />
    <div class="row">
            {% for course in allCourse %}
                {% for courseuni in allBridge %}
                    {% if course.id == courseuni.course.id %}
                        {% for uni in allUni %}
                            {% if uni.id == courseuni.university.id %}
                                {% for jobs in allJobs %}
                                    {% if course.id == jobs.course.id %}
                                        <ul class="ul-data">
                                            <li class="li-data">Kursus : {{course.course}}, </li>
                                            <li class="li-data">Universiti : {{ uni.uni }},</li>
                                            <li class="li-data">Kerjaya : {{ jobs.job }}</li>
                                        </ul>
                                        <hr />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}    
            {% endfor %}
    </div>
    </main><!-- container -->
    {% block content %}
    {% endblock %}
    
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>