{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}
    <title>Future Cruise: Blog Pengajian Tinggi dan Kerjaya | Senarai Artikel</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/blogPostList.css' %}">
{% endblock %}

{% block content %}
    <div class="div-buttons-1">
        {% include 'blog/updateDivButtons1.html' %}
    </div>

    <!-- for mobile vertical -->
    <div class="div-buttons-2">
        {% include 'blog/updateDivButtons2.html' %}
    </div>

    <div class="div-outer">
        <div class="div-side-navbar">
            <form method="POST" action="{% url 'blog:post-list' user_type user_id %}" class="form-filter">
                {% csrf_token %}
                {{ form.media.js }}
                <div class="div-search">
                    {% include 'blog/updateFormSidebar.html' %}
                </div>
            </form>
                
            <div class="div-facebook-1">
                <div class="fb-page first" 
                data-href="https://www.facebook.com/smkdd1"
                data-width="200" 
                data-hide-cover="false"
                data-show-facepile="false">
                </div>
            </div>
        </div>

        <div class="div-result-outer">
            <div class="div-result-inner">
                {% include 'blog/updateContent.html' %}
            </div>
        </div>

        <div class="div-facebook-2">
            Ikuti SMK Damansara Damai 1 di Facebook:
            <div class="fb-page second" 
            data-href="https://www.facebook.com/smkdd1"
            data-width="500" 
            data-hide-cover="false"
            data-show-facepile="false">
            </div>

            <!-- mobile horizontal height <= 320px -->
            <div class="fb-page third" 
            data-href="https://www.facebook.com/smkdd1"
            data-width="480" 
            data-hide-cover="false"
            data-show-facepile="false">
            </div>

            <!-- mobile vertical width 361px-450px -->
            <div class="fb-page fourth" 
            data-href="https://www.facebook.com/smkdd1"
            data-width="300" 
            data-hide-cover="false"
            data-show-facepile="false">
            </div>

            <!-- mobile vertical width <= 360px -->
            <div class="fb-page fifth" 
            data-href="https://www.facebook.com/smkdd1"
            data-width="250" 
            data-hide-cover="false"
            data-show-facepile="false">
            </div>
        </div>
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        function formSidebarError (){
            var select_all = document.getElementById("select-all"); //select all checkbox
            var checkboxes = document.getElementsByClassName("checkbox");
            //checkbox items

            // alert("select_all.checked? before: " + select_all.checked.toString()); //Test
            //select all checkboxes
            select_all.addEventListener("change", function(e){
                // alert("select_all.checked? after: " + select_all.checked.toString()); //Test
                for (i = 0; i < checkboxes.length; i++) { 
                    checkboxes[i].checked = select_all.checked;
                }

                if(document.querySelectorAll('.checkbox:checked').length == 0){
                    // alert("hi"); //Test
                    $("#span-error-1").text("Membuang tanda '/' pada pilihan 'Semua' akan membatalkan semua pilihan untuk tahun lain. Anda mesti memilih sekurang-kurangnya satu tahun.");
                    $("#span-error-2").text("Membuang tanda '/' pada pilihan 'Semua' akan membatalkan semua pilihan untuk tahun lain. Anda mesti memilih sekurang-kurangnya satu tahun.");
                    select_all.checked = true;
                    for (i = 0; i < checkboxes.length; i++) { 
                        checkboxes[i].checked = true;
                    }
                }
                else{
                    $("#span-error-1").text("");
                    $("#span-error-2").text("");
                }
            });

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('change', function(e){ //".checkbox" change 
                    //uncheck "select all", if one of the listed checkbox item is unchecked
                    if(this.checked == false){
                        select_all.checked = false;
                        $("#span-error-1").text("");
                        $("#span-error-2").text("");
                    }
                    //check "select all" if all checkbox items are checked
                    if(document.querySelectorAll('.checkbox:checked').length == checkboxes.length){
                        select_all.checked = true;
                        $("#span-error-1").text("");
                        $("#span-error-2").text("");
                    }

                    if(document.querySelectorAll('.checkbox:checked').length == 0){
                        $("#span-error-1").text("Anda mesti memilih sekurang-kurangnya satu tahun.");
                        $("#span-error-2").text("Anda mesti memilih sekurang-kurangnya satu tahun.");
                        this.checked = true;
                    }
                });
            }
        };

        function pagination(blogPostCount){
            var rowsShown = 3; /* nanti change to 5 */
            var numLimit = 2; /* nanti change to 3 */
            var rowsTotal = parseInt(blogPostCount);
            // alert("rowsTotal: " + rowsTotal.toString()); // Test
            var numPages = rowsTotal / rowsShown;
            for (var i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a class="btn nums a-for-blogPostList-page" href="#muka_' + pageNum + '" rel="' + i + '">' + pageNum + '</a>');
            }
            $('.div-inner-posts').hide();
            $('.div-inner-posts').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            if (numPages > numLimit) {
                $('#nav').append('<a class="btn a-for-blogPostList-page next" href="#" rel="next">></a>');
                $('#nav').prepend('<a class="btn a-for-blogPostList-page prev" href="#" rel="prev" style="display:none"><</a>');
                $('#nav').append('<a class="btn a-for-blogPostList-page last" href="#muka_' + numPages + '" rel="last">>></a>');
                $('#nav').prepend('<a class="btn a-for-blogPostList-page pg-first" href="#muka_1" rel="first" style="display:none"><<</a>');
            }

            $('#nav').on('mouseover', 'a', function () {
                var $nums = $('.nums');
                var currPage = $(this).attr('rel');
                if (currPage == "next") {
                    currPage = $('#nav a.active').attr('rel');
                    currPage++;
                    $(this).attr('href', "#muka_" + (currPage + 1));
                } else if (currPage == "prev") {
                    currPage = $('#nav a.active').attr('rel');
                    currPage--;
                    $(this).attr('href', "#muka_" + (currPage + 1));
                }
            });

            $('#nav').on('click', 'a', function () {
                var $nums = $('.nums');
                var currPage = $(this).attr('rel');
                if (currPage == "next") {
                    currPage = $('#nav a.active').attr('rel');
                    currPage++;
                    $(this).attr('href', "#muka_" + (currPage + 1));
                } else if (currPage == "prev") {
                    currPage = $('#nav a.active').attr('rel');
                    currPage--;
                    $(this).attr('href', "#muka_" + (currPage + 1));
                }
                if (currPage == "first") {
                    $nums.first().trigger('click');
                    return false;
                } else if (currPage == "last") {
                    $nums.last().trigger('click');
                    return false;
                }
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#nav a').removeClass('active');
                $('#nav a[rel="' + currPage + '"]').addClass('active');
                $('.div-inner-posts').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'grid').animate({
                    opacity: 1
                }, 300);
                if ($nums.last().hasClass('active')) 
                    $('#nav a[rel="next"]').hide();
                else 
                    $('#nav a[rel="next"]').show();
                if (!$nums.first().hasClass('active')) 
                    $('#nav a[rel="prev"]').show();
                else 
                    $('#nav a[rel="prev"]').hide();
                $nums.hide();
                if(numLimit < 1)
                    numLimit = 2;
                var $temp = {};
                if ($nums.filter('.active').is($nums.first())){
                    $('#nav a[rel="first"]').hide();
                    $('#nav a[rel="last"]').show();
                    $temp = $nums.first().show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.next().show();
                    }
                }
                else if ($nums.filter('.active').is($nums.last())){
                    $('#nav a[rel="last"]').hide();
                    $('#nav a[rel="first"]').show();
                    $temp = $nums.last().show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.prev().show();
                    }
                }
                else {
                    $('#nav a[rel="first"]').show();
                    $('#nav a[rel="last"]').show();
                    $temp = $('#nav a[rel="' + currPage + '"]').show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.prev().show();
                    }
                    $temp = $('#nav a[rel="' + currPage + '"]').show();
                    for (var j = 0; j < numLimit; j++) {
                        $temp = $temp.next().show();
                    }
                }
            }).find('a.active').trigger('click');

            formSidebarError();
        };

        pagination($('.p-blogPostCount').text());

        function updateContent(filledTitle, filledCategory, filledYear, filledType){
            $.ajax({
                type: 'GET',
                url: "{% url 'blog:post-list' user_type user_id %}",
                data: {
                    'requestType': 'updateContent',
                    'title_text': filledTitle,
                    'cat_selected': filledCategory,
                    'yearSelectedList': filledYear,
                    'typeSelected': filledType
                },
                success: function(result) {
                    // alert("updateContent: success"); // Test
                    $('.div-result-inner').html(result);

                    // alert("blogPostCount: " + $('.p-blogPostCount').text()); // Test
                    pagination($('.p-blogPostCount').text());
                },
                error: function(result) {
                    // alert("updateContent: error"); // Test
                }
            })
        };

        $('.div-buttons-1').on('change', '#post-type', function(){
            // alert("masuk 1"); // Test
            var filledTitle_1 = $('#title').val();
            // alert("filledTitle_1: " + filledTitle_1); // Test

            var filledCategory_1 = $('#category').find('option:selected').val();
            // alert("filledCategory_1: " + filledCategory_1); // Test

            var filledYear_1 = $('input[name="tahun[]"]:checked').map( function () { 
                return $(this).val(); 
            }).get();
            // alert("filledYear_1: " + filledYear_1.toString()); // Test

            var filledType_1 = $(this).find('option:selected').val();
            // alert("filledType_1: " + filledType_1); //Test
                
            $.ajax({
                type: 'GET',
                url: "{% url 'blog:post-list' user_type user_id %}",
                data: {
                    'requestType': 'submitFormPostType_1',
                    'title_text': filledTitle_1,
                    'cat_selected': filledCategory_1,
                    'yearSelectedList': filledYear_1,
                    'typeSelected': filledType_1
                },
                success: function(result) {
                    // alert("submitFormPostType_1: success"); // Test
                    $('.div-buttons-1').html(result);

                    var filledTitle_upd_1 = $('#title').val();
                    // alert("filledTitle_upd_1: " + filledTitle_upd_1); // Test

                    var filledCategory_upd_1 = $('#category').find('option:selected').val();
                    // alert("filledCategory_upd_1: " + filledCategory_upd_1); // Test

                    var filledYear_upd_1 = $('input[name="tahun[]"]:checked').map( function () { 
                        return $(this).val(); 
                    }).get();
                    // alert("filledYear_upd_1: " + filledYear_upd_1.toString()); // Test

                    var filledType_upd_1 = $('#post-type').find('option:selected').val();
                    // alert("filledType_upd_1: " + filledType_upd_1); //Test

                    updateContent(filledTitle_upd_1, filledCategory_upd_1, filledYear_upd_1, filledType_upd_1);
                },
                error: function(result) {
                    // alert("submitFormPostType_1: error"); // Test
                }
            })
        });

        $('.div-buttons-2').on('change', '#post-type-2', function(){
            // alert("masuk 2"); // Test
            var filledTitle_2 = $('#title').val();
            // alert("filledTitle_2: " + filledTitle_2); // Test

            var filledCategory_2 = $('#category').find('option:selected').val();
            // alert("filledCategory_2: " + filledCategory_2); // Test

            var filledYear_2 = $('input[name="tahun[]"]:checked').map( function () { 
                return $(this).val(); 
            }).get();
            // alert("filledYear_2: " + filledYear_2.toString()); // Test

            var filledType_2 = $(this).find('option:selected').val();
            // alert("filledType_2: " + filledType_2); //Test
                
            $.ajax({
                type: 'GET',
                url: "{% url 'blog:post-list' user_type user_id %}",
                data: {
                    'requestType': 'submitFormPostType_2',
                    'title_text': filledTitle_2,
                    'cat_selected': filledCategory_2,
                    'yearSelectedList': filledYear_2,
                    'typeSelected': filledType_2
                },
                success: function(result) {
                    // alert("submitFormPostType_2: success"); // Test
                    $('.div-buttons-2').html(result);

                    var filledTitle_upd_2 = $('#title').val();
                    // alert("filledTitle_upd_2: " + filledTitle_upd_2); // Test

                    var filledCategory_upd_2 = $('#category').find('option:selected').val();
                    // alert("filledCategory_upd_2: " + filledCategory_upd_2); // Test

                    var filledYear_upd_2 = $('input[name="tahun[]"]:checked').map( function () { 
                        return $(this).val(); 
                    }).get();
                    // alert("filledYear_upd_2: " + filledYear_upd_2.toString()); // Test

                    var filledType_upd_2 = $('#post-type-2').find('option:selected').val();
                    // alert("filledType_upd_2: " + filledType_upd_2); //Test

                    updateContent(filledTitle_upd_2, filledCategory_upd_2, filledYear_upd_2, filledType_upd_2);
                },
                error: function(result) {
                    // alert("submitFormPostType_2: error"); // Test
                }
            })
        });
        
        $('.form-filter').on('click', '.btn.submit-for-blogPostList', function(e){
            e.preventDefault();
            // alert('masuk 3'); // Test

            var filledTitle_3 = $('#title').val();
            // alert("filledTitle_3: " + filledTitle_3); // Test

            var filledCategory_3 = $('#category').find('option:selected').val();
            // alert("filledCategory_3: " + filledCategory_3); // Test

            var filledYear_3 = $('input[name="tahun[]"]:checked').map( function () { 
                return $(this).val(); 
            }).get();
            // alert("filledYear_3: " + filledYear_3.toString()); // Test

            if($('.div-buttons-1').css('display') == 'grid'){
                var filledType_3 = $('#post-type').find('option:selected').val();
            }
            else if($('.div-buttons-2').css('display') == 'grid'){
                var filledType_3 = $('#post-type-2').find('option:selected').val();
            }
            // alert("filledType_3: " + filledType_3); //Test

            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: "{% url 'blog:post-list' user_type user_id %}",
                data: {
                    'requestType': 'submitFormSidebar',
                    'title_text': filledTitle_3,
                    'cat_selected': filledCategory_3,
                    'yearSelectedList': filledYear_3,
                    'typeSelected': filledType_3
                },
                type: 'POST',
                success: function(result) {
                    // alert("submitFormSidebar: success"); // Test
                    $('.div-search').html(result);

                    var filledTitle_upd_3 = $('#title').val();
                    // alert("filledTitle_upd_3: " + filledTitle_upd_3); // Test

                    var filledCategory_upd_3 = $('#category').find('option:selected').val();
                    // alert("filledCategory_upd_3: " + filledCategory_upd_3); // Test

                    var filledYear_upd_3 = $('input[name="tahun[]"]:checked').map( function () { 
                        return $(this).val(); 
                    }).get();
                    // alert("filledYear_upd_3: " + filledYear_upd_3.toString()); // Test

                    if($('.div-buttons-1').css('display') == 'grid'){
                        var filledType_upd_3 = $('#post-type').find('option:selected').val();
                    }
                    else if($('.div-buttons-2').css('display') == 'grid'){
                        var filledType_upd_3 = $('#post-type-2').find('option:selected').val();
                    }
                    // alert("filledType_upd_3: " + filledType_upd_3); //Test

                    updateContent(filledTitle_upd_3, filledCategory_upd_3, filledYear_upd_3, filledType_upd_3);
                },
                error: function(result) {
                    // alert("submitFormSidebar: error"); // Test
                }
            })
        });
    </script>
{% endblock %}