{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}
    <title>Future Cruise: Blog Pengajian Tinggi dan Kerjaya | Kemaskini Artikel</title>
{% endblock %}

{% block styles %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/tinymce/prism/prism.css' %}">
    <script src="{% static 'js/tinymce/prism/prism.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/editPost.css' %}">
{% endblock %}

{% block header %}
    <div class="div-main-header">
        <h1>Tetapan Kandungan Blog</h1>
        <h2>Kemaskini Artikel</h2>
        <h3><a class="a-main-for-editPost" href="{% url blog user_type user_id %}">Halaman Utama Blog</a> >  
            <span><a class="a-back-for-editPost" href="{% url 'blog:post-list' user_type user_id %}">Senarai Artikel</a></span> >
            <span style="color:rgb(207, 61, 61);">{{ currentBlogPost.title|truncatechars:50 }}</span>
        </h3>
    </div>
{% endblock %}

{% block content %}
    <div class="div-outer">
        <form action="{% url 'blog:edit-post' user_type user_id post_id %}" method="post" class="EditPostForm">
            {% csrf_token %}
    
            <div class="div-form-name">
                Tajuk: 
                {{ form.title }}
            </div>
    
            <div class="div-form-category-outer">
                <span>
                    Kategori
                    <span class="span-scroll">
                        (Skrol ke kanan &#128898;)
                    </span>:
                </span>
    
                <span class="span-category-error"></span>
    
                <div class="div-form-category-choice">
                    {% for category in form.category %}
                        <div class="div-category-input">
                            {% if category.data.value in currentCategoriesIDList %}
                                <input type="checkbox" id="{{ category.id_for_label }}" name="category" value="{{ category.data.value }}" checked="checked">
                            {% else %}
                                <input type="checkbox" id="{{ category.id_for_label }}" name="category" value="{{ category.data.value }}">
                            {% endif %}
                            <label for="{{ category.id_for_label }}">
                                {{ category.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
    
            <div class="div-form-new-category">
                Kategori Baharu:

                <span class="span-new-category">
                    <span style="font-weight: bold;">
                        Arahan:
                    </span>
                    <span>
                        Untuk menambah lebih daripada satu kategori, sila pisahkan setiap kategori dengan tanda koma dan jarak (Contoh: Biasiswa, Kerjaya, Perakaunan).
                        Anda hanya dibenarkan untuk menambah maksimum 
                    </span>
                    <span class="span-new-category-available"></span>
                    <span>
                        kategori baharu, dan setiap kategori tidak boleh melebihi 50 karakter.
                    </span>
                </span>

                {% if errorNewCat %}
                    <span class="span-new-category-error">{{ errorNewCat }}</span>
                {% endif %}

                {{ form.new_category }}
            </div>
    
            <div class="div-form-desc">
                Rumusan Ringkas:

                <span class="span-desc">
                    Ringkasan artikel untuk dipaparkan di dalam senarai artikel.
                </span>

                {{ form.description }}
            </div>
    
            <div class="div-form-content">
                Kandungan:
                
                <span class="span-content">
                    Isi kandungan penuh artikel. Format adalah bebas. Sila maklum bahawa semua menu di dalam editor di bawah adalah dalam Bahasa Inggeris.
                </span>

                {{ form.content | safe }}
            </div>
    
            <div class="div-form-isDraft">
                Simpan sebagai draf
                {{ form.isDraft }}
            </div>
    
            <div class="div-buttons">
                <button class="btn" type="submit">Simpan</button>
                <button class="btn cancel-for-editPost">
                    <a class="a-for-editPost" href="{% url 'blog:view-post' user_type user_id post_id %}">Batal</a>
                </button>
            </div>
        </form>
    </div>

    <div class="div-space"></div>
{% endblock %}

{% block js2 %}
    <script>
        function example_image_upload_handler (blobInfo, success, failure, progress) {
            var xhr, formData;

            xhr = new XMLHttpRequest();
            xhr.withCredentials = false;
            xhr.open('POST', 'http://127.0.0.1:8000/blog/' + '{{ user_type }}' + '/' + '{{ user_id }}' + '/senarai-artikel/artikel/' + '{{ post_id }}' + '/gambar/');

            xhr.upload.onprogress = function (e) {
                progress(e.loaded / e.total * 100);
            };

            xhr.onload = function() {
                var json;

                if (xhr.status === 403) {
                    failure('HTTP Error: ' + xhr.status, { remove: true });
                    return;
                }

                if (xhr.status < 200 || xhr.status >= 300) {
                    failure('HTTP Error: ' + xhr.status);
                    return;
                }

                json = JSON.parse(xhr.responseText);

                if (!json || typeof json.location != 'string') {
                    failure('Amaran: ' + json.message); // Invalid JSON
                    return;
                }

                success(json.location);
            };

            xhr.onerror = function () {
                failure('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
            };

            formData = new FormData();
            formData.append('file', blobInfo.blob(), blobInfo.filename());

            xhr.send(formData);
        };

        tinyMCE.init({
            selector: "#content",  // change this value according to your HTML
            height: "80vh",
            width: "100%",
            plugins: "advlist autolink lists link image charmap print preview searchreplace visualblocks code fullscreen media table paste code help wordcount autosave codesample emoticons hr",
            toolbar: "undo redo searchreplace | restoredraft | bold italic underline strikethrough | fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | charmap emoticons hr | fullscreen preview print | insertfile image media link codesample code",
            advlist_bullet_styles: 'disc',
            autosave_retention: '60m',
            // image_prepend_url: 'http://127.0.0.1:8000/blog',
            image_uploadtab: true,
            // Change with website domain
            images_upload_url: 'http://127.0.0.1:8000/blog/' + '{{ user_type }}' + '/' + '{{ user_id }}' + '/senarai-artikel/artikel/' + '{{ post_id }}' + '/gambar/',
            images_upload_handler: example_image_upload_handler
        });

        var checkedCategories_for_error = $('input[name="category"]:checked').map(function () { 
            return $(this).val(); 
        }).get();

        if($.inArray("1", checkedCategories_for_error) != -1){
            $('.span-new-category-available').text((3-checkedCategories_for_error.length+1).toString());
            $('.div-form-new-category').css("display", "grid");
        }

        $('input[name="category"]').on('click', function(){
            // alert("masuk click category");

            var checkedCategories = $('input[name="category"]:checked').map(function () { 
                return $(this).val(); 
            }).get();

            // alert("checkCategories: " + checkedCategories.toString());

            if($(this).prop('checked') == true){
                var currentCheckCategoryValue = $(this).val();
                // alert("current checked category: " + currentCheckCategoryValue);
                var currentCheckCategoryID = $(this).attr("id");
                // alert("current checked category ID: " + currentCheckCategoryID);
            }
            else{
                var currentUncheckedCategoryValue = $(this).val();
                // alert("current unchecked category: " + currentUncheckedCategoryValue);
                var currentUncheckedCategoryID = $(this).attr("id");
                // alert("current unchecked category ID: " + currentUncheckedCategoryID);

                if(currentUncheckedCategoryValue == 1){
                    $('.div-form-new-category').css("display", "none");
                }
                else{
                    if($('.div-form-new-category').css("display") == "grid"){
                        // alert("[3 uncheck category selain others]");
                        $('.span-new-category-available').text((3-checkedCategories.length+1).toString());
                    }
                }
            }

            if(checkedCategories.length > 3) {
                // alert("checkedCategories length: " + checkedCategories.length.toString());

                $('.span-category-error').css("display", "block");
                $('.span-category-error').text("Bilangan maksimum kategori yang boleh dipilih adalah 3.");

                // alert("(current) category " + currentCheckCategoryID + " checked?: " + $('#' + currentCheckCategoryID).prop('checked').toString());
                $('#' + currentCheckCategoryID).prop('checked', false);
                $('#' + currentCheckCategoryID).change();
                // alert("(after) category " + currentCheckCategoryID + " checked?: " + $('#' + currentCheckCategoryID).prop('checked').toString());

                var allUncheckedCategoriesID = $('input[name="category"]:not(:checked)').map(function () { 
                    return $(this).attr("id"); 
                }).get();

                for (i = 0; i < allUncheckedCategoriesID.length; i++) {
                    $('#' + allUncheckedCategoriesID[i]).prop("disabled", true);
                }
            }
            else{
                // alert("checkedCategories length: " + checkedCategories.length.toString());

                $('.span-category-error').text("");
                $('.span-category-error').css("display", "none");

                if(currentCheckCategoryValue){
                    if(currentCheckCategoryValue == 1){
                        $('.span-new-category-available').text((3-checkedCategories.length+1).toString());
                        $('.div-form-new-category').css("display", "grid");
                    }
                    else{
                        if($('.div-form-new-category').css("display") == "grid"){
                            $('.span-new-category-available').text((3-checkedCategories.length+1).toString());
                        }
                    }
                }

                var allUncheckedCategoriesID = $('input[name="category"]:not(:checked)').map(function () { 
                    return $(this).attr("id"); 
                }).get();

                // alert("unchecked categories ID: " + allUncheckedCategoriesID.toString());

                for (i = 0; i < allUncheckedCategoriesID.length; i++) {
                    if($('#' + allUncheckedCategoriesID[i]).prop("disabled") == true){
                        $('#' + allUncheckedCategoriesID[i]).prop("disabled", false);
                    }
                }
            }
        });
    </script>
{% endblock %}