<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FutureCruise: Ujian Kerjaya</title>
</head>
<body>
{% if question_list %}
{% for item in question_list %}
<h1>{{ item.question_text}}</h1>
    {% for answer in item.choice_set.all %}
    <form action="{% url 'oritest:results'%}" method="post">
    <p>
    {% csrf_token %}
        <input type="checkbox" name="answer" id="answer" value="{{ answer.id }}">
    <label for="answer">{{ answer.choice_text }}
    </label><br>
    </p>
    {% endfor %}
{% endfor %}

<input type="submit" value="Confirm">
<input type="button" onclick= "history.back();" value="Back">

</form>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>