{% extends "pTest/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/studentTest.css' %}">
{% endblock %}

{% block content %}
<!-- -------------------------------edit--------------------------------- -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="hud">
        <div class="hud-item">
            <p id="progressText" class="hud-prefix">
               Soalan 
            </p>
            <div id="progressBar">
                <div id="progressBarFull"></div>
            </div>
        </div>
        <div class="hud-item">
            <p class="hud-prefix">
                Score
            </p>
            <h1 class="hud-main-text" id="score">
                0
            </h1>
        </div>
    </div>
    <p>Bahagian Personaliti:</p>
    <a href="#">Realistic</a>
    <a href="#">Artistic</a>
    <a href="#">Investigatif</a>
    <a href="#">Social</a>
    <a href="#">Enterprising</a>
    <a href="#">Conventional</a>
</div>
<!-- Use any element to open the sidenav -->
<span class="progress-navbar" onclick="openNav()">Progress</span>
<!-- ----------------------------endedit-------------------------------- -->

<div class="container-test">
    <div id="test">
    <!-- <div id="test" class="justify-center flex-column"> -->
        <p id="quest-section">Bahagian Personaliti: Realistic</p>
        <h1 id="questionText">Soalan</h1>
        <div class="row">
            <div class="choice-container-1">
                <p class="choice-text" data-number="1">Ya</p>
            </div>
            <div class="choice-container-2">
                <p class="choice-text" data-number="2">Tidak</p>
            </div>
        </div>
        <div class="prev-container">
            <p class="prev-text">Kembali</p>
        </div>
    </div>
</div>
{% endblock%}

{% block js %}
<script type="text/javascript" src="{% static 'js/indexTest.js' %}"></script>
<script type="text/javascript" src="{% static 'js/studentTest.js' %}"></script>
{% endblock%}