{% extends "pTest/baseNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>FutureCruise: Ujian Kerjaya | Personaliti {{ cnt_quest }}</title>
{% endblock %}

{% block js1 %}
    <script src="https://kit.fontawesome.com/2cfab3be1d.js" crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/studentTest.css' %}">
{% endblock %}

{% block content %}
    <body onload="openPop()">
    <div>
        <div class="popup-overlay"></div>
        <div id="instructPopMessage">
            <p class="popMessage title-pop">Ujian Personaliti Minat Kerjaya</p>
            <p class="popMessage time-pop">Anggaran Durasi: <strong>30 minit</strong></p>
            <ul class="instList-pop">
                <li class="popMessage">Ujian ini mengandungi 6 bahagian personaliti: <br><strong>Realistik, Artistik, Investigatif, Sosial dan Konvensional</strong></li>
                <br>
                <li class="popMessage">Setiap bahagian mempunyai 18 soalan</li>
                <br>
                <li class="popMessage">Pilih jawapan yang paling sesuai dengan anda</li>
            </ul>
            <div id="btn-mainPop">
                <button id="btn-closePop" onclick="closePop()">Mula Ujian</button>
            </div>
        </div>
    </div>

    <div id="mainContainer">
        <div id="wrapper">
            {% include 'pTest/testPlay2.html' %}
        </div>
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        function openPop() {
            document.getElementById("instructPopMessage").style.position = "absolute";
            document.getElementsByClassName("popup-overlay")[0].style.display = "block"
        }

        function closePop() {
            // document.getElementById("instructPopMessage").style.transition = "fadeoutPop 1s";
            document.getElementById("instructPopMessage").style.display = "none";
            document.getElementsByClassName("popup-overlay")[0].style.display = "none"
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <script type="text/javascript">
        var user_id = '{{ user_id }}';
        var cnt_quest = parseInt(document.querySelector('.cnt_quest').innerText);
        var allQuestionPerPersonality = parseInt(document.querySelector('.allQuestionPerPersonality').innerText);
        var next_cnt_quest = parseInt(document.querySelector('.next_cnt_quest').innerText);
        var hasSubmitted = document.querySelector('.hasSubmitted').innerText;
        var isCorrect = document.querySelector('.isCorrect').innerText;
        var i = 0;
        var k = 0;
        var m = 0;
        var width_quest = 0;
        var id_quest = 0;
        var clickedQuit = false;

        //changing the progress bar width
        $('#progressBarFull').width((cnt_quest/allQuestionPerPersonality) * 100 + "%"); 

        // // function setCookie(c_name,value,exdays) {
        // //     if (c_name == 'mainMuted') {
        // //         var exdate=new Date();
        // //         exdate.setDate(exdate.getDate() + exdays);
        // //         var c_value = escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/";
        // //         document.cookie=c_name + "=" + c_value;
        // //     }
        // // }

        // // function getCookie(c_name) {
        // //     var i,x,y,ARRcookies=document.cookie.split(";");
        // //     for (i=0;i<ARRcookies.length;i++) {
        // //         x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
        // //         y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
        // //         x=x.replace(/^\s+|\s+$/g,"");
        // //         if (x==c_name) {
        // //             return unescape(y);
        // //         }
        // //     }
        // // }

        // operation once form is submitted
        function submit_form() {
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' }, 
                url: "{% url 'test:test-student' user_type user_id %}",
                data: {
                    isClicked: $('#isClicked').val(),
                    answer_choices: $('input[name=answer_choices]:checked').val(),
                    cnt_quest: cnt_quest
                },
                type: 'POST',
                success: function(result){
                    $("#wrapper").html(result);
                    $('#progressBarFull').width((cnt_quest/allQuestionPerPersonality) * 100 + "%");
                    hasSubmitted = document.querySelector('.hasSubmitted').innerText;
                    isCorrect = document.querySelector('.isCorrect').innerText;
                    personality_id = document.querySelector('.personality_id').innerText;
                },
                error: function(result){
                    alert("(isClicked=" + $('#isClicked').val() + ") Failed submit form");
                }
            });
        }

        // seterusnya
        function nextQuest(){
            next_cnt_quest = parseInt(document.querySelector('.next_cnt_quest').innerText);
            next_personality_id = parseInt(document.querySelector('.next_personality_id').innerText);
            $.ajax({
                url: "{% url 'test:test-student' user_type user_id %}",
                data: {
                    'cnt_quest': next_cnt_quest
                },
                type: 'GET',
                success: function(result){
                    $("#wrapper").html(result);
                    cnt_quest = parseInt(document.querySelector('.cnt_quest').innerText)
                    $('#progressBarFull').width((cnt_quest/10) * 100 + "%");
                    hasSubmitted = document.querySelector('.hasSubmitted').innerText;
                    clickedQuit = false;
                },
                error: function(result){
                    // alert("Fail go to next question");
                }
            })
        // });
        }

        // // semak jawapan/seterusnya
        $('#wrapper').on('click', '.next', function(){
            // var currPlayerAllFieldScoreText = document.querySelector('.span-value-totalScore'); //in player navbar TEST
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' }, 
                url: "{% url 'test:test-student' user_type user_id %}",
                data: {
                    'requestType': 'Next'
                },
                type: 'POST',
                dataType: 'json',
                success: function(result){
                    document.getElementById('isClicked').value = result.isClicked
                    submit_form();
                    nextQuest();
                },
                error: function(result){
                    alert("Failed update isClicked");
                }
            })
        });
        
        //lihat keputusan
        $('#wrapper').on('click', '.resultTest', function(){
            console.log("ok ke")
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' }, 
                url: "{% url 'test:test-student' user_type user_id %}",
                data: {
                    'requestType': 'updateStatusSessionRecord'
                },
                type: 'POST',
                success: function(response){
                    submit_form()
                    window.location.href = "{% url 'test:test-result' user_type user_id %}";
                },
                error: function(response){
                    alert("updateStatusSessionRecord: success");
                }
            })
        });

        // //tamatkan ujian
        // $('#div-wrapper').on('click', '.quit', function(){
        //         audio2.play();
        //         audio.play();
        //         clickedQuit = true;
        //         hasSubmitted = document.querySelector('.p-hasSubmitted').innerText;
        //         if (hasSubmitted == 'True'){
        //             modal1 = document.querySelector('.div-bg-modal');
        //             modal1.style.display = "flex";
        //         }
        // });
    </script>
{% endblock%}