<!-- <p class="p-points_2" style="display: none;">{{ currentStudentPersonalitySession.currentSectionScore }}</p> -->
<!-- <p class="p-totalPoints_2" style="display: none;">{{ currentPlayerTotalScoreAllField }}</p> -->
<p class="next_cnt_quest" style="display: none;">{{ next_cnt_quest }}</p>
<!-- <p class="p-timeLimit" style="display: none;">{{ nextQuestionRecord.timeLimit }}</p> -->
<p class="cnt_quest" style="display: none;">{{ cnt_quest }}</p>
<p class="hasSubmitted" style="display: none;">{{ hasSubmitted }}</p>
<p class="isCorrect" style="display: none;">{{ isCorrect }}</p>

<!-- <div class="div-outer">
    <div id="hud"> -->
        <!-- <div class="hud-item">
            <p id="progressText" class="hud-prefix">
                Soalan {{ cnt_quest }} / 10
            </p>
            <h1 class="hud-main-text" id="progress">
                <div id="progressBar">
                    <div id="progressBarFull"></div>
                </div>
            </h1>
        </div> -->
        
        <!-- display current score (kiv) -->
        <!-- <div class="hud-item">
            <p class="hud-prefix">
                Markah Semasa
            </p> -->
            <!-- if choose correct ans (in this case tukar choose yes) -->
            <!-- display current score -->
            <!-- {% if isCorrect == True %}
                <h1 class="hud-main-text score correct" id="score">
                    {{ currentStudentPersonalitySession.currentSectionScore }}
                </h1>
            {% else %}
                <h1 class="hud-main-text score" id="score">
                    {{ currentStudentPersonalitySession.currentSectionScore }}
                </h1>
            {% endif %}
        </div> -->
    <!-- </div> -->

    <div class="test-container">
    <!-- question -->
    <div class="div-question"></div>
        <h2 class="personality">Bahagian Personaliti: Realistik</h2>
        <h1 class="question" id="question">
            {{ nextQuestionRecord.questionText }}
        </h1>
    </div>

    <!-- choices form -->
    <form id="TestForm" class="TestForm" action="{% url 'test:test-student' user_type user_id %}" method="POST">
        <div class="div-outer-choice">
            {% csrf_token %}
            <input type='hidden' id='isClicked' name='isClicked' value='False'/>

            {% for answer in form.answer_choices %}
                <div class="choice-container no-hover">
                    <input type="radio" name="answer_choices" value="{{ answer.data.value }}" id="{{ answer.id_for_label }}" disabled/>
                    <div class="choice-text">
                        <label for="{{ answer.id_for_label }}">{{ answer.choice_label }}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    </div>
</div>

<div class="div-buttons" id="div-buttons">
    {% if cnt_quest < 10 %}
        <button class="btn quit">
            Tamatkan Ujian
        </button>
    <!-- dah reach end of quest tapi belum lagi submit -->
    {% elif cnt_quest == 10 and hasSubmitted == False %}
        <button class="btn quit">
            Tamatkan Ujian
        </button>
    {% endif %}
    
    {% if hasSubmitted == False %}
    
        <!-- <button class="btn next" id="btn-next"> -->
        <button class="btn next">
        <!-- <button class="btn test" onclick="test()"> -->
            Seterusnya
        </button>

    {% elif hasSubmitted == True %}
        {% if cnt_quest < 10 %}
            <button class="btn next">
                Seterusnya
            </button>
            <button class="btn prev">
                Kembali
            </button>
        {% elif cnt_quest == 10 %}
            <button class="btn showResult">
                Lihat Keputusan
            </button>
        {% endif %}
    {% endif %}
</div>