/* button */
.btn {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    background-color: white;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.cancel-for-addPost, .upload-for-addPost {
    background-color: rgb(250, 127, 56);
}

.cancel-for-addPost:hover, .upload-for-addPost:hover{
    background-color: white;
    color: rgb(250, 127, 56);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 127, 56, 0.658);
}

.upload-for-addPost {
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
}

.a-for-addPost{
    text-decoration: none;
    color: inherit;
}

/* form fields */
form{
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    gap: 10px;
    justify-items: center;
    box-sizing: border-box;
}

.title, .category, .new_category, .description, .content, .isDraft {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    box-sizing: border-box;
}

/* div */
.div-main-header{
    /* background-color: darksalmon; */
    position: relative;
    margin: 10px auto;
    width: 90%;
    text-align: left;
    box-sizing: border-box;
}

.div-outer{
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    display: grid;
    grid-auto-flow: row;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-items: center;
    box-sizing: border-box;
}

.div-form-name, .div-form-category-outer, .div-form-new-category, .div-form-desc, .div-form-content, .div-form-category-choice, .div-category-input, .div-form-isDraft, .div-buttons{
    display: grid;
    grid-auto-flow: row;
    width: fit-content;
    gap: 10px;
    justify-items: left;
    align-items: center;
    text-align: left;
    font-weight: bold;
    box-sizing: border-box;
}

.div-form-isDraft{
    grid-auto-flow: column;
    justify-self: left;
}

.div-form-name, .title, .new_category, .description{
    width: 100%;
}

.div-form-category-choice, .div-category-input{
    /* background-color: burlywood; */
    gap: 5px;
    font-weight: normal;
    grid-auto-flow: column;
}

.div-form-desc, .div-form-content, .div-form-category-outer, .div-form-category-choice, .div-form-new-category{
    /* background-color: antiquewhite; */
    width: 100%;
}

.span-scroll{
    display: contents;
    font-size: 12px;
    font-style: italic;
}

.div-form-category-choice{
    /* background-color: lightblue; */
    justify-content: left;
    overflow: auto;
}

.div-category-input label{
    width: fit-content;
    white-space: nowrap;
}

.span-category-error, .span-new-category, .span-new-category-error, .span-desc, .span-content{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    line-height: 20px;
}

.span-category-error{
    color: rgb(207, 61, 61);
    display: none;
}

.span-new-category-error{
    color: rgb(207, 61, 61);
}

.div-form-new-category{
    display: none;
}

.div-buttons{
    /* background-color: gray; */
    justify-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, auto);
    margin: 10px 0;
}

.div-space{
    position: relative;
    height: 30px;
    /* background-color: yellowgreen; */
}

@media screen and (max-width: 930px) {
    .div-buttons{
        width: 100%;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        gap: 5px;
    }

    .div-buttons .btn{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        line-height: 28px;
    }
      
    h2 {
      font-size: 20px;
      line-height: 19px;
    }
}

@media screen and (max-width: 450px), (max-height: 450px) {
    .div-outer, .btn{
        font-size: 12px;
    }
}