/* button */
.btn, .close {
    border: none;
    background-color: rgb(250, 188, 54);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 100%;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    background-color: white;
    color: rgb(250, 188, 54);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 188, 54);
    transition: transform 150ms;
    transform: scale(1.03);
}

.div-form-buttons button{
    width: 100%;
}

.tag{
    pointer-events: none;
    padding: 5px;
    background-color: rgb(250, 127, 56);
}

.cancel-reply, .draft, .cancel-delete, .cancel-delete-comment{
    background-color: rgb(250, 127, 56);
}

.delete, .delete-comment, .delete-reply{
    background-color: rgb(207, 61, 61);
}

.bookmark{
    border: 1px solid rgb(250, 127, 56);
    border-radius: 25px;
    background-color: white;
    color: rgb(250, 127, 56);
    height: 100%;
    box-sizing: border-box;
}

.bookmark:hover, .cancel-reply:hover, .cancel-delete:hover, .cancel-delete-comment:hover{
    background-color: white;
    color: rgb(250, 127, 56);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 127, 56, 0.658);
}

.delete:hover, .delete-comment:hover, .delete-reply:hover{
    background-color: white;
    color: rgb(207, 61, 61);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(207, 61, 61, 0.699);
}

.draft, .admin, .student, .parents, .teacher {
    border-radius: 25px;
    padding: 5px 10px;
    pointer-events: none;
    font-size: 12px;
    color: white;
}

.draft{
    height: fit-content;
}

.admin{background-color: lightslategray;}
.student{background-color: rgb(130, 124, 225);}
.parents{background-color: rgb(52, 202, 152);}
.teacher{background-color: rgb(245, 118, 59);}

.div-replies-inner .div-body-buttons button{
    padding: 5px 10px;
}

.div-body-buttons .icon{
    display: none;
}

/* hyperlink style */
.a-for-viewPost {
    text-decoration: none;
    color: inherit;
}

.a-for-title, .a-for-author, .a-for-views, .a-for-replies{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.a-for-author, .a-for-views, .a-for-replies{
    text-decoration: underline;
    cursor: pointer;
}

.span-for-arrows{
    cursor: pointer;
}

.span-for-arrows .a-underline{
    text-decoration: underline;
}

.popular-latest{
    font-weight: normal;
}

.a-all{
    color: rgb(250, 127, 56);
}

.a-for-title:hover, .a-for-author:hover, .a-for-replies:hover, .a-for-views:hover, .span-for-arrows:hover{
    color: rgb(250, 127, 56);
}

.a-all:hover{
    font-weight: bold;
}

.up, .span-for-arrows.down {
    display: none;
}

/* div */
.div-outer{
    /* background-color: lightblue; */
    position: relative;
    width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    margin: 0 auto 10px;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.div-side-navbar, .div-outer-post, .div-facebook-2{
    /* background-color: burlywood; */
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    box-sizing: border-box;
}

.div-side-navbar{
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}

.div-outer-post{
    background-color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.div-facebook-2{
    padding-bottom: 10px;
    display: none;
    justify-items: left;
    text-align: left;
    font-weight: bold;
}

.fb-page.third, .fb-page.fourth, .fb-page.fifth{
    display: none;
}

.form-filter{
    /* background-color: antiquewhite; */
    position: relative;
    width: 100%;
    height: fit-content;
    justify-content: center;
    box-sizing: border-box;
}

.div-search{
    /* background-color: cadetblue; */
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    box-sizing: border-box;
}

.div-search-box, .div-dropdown-cat, .div-checkbox-date{
    /* background-color: cornflowerblue; */
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    font-weight: bold;
    box-sizing: border-box;
}

/* input search */
#title, #category {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
  
input:focus::placeholder {color: transparent}

.div-search-box, .div-dropdown-cat{
    gap: 5px;
}

.span-scroll{
    display: none;
    font-size: 12px;
    font-style: italic;
}

.div-checkbox-date label{
    font-weight: normal;
}

.div-input{
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    gap: 0.5vw;
    box-sizing: border-box;
}

#span-error-1, #span-error-2{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    text-align: justify;
    color: rgb(207, 61, 61);
    display: grid;
    line-height: 20px;
}

#span-error-2{
    display: none;
    text-align: center;
    padding-bottom: 20px;
}

.div-form-buttons{
    /* background-color: cornflowerblue; */
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    box-sizing: border-box;
}

.div-facebook-1{
    /* background-color: pink; */
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    box-sizing: border-box;
}

.div-popular, .div-latest{
    background-color: rgb(245, 245, 245);
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    box-sizing: border-box;
}

.div-outer-tiles{
    /* background-color: white; */
    border-left: 3px solid gray;
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: normal;
    box-sizing: border-box;
}

.div-ind-tiles{
    /* background-color: rgb(202, 202, 202); */
    border-bottom: 1px solid white;
    position: relative;
    width: 100%;
    text-align: left;
    /* top | right | bottom | left */
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
}

.div-ind-tiles:last-child{
    border-bottom: none;
}

.div-inner-post, .div-related-posts, .div-facebook-2, .div-comment{
    /* background-color: white; */
    /* background-color: khaki; */
    border-bottom: 1px solid lightgray;
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.div-related-posts, .div-comment{
    text-align: left;
    font-weight: bold;
}

.div-comment{
    border-bottom: none;
    padding-bottom: 0;
}

.div-outer-tags, .div-post-title, .div-author-datetime, .div-views-share, .div-author, .div-datetime, .div-views, .div-share, .div-social{
    /* background-color: darksalmon; */
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-items: left;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.div-outer-tags{
    /* background-color: blanchedalmond; */
    justify-content: space-between;
    gap: 0;
}

.div-inner-tags, .div-edit-bookmark{
    position: relative;
    width: fit-content;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
}

.div-inner-tags{
    /* background-color: aquamarine; */
    justify-items: left;
}

.div-edit-bookmark{
    /* background-color: black; */
    justify-items: right;
    gap: 10px;
}

/* bookmark icon */
.fas fa-bookmark, .far fa-bookmark{
    /* background-color: darkcyan; */
    height: 100%;
}

.div-post-title{
    /* background-color: cadetblue; */
    font-size: 30px;
    line-height: normal;
    font-weight: bold;
    text-align: left;
    width: fit-content;
    height: fit-content;
}

.span-draft{
    /* background-color: lightpink; */
    display: inline-block;
    line-height: 22.5px;
    vertical-align: middle;
    padding-bottom: 7.5px;
}

.div-author-datetime, .div-views-share{
    /* background-color: burlywood; */
    width: fit-content;
}

.div-author, .div-datetime, .div-views, .div-share{
    /* background-color: darksalmon; */
    gap: 5px;
}

/* .div-datetime-text{
    background-color: darkorchid;
} */

/* author, calendar, views & share icon */
.fas fa-feather, .far fa-calendar-alt, .fas fa-eye, .fas fa-share-alt{
    /* background-color: darkcyan; */
    height: 100%;
}

.div-author-text, .div-datetime-text, .div-datetime-text-edited, .div-views-text, .div-share-text{
    /* background-color: coral; */
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
}

.div-datetime-text{
    gap: 10px;
}

.div-datetime-text-edited{
    font-style: italic;
    /* font-size: 12px; */
    /* color: gray; */
    height: fit-content;
}

.div-social{
    /* background-color: cornflowerblue; */
    width: fit-content;
}

.div-content{
    /* background-color: darkkhaki; */
    position: relative;
    width: 100%;
    display: grid;
    text-align: justify;
    line-height: 25px;
    box-sizing: border-box;
}

.div-content img, .div-content ul{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.div-content ul, .div-content a{
    text-align: left;
    word-break: break-all;
    padding-left: 15px;
}

.div-content a{
    /* background-color: lightcyan; */
    color: rgb(250, 127, 56);
    padding: 0;
    box-sizing: border-box;
}

.div-content a:hover{
    font-weight: bold;
}

.div-related-posts{
    padding-bottom: 1vw;
}

.div-related-outer{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 33.3%);
    justify-items: left;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}

.no-post{
    font-weight: normal;
}

.div-related-ind{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.div-image, .div-image-default, .div-related-title{
    /* background-color: orange; */
    position: relative;
    width: 100%;
    height: 100px;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

/* .div-image-default{
    height: 100px;
} */

.img-post, .img-post-default{
    max-width: 100%;
    height: 100px;
}

/* .img-post-default{
    max-width: 100%;
    height: 100px;
} */

.div-related-title{
    text-align: center;
    font-size: 16px;
    line-height: normal;
    height: fit-content;
    box-sizing: border-box;
}

.div-count-sort, .div-add-comment, .div-comment-most-outer, .div-comment-outer, .div-replies-outer, .div-reply-details, .div-add-reply{
    /* background-color: darksalmon; */
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.div-count-sort{
    font-weight: normal;
}

.div-add-comment, .div-add-reply{
    /* background-color: aqua; */
    grid-template-columns: 7% 93%;
    align-items: flex-start;
    gap: 5px;
    padding: 0 5px;
}

.div-add-comment{
    grid-template-columns: 6% 94%;
    justify-items: left;
    /* top | right | bottom | left */
    padding: 0 5px 0 0;
}

.div-reply-details, .div-add-reply{
    margin-bottom: 10px;
}

.div-add-reply{
    gap: 10px;
    padding: 0 15px 0 10px;
}

.div-reply-details{
    max-width: 80%;
    font-style: italic;
    text-align: left;
    padding-left: 5px;
    border-left: 3px solid lightgray;
}

.img-user-add-comment, .img-user-comment, .img-user-reply, .img-user-add-reply{
    height: 50px;
    width: 50px;
}

.img-user-add-comment, .img-user-add-reply{
    /* background-color: wheat; */
    padding-top: 10px;
}

.div-comment-most-outer, .div-comment-outer, .div-replies-outer{
    grid-auto-flow: row;
    justify-content: unset;
    gap: 10px;
}

.div-comment-outer{
    max-height: 80vh;
    overflow: auto;
    border: 1px solid lightgray;
    /* top-left | top-right | bottom-right | bottom-left */
    /* border-radius: 10px 0 0 10px; */
    border-radius: 5px;
    padding: 10px;
}

.div-replies-outer{
    display: none;
    padding: 0;
}

.div-count, .form-comment-sort, .form-add-comment, .form-add-reply, div-form-add-reply-buttons, .div-confirm-delete-buttons, .div-back-to-main-buttons{
    /* background-color: antiquewhite; */
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.form-comment-sort{
    gap: 10px;
}

.form-add-comment{
    grid-auto-flow: row;
    justify-items: right;
    gap: 10px;
}

.div-form-add-reply-buttons, .div-confirm-delete-buttons, .div-back-to-main-buttons{
    width: fit-content;
    gap: 15px;
}

.div-confirm-delete-buttons, .div-back-to-main-buttons{
    /* top | horizontal | bottom */
    margin: 10px 0 5px;
}

#comment, #new-comment, #new-reply {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

textarea:focus::placeholder {color: transparent}

.div-comment-inner, .div-user-details, .div-body, .div-replies-inner{
    /* background-color: antiquewhite; */
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.div-comment-inner, .div-replies-inner{
    gap: 10px;
    border-top: 1px solid lightgray;
    padding-top: 5px;
}

.div-comment-inner:first-child{
    border-top: none;
    padding-top: 0;
}

.div-user-details{
    justify-items: left;
    align-items: flex-start;
    height: 100%;
    gap: 5px;
}

.div-body{
    /* background-color: lightblue; */
    gap: 10px;
    padding-left: calc(7% + 5px);
    justify-items: left;
}

.div-user, .div-username-type, .div-comment-datetime, .div-body-text, .div-body-buttons{
    /* background-color: antiquewhite; */
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.div-user{
    /* background-color: greenyellow; */
    grid-template-columns: 7% 93%;
    gap: 5px;
    /* top | right | bottom | left */
    padding: 5px 5px 5px 0;
}

.div-username-type, .div-comment-datetime, .div-body-text, .div-body-buttons{
    /* background-color: plum; */
    gap: 5px;
    justify-items: left;
    text-align: left;
}

.div-username-type, .div-comment-datetime{
    width: fit-content;
}

.div-username-type{
    /* background-color: coral; */
    gap: 10px;
}

.div-body-text{
    /* background-color: lightgreen; */
    font-weight: normal;
    width: fit-content;
}

.span-replied-child-username{
    font-weight: bold;
    color:rgb(250, 188, 54);
}

.div-body-buttons{
    /* background-color: lightseagreen; */
    width: fit-content;
    gap: 10px;
}

.div-bg-modal-1, .div-bg-modal-2, .div-bg-modal-3, .div-bg-modal-4, .div-bg-modal-5, .div-bg-modal-6{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* make it half transparent */
    position: fixed;
    top: 0px;
    z-index: 1;
    display: none;  /* It will remain invisible until you open */
    justify-content: center; /*center horizontally*/ 
    align-items: center; /* center vertically */
}

.div-modal-content-1, .div-modal-content-2, .div-modal-content-3, .div-modal-content-4, .div-modal-content-5, .div-modal-content-6{
    width: 50%;
    background-color: white;
    border: none; 
    border-radius: 15px;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: black;
    box-sizing: border-box;
}

.div-modal-content-2, .div-modal-content-3, .div-modal-content-4, .div-modal-content-5, .div-modal-content-6{
    width: fit-content;
}

.div-modal-content-3, .div-modal-content-4, .div-modal-content-5, .div-modal-content-6{
    padding: 10px 15px;
}

.div-modal-header, .div-modal-header-5, .div-modal-header-6 {
    position: relative;
    width: 80%;
    height: fit-content;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    /* background-color: rgb(121, 85, 118); */
}

.div-views-list, .div-views-ind-outer, .div-views-ind-outer-title, .div-views-ind-inner, .div-views-ind-inner-details, .div-modal-button{
    width: 100%;
    /* background-color: lightpink; */
    position: relative;
    display: grid;
    grid-auto-flow: row;
    justify-items: left;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
}

.div-views-list{
    /* background-color: antiquewhite; */
    gap: 5px;
    margin: 10px 0;
    max-height: 30vh;
    overflow: auto;
}

.div-views-ind-outer{
    /* background-color: cadetblue; */
    font-weight: bold;
}

.div-views-ind-outer-title, .div-views-ind-inner-details, .div-modal-button{
    /* background-color: gray; */
    grid-auto-flow: column;
    width: fit-content;
}

.div-views-ind-inner{
    /* background-color: darkkhaki; */
    padding-left: 20px;
    gap: 5px;
    font-weight: normal;
    display: none;
}

@media screen and (max-width: 1200px){
    .div-outer{
        grid-template-columns: 100%;
        grid-auto-flow: row;
        margin: 0 auto 10px;
        gap: 10px;
        padding: 10px 15px;
    }

    .div-facebook-1{
        display: none;
    }

    .div-facebook-2{
        display: grid;
    }

    .div-side-navbar{
        padding: 10px;
        justify-content: stretch;
    }

    .div-search{
        grid-auto-flow: row;
        grid-template-columns: 35% 35% 30%;
        width: 100%;
        justify-content: center;
        padding: 0 10px;
        gap: 10px;
    }

    .div-search-box, .div-dropdown-cat{
        height: 100%;
        align-content: flex-start;
    }

    #title, #category{
        height: 65px;
    }

    .div-checkbox-date{
        height: 100px;
        overflow: auto;
    }

    .span-scroll{
        display: contents;
    }

    .div-input{
        gap: 5px;
    }

    #span-error-1{
        display: none;
    }

    #span-error-2{
        display: block;
    }

    .div-search > #span-error-2, .div-search > .div-form-buttons{
        grid-column: 1/4;
    }

    .div-form-buttons{
        margin-top: -20px;
    }

    .div-author-datetime{
        grid-auto-flow: row;
    }

    .div-author{
        width: fit-content;
    }

    .span-dot{
        display: none;
    }
}

@media screen and (max-width: 930px){
    .a-for-title{
        text-decoration: underline;
    }

    .div-add-comment, .div-add-reply{
        grid-template-columns: 7% 93%;
    }

    .div-add-reply{
        gap: 15px;
        padding: 0 20px 0 10px;
    }

    .div-modal-content-1{
        width: 80%;
    }

    .div-modal-header{
        width: 100%;
    }

    .div-user{
        grid-template-columns: 8% 92%;
    }

    .div-body{
        padding-left: calc(8% + 5px);
    }
}

@media screen and (max-width: 450px), (max-height: 450px) {
    .btn, .close, .div-outer-tiles, .div-inner-post,
    .div-content p, .div-related-title, .div-count-sort, .div-add-comment, .div-comment-most-outer,
    #comment, #new-comment, #new-reply,
    .div-modal-content-1, .div-modal-content-2, .div-modal-content-3, .div-modal-content-4, .div-modal-content-5, .div-modal-content-6,
    .div-modal-header, .div-modal-header-5, .div-modal-header-6 {
        font-size: 12px;
    }

    .btn{
        padding: 5px 10px;
    }

    .submit-for-viewPost{
        padding: 10px 15px;
    }

    .admin, .student, .parents, .teacher{
        padding: 0 5px;
    }

    .draft {
        padding: 3px 10px;
    }

    .div-search{
        font-size: 16px;
        grid-template-columns: 100%;
        padding: 0 5px;
    }

    .div-search > #span-error-2, .div-search > .div-form-buttons{
        grid-column: unset;
    }
    
    .div-search-box, .div-dropdown-cat{
        align-content: unset;
    }

    .div-input, #title, #category{
        font-size: 12px;
    }

    #title, #category, #comment, #new-comment, #new-reply{
        height: fit-content;
    }

    .div-ind-tiles{
        padding: 0 0 0 5px;
    }

    .div-inner-post, .div-author-datetime, .div-views-share, .div-author, .div-views, .div-social{
        gap: 5px;
    }

    .div-datetime-text{
        gap: 0;
    }

    .div-outer-tags{
        /* background-color: lightblue; */
        grid-auto-flow: row;
        gap: 10px;
    }

    .div-edit-bookmark{
        gap: 5px;
    }

    .div-post-title{
        font-size: 25px;
    }

    .span-draft{
        /* background-color: lightpink; */
        display: inline-block;
        line-height: 16.75px;
        vertical-align: middle;
        padding-bottom: 6.25px;
    }

    .div-datetime{
        grid-auto-flow: row;
        gap: 0;
    }

    .div-related-outer{
        grid-auto-flow: row;
        grid-template-columns: 100%;
        padding-right: 0;
        padding-bottom: 5px;
    }

    .div-related-ind{
        width: 100%;
    }

    .div-related-title{
        height: fit-content;
    }

    .div-add-reply{
        grid-template-columns: 10% 90%;
    }

    .img-user-add-comment, .img-user-comment, .img-user-reply, .img-user-add-reply{
        height: 30px;
        width: 30px;
    }

    .img-user-add-comment, .img-user-add-reply{
        padding-top: 5px;
    }

    .div-reply-details{
        max-width: 90%;
    }

    .div-comment-inner, .div-replies-inner{
        gap: 0;
    }

    .div-user{
        align-items: flex-start;
    }

    .div-user-details{
        gap: 0;
    }

    .div-body-text{
        line-height: normal;
    }

    .div-comment-inner .div-body-buttons button, .div-replies-inner .div-body-buttons button{
        padding: 10px;
    }

    .div-body-buttons .icon{
        display: grid;
    }

    .div-body-buttons .with-icon{
        display: none;
    }

    .div-body-buttons > a{
        line-height: normal;
    }

    @media screen and (max-width: 450px) {
        .div-add-comment, .div-add-reply{
            grid-template-columns: 10% 90%;
        }

        .div-user{
            grid-template-columns: 12% 88%;
        }

        .div-body{
            padding-left: calc(12% + 5px);
        }
    }

    @media screen and (max-width: 320px) {
        .div-add-comment{
            grid-template-columns: 12% 88%;
        }

        .div-user{
            grid-template-columns: 15% 85%;
        }
    
        .div-body{
            padding-left: calc(15% + 5px);
        }
    }

    @media screen and (min-height: 360px) and (max-height: 450px) {
        .div-add-comment, .div-add-reply{
            grid-template-columns: 4% 96%;
        }

        .div-user{
            grid-template-columns: 6% 94%;
        }

        .div-body{
            padding-left: calc(6% + 5px);
        }
    }

    @media screen and (max-height: 320px){
        .fb-page.second{
            display: none;
        }
    
        .fb-page.third{
            display: grid;
        }
    }

    @media screen and (max-width: 450px) and (min-width: 361px){
        .fb-page.second{
            display: none;
        }
    
        .fb-page.fourth{
            display: grid;
        }
    }

    @media screen and (max-width: 360px){
        .fb-page.second{
            display: none;
        }
    
        .fb-page.fifth{
            display: grid;
        }
    }
}