{% extends "search/userbase.html" %}
{% load static %}

{% block title %} 
    <title>Future Cruise : {{currentCourse.course}}</title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user/basePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/coursePage.css' %}">
{% endblock %}

{% block content %}
    <div class="main-div">
        <h1 class="course-header">{{currentCourse.course}}</h1>
        <div class="count course-rating">
            <p>{{currentCourse.rating}}</p>
        </div>
        <div class="count course-bookmark">
            <p>Bookmark</p>
        </div>
        <div class="count views-count">
            <p>Jumlah bookmark</p>
        </div>

        <div class="info-container">
            <!-- Tab links -->
            <div class="info-tab">
                <button class="tablinks" onclick="openTab(event, 'Overview')" id="defaultOpenInfo">Ringkasan</button>
                <button class="tablinks" onclick="openTab(event, 'University')">Universiti</button>
                <button class="tablinks" onclick="openTab(event, 'Job')">Kerjaya</button>
                <button class="tablinks" onclick="openTab(event, 'Statistics')">Analisis</button>
            </div>
            
            <!-- Tab content -->
            <div id="Overview" class="tabcontent">
                <div class="course-container about">
                    <h3 class="about-title">Pengenalan Kursus</h3>
                    <p class="about-desc">{{currentCourse.description}}</p>
                </div>
                <div class="course-container detail">
                    <h3 class="detail-title">Butiran Kursus</h3>
                    <p class="detail1">Peringkat pengajian:</p>
                    <p class="input">{{currentCourse.studyLevel}}</p>

                    <p class="detail2">Bahasa Utama Kursus:</p>
                    <p class="input">{{currentCourse.langguage}}</p>

                    <p class="detail3">Purata Tempoh Kursus:</p>
                    <p class="input">{{currentCourse.avgDuration}}</p>

                    <p class="detail4">Bayaran Purata Kursus:</p>
                    <p class="input">{{currentCourse.avgFee}}</p>

                    <p class="detail5">Keperluan Am Kemasukan:</p>
                    <p class="input">{{currentCourse.requirement}}</p>
                </div>
            </div>
            
            <div id="University" class="tabcontent">
                <div class="course-container uniList">
                    <h3 class="uniList-title">Pilihan Universiti</h3>
                    {% for currUni in uniCourseBridge %}
                        {% for u in uni %}
                            {% if u.id == currUni.university_id %}
                                <div class="uniList-container">
                                    <p><a class="uniOffer" href="{{currUni.linkUni}}">{{u.uni}}</a></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %} 
                </div>
            </div>

            <div id="Job" class="tabcontent">
                <div class="course-container jobList">
                    <h3 class="jobList-title">Kerjaya Berkaitan</h3>
                    {% for currJob in jobCourseBridge %}
                        {% for j in job %}
                            {% if j.id == currJob.job_id %}
                                <div class="jobList-container">
                                    <p><a class="jobOffer" href="{% url 'search:job-page' user_type user_id j.id %}">{{j.job}}</a></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %} 
                </div>
            </div>

            <div id="Statistics" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">

    document.getElementById("defaultOpenInfo").click();

    function openTab(evt, infoTab) {
        // Declare all variables
        var i, tabcontent, tablinks;
    
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }
    
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
    
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(infoTab).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock %}