{% extends "search/userbase.html" %}
{% load static %}

{% block title %} 
    <title>Future Cruise : {{currentUni.uni}}</title> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user/basePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/uniPage.css' %}">
{% endblock %}

{% block content %}
    <div class="main-div">
        <h1 class="uni-header">{{currentUni.uni}}</h1>
        <div class="count uni-rating">
            <p>{{currentUni.rating}}</p>
        </div>
        <div class="count uni-bookmark">
            <p>Bookmark</p>
        </div>
        <div class="count views-count">
            <p>Jumlah bookmark</p>
        </div>
        <!-- <div class="count bookmark-count">
            <p>Kiraan kursus ditambah pada penanda halaman</p>
        </div> -->
        <div class="info-container">
            <!-- Tab links -->
            <div class="info-tab">
                <button class="tablinks" onclick="openTab(event, 'Overview')" id="defaultOpenInfo">Profil</button>
                <button class="tablinks" onclick="openTab(event, 'Courses')">Kursus</button>
                <button class="tablinks" onclick="openTab(event, 'Statistics')">Analisis</button>
            </div>
            
            <!-- Tab content -->
            <div id="Overview" class="tabcontent">
                <div class="uni-container about">
                    <h3 class="about-title">Pengenalan Universiti</h3>
                    <p class="about-desc">{{currentUni.description}}</p>
                </div>
                <div class="uni-container detail">
                    <h3 class="detail-title">Butiran Universiti</h3>
                    <p class="detail1">Lokasi:</p>
                    <p class="input">{{currentUni.location}}</p>

                    <p class="detail2">Jenis Institusi:</p>
                    <p class="input">{{currentUni.uniType}}</p>

                    <p class="detail3">Yuran Purata:</p>
                    <p class="input">{{currentUni.fee}}</p>

                    <p class="detail3">Purata Populasi Pelajar:</p>
                    <p class="input">{{currentUni.population}}</p>

                    <p class="detail3">Penerimaan Pelajar Antarabangsa:</p>
                    <p class="input">{{currentUni.intStudent}}</p>
                </div>
                <div class="uni-container detail">
                    <h3 class="detail-title">Maklumat Lanjut</h3>
                    <p class="contact1">Maklumat Perhubungan:</p>
                    <p class="input">{{currentUni.contactInfo}}</p>

                    <p class="contact2">Laman Web Universiti:</p>
                    <p class="input"><a class="uniPage" href="{{currentUni.linkPage}}">{{currentUni.linkPage}}</a></p>
                </div>
            </div>
            
            <div id="Courses" class="tabcontent">
                <div class="uni-container courseList">
                    <h3 class="courseList-title">Kursus yang ditawarkan</h3>
                    {% for currUni in bridge %}
                        {% for c in course %}
                            {% if c.id == currUni.course_id %}
                                <div class="courseList-container">
                                    <p><a class="courseOffer" href="{% url 'search:course-page' user_type user_id c.id %}">{{c.course}}</a></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %} 
                </div>
            </div>

            <div id="Statistics" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">

    document.getElementById("defaultOpenInfo").click();

    function openTab(evt, infoTab) {
        // Declare all variables
        var i, tabcontent, tablinks;
    
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }
    
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
    
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(infoTab).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock %}