{% extends "dashboard/baseDashboardNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Tambah Cadangan Penambahbaikan</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/addSuggestion.css' %}">
{% endblock %}

{% block content %}
    <div class="div-section-header">
        <h1>
            Tambah Cadangan Penambahbaikan
        </h1>
    </div>

    <div class="div-content-outer">
        <form action="{% url 'dashboard:add-suggestion' user_type user_id %}" class="AddSuggestionForm" method="post">
            {% csrf_token %}
            {{ form.media.js }}

            <div class="div-form-content">
                <div class="div-form-content-ind">
                    Sila masukkan tajuk cadangan anda:
                    {{ form.subject }}
                </div>

                <div class="div-form-content-ind">
                    Sila pilih kategori bagi cadangan anda:
                    {{ form.category }}
                </div>

                <div class="div-form-content-ind">
                    Sila tulis isi kandungan cadangan anda:
                    {{ form.content }}
                </div>
            </div>

            <div class="div-form-buttons">
                <button class="btn submit" type="submit">Hantar</button>
                <button class="btn back-to-nonAdminSuggestions">
                    <a class="a-for-addSuggestion" href="{% url 'dashboard:suggestions-nonadmin' user_type user_id %}">Batal</a>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        $('.p-sidebar.suggestion .p-a-sidebar').addClass('sb-active');
    </script>
{% endblock %}