{% extends "dashboard/baseDashboardNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Tambah Cadangan Penambahbaikan</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/addSuggestion.css' %}">
{% endblock %}

{% block content %}
    <div class="div-section-header">
        <h1>
            Tambah Cadangan Penambahbaikan
        </h1>
    </div>

    <div class="div-content-outer">
        
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        $('.p-sidebar.suggestion .p-a-sidebar').addClass('sb-active');
    </script>
{% endblock %}