<!-- 1 - new reply to comment/reply -->
<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-reply"></i>

    <div class="div-text">
        <!-- Temp -->
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
    </div>
</div>

<!-- Temp -->
<!-- any new comment -->
<div class="div-notif-ind unread">
    <!-- Temp -->
    <i class="far fa-comments"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
    </div>
</div>

<!-- new message -->
<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-comment-alt"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
    </div>
</div>

<!-- new suggestion -->
<div class="div-notif-ind unread">
    <!-- Temp -->
    <i class="fas fa-lightbulb"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat cadangan penambahbaikan baharu daripada pelajar/penjaga/guru (username).
        Terdapat cadangan penambahbaikan baharu daripada pelajar/penjaga/guru (username).
        Terdapat cadangan penambahbaikan baharu daripada pelajar/penjaga/guru (username).
        Terdapat cadangan penambahbaikan baharu daripada pelajar/penjaga/guru (username).
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-reply"></i>

    <div class="div-text">
        <!-- Temp -->
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="far fa-comments"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
        Terdapat komen baharu daripada pelajar/penjaga/guru (username) pada artikel (tajuk).
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-comment-alt"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-lightbulb"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat cadangan penambahbaikan baharu daripada pelajar/penjaga/guru (username).
        Terdapat cadangan penambahbaikan baharu daripada pelajar/penjaga/guru (username).
        Terdapat cadangan penambahbaikan baharu daripada pelajar/penjaga/guru (username).
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-reply"></i>

    <div class="div-text">
        <!-- Temp -->
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
    </div>
</div>
<!-- {% for notif in allNotif %} -->
<!-- {% endfor %} -->