{% extends "dashboard/baseDashboardNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise:{{ title }}</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/changePassword.css' %}">
{% endblock %}

{% block content %}
    <div class="div-section-header">
        <h1>
            Tukar Kata Laluan
        </h1>
    </div>

    <div class="div-content-outer">
        <ul class="ul-password">
            Format kata laluan yang diterima adalah mesti mengandungi PALING KURANG SATU(1):
                <li>Huruf besar: A, B, C, hingga Z</li>
                <li>Huruf kecil: a, b, c, hingga z</li>
                <li>Angka: 0, 1, 2, hingga 9</li>
                <li>Aksara khas: !, @, # dan lain-lain</li>
        </ul>

        {% if errorMessage %}
            <span class="span-error">
                {{ errorMessage }}
            </span>
        {% endif %}

        <form action="{% url 'dashboard:change-pass' user_type user_id %}" class="ChangePassword" method="post">
            {% csrf_token %}
            {{ form.media.js }}
            
            <div class="div-form-content">
                <div class="div-form-content-ind">
                    Sila masukkan kata laluan semasa:
                    {{ form.currentPass }}
                </div>

                <div class="div-form-content-ind">
                    Sila masukkan kata laluan baharu:
                    {{ form.newPass }}
                </div>

                <div class="div-form-content-ind">
                    Sila masukkan kata laluan baharu sekali lagi:
                    {{ form.newPassConfirm }}
                </div>
            </div>

            <div class="div-form-buttons">
                <button class="btn submit" type="submit">Simpan</button>
                <button class="btn back-to-showProfile">
                    <a class="a-for-changePassword" href="{% url 'dashboard:profile-settings' user_type user_id %}">Batal</a>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        $('.p-sidebar.profile-settings .p-a-sidebar').addClass('sb-active');
    </script>
{% endblock %}