{% load static %}

<div class="div-content-inner">
    <div class="div-left">
        <div class="div-search">
            <form type="get" action="." class="form-chat">
                <div class="div-search-icon">
                    <i class="fas fa-search"></i>
                </div>

                {% if search_chat %}
                    <input id="chat-user" type="text" name="pengguna-ruang-bual" placeholder="Cari nama pengguna..." value="{{ search_chat }}">
                {% else %}
                    <input id="chat-user" type="text" name="pengguna-ruang-bual" placeholder="Cari nama pengguna..."> 
                {% endif %}
            </form>
            <div class="div-search-error">
                Pengguna yang dicari tiada dalam rekod pengguna.
            </div>
        </div>
        <div class="div-chat-list">
            <!-- Test -->
            <div class="div-chat-ind">
                <div class="div-chat-name-type">
                    <span class="span-username-thumb">Pelajar A</span>
                    <button class="btn student">Pelajar</button>
                </div>
                <div class="div-chat-lastmessage">
                    <span class="span-lastmessage unread">Mesej terakhir bersama pelajar...</span>
                </div>
            </div>
            <div class="div-chat-ind">
                <div class="div-chat-name-type">
                    <span class="span-username-thumb">Penjaga A</span>
                    <button class="btn parents">Penjaga</button>
                </div>
                <div class="div-chat-lastmessage">
                    <span class="span-lastmessage no-message">Tiada sebarang mesej direkodk...</span>
                </div>
            </div>
            <div class="div-chat-ind">
                <div class="div-chat-name-type">
                    <span class="span-username-thumb">Guru A</span>
                    <button class="btn teacher">Guru</button>
                </div>
                <div class="div-chat-lastmessage">
                    <span class="span-lastmessage">Mesej terakhir bersama guru A...</span>
                </div>
            </div>
            <div class="div-chat-ind">
                <div class="div-chat-name-type">
                    <span class="span-username-thumb">Pelajar B</span>
                    <button class="btn student">Pelajar</button>
                </div>
                <div class="div-chat-lastmessage">
                    <span class="span-lastmessage unread">Mesej terakhir bersama pelajar...</span>
                </div>
            </div>
            <div class="div-chat-ind">
                <div class="div-chat-name-type">
                    <span class="span-username-thumb">Pelajar C</span>
                    <button class="btn student">Pelajar</button>
                </div>
                <div class="div-chat-lastmessage">
                    <span class="span-lastmessage unread">Mesej terakhir bersama pelajar...</span>
                </div>
            </div>

            <!-- {% for user in allUsers %}
                <div class="div-chat-ind">
                    <div class="div-chat-name-type">
                        {% if 'S' in user.ID %}
                            {% for student in allStudents %}
                                {% if student.ID == user.ID %}
                                    <span class="span-username-thumb">{{ student.name }}</span>
                                {% endif %}
                            {% endfor %}
                            <button class="btn student">Pelajar</button>
                        {% elif 'P' in user.ID %}
                            {% for parent in allParents %}
                                {% if parent.ID == user.ID %}
                                    <span class="span-username-thumb">{{ parent.name }}</span>
                                {% endif %}
                            {% endfor %}
                            <button class="btn parents">Penjaga</button>
                        {% elif 'T' in user.ID %}
                            {% for teacher in allTeachers %}
                                {% if teacher.ID == user.ID %}
                                    <span class="span-username-thumb">{{ teacher.name }}</span>
                                {% endif %}
                            {% endfor %}
                            <button class="btn teacher">Guru</button>
                        {% endif %}
                    </div>
                    <div class="div-chat-lastmessage">
                        {% if user.ID in chatUserList %}
                            {% for chat in allDistinctChatUsers %}
                                {% if user.ID == chat.recipientID %}
                                    {% if chat.isRead == False %}
                                        <span class="span-lastmessage unread">{{ chat.bodyText }}|truncatechars:30</span>
                                    {% else %}
                                        {{ chat.bodyText }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <span class="span-lastmessage no-message">Tiada sebarang mesej direkodkan bersama pengguna ini.</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %} -->
        </div>
    </div>

    <div class="div-right">
        <!-- Test -->
        <div class="div-chat-title">
            <span class="span-username-thumb title">Pelajar A namanamanama</span>
            <button class="btn student title">Pelajar</button>
        </div>
        <div class="div-chat-content">
            <div class="div-message-ind sent">
                Assalamualaikum
                <br>
                <span class="span-datetime">
                    28/01/2022, 12:55 PM
                </span>
            </div>
            <div class="div-message-ind received">
                Waalaikumussalam
                <br>
                <span class="span-datetime">
                    28/01/2022, 12:56 PM
                </span>
            </div>
            <div class="div-message-ind sent">
                Ini Cikgu Zaid, guru kaunseling dari SMK Damansara Damai 1.
                <br>
                <span class="span-datetime">
                    28/01/2022, 12:57 PM
                </span>
            </div>
            <div class="div-message-ind sent">
                Cikgu ingin berbincang dengan awak tentang perancangan kerjaya awak.
                <br>
                <span class="span-datetime">
                    28/01/2022, 12:57 PM
                </span>
            </div>
            <div class="div-message-ind sent">
                Cikgu ingin berbincang dengan awak tentang perancangan kerjaya awak.
                <br>
                <span class="span-datetime">
                    28/01/2022, 12:57 PM
                </span>
            </div>
        </div>
        <div class="div-chat-write">
            <form type="get" action="." class="form-send">
                <input id="chat-message" type="text" name="mesej" placeholder="Tulis mesej anda...">
            </form>
            <button class="btn send-message">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>

        <!-- <div class="div-initial">
            <div class="div-initial-img-text">
                <img class="img-initial" src="{% static 'images/interaction.svg' %}"/>
                <div class="div-text">
                    Mulakan interaksi bersama pengguna lain dengan mencari nama mereka dan menghantar mesej kepada mereka.
                </div>
            </div>
            <div class="div-initial-credit">
                <span style="word-break: break-all;">
                    Ikon di atas dikreditkan kepada
                    <span>
                        <a class="a-link" href="https://www.svgrepo.com/svg/341482/interaction-browser-internet-website-dashboard-seo-optimization">
                            https://www.svgrepo.com/svg/341482/interaction-browser-internet-website-dashboard-seo-optimization
                        </a>
                    </span>
                </span>
            </div>
        </div> -->

        <!-- {% if chosenRecipient %}
            <div class="div-chat-title">
                <span class="span-username-thumb title">{{ chosenRecipient.name }}</span>
                {% if 'S' in chosenRecipient.ID %}
                    <button class="btn student title">Pelajar</button>
                {% elif 'P' in chosenRecipient.ID %}
                    <button class="btn parents title">Penjaga</button>
                {% elif 'T' in chosenRecipient.ID %}
                    <button class="btn teacher title">Guru</button>
                {% endif %}
            </div>

            <div class="div-chat-content">
                {% for message in currentChatMessages %}
                    {% if message.creatorID.ID == 'A1' %}
                        <div class="div-message-ind sent">
                            {{ message.bodyText }}
                            <br>
                            <span class="span-datetime">
                                {{ message.dateTimeSent|date:"d/m/Y, h:i A" }}
                            </span>
                        </div>
                    {% else %}
                        <div class="div-message-ind received">
                            {{ message.bodyText }}
                            <br>
                            <span class="span-datetime">
                                {{ message.dateTimeSent|date:"d/m/Y, h:i A" }}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="div-chat-write">
                <form type="get" action="." class="form-send">
                    <input id="chat-message" type="text" name="mesej" placeholder="Tulis Mesej anda...">
                </form>
                <button class="btn send-message">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        {% else %}
            <div class="div-initial">
                <div class="div-initial-img-text">
                    <img class="img-initial" src="{% static 'images/interaction.svg' %}"/>
                    <div class="div-text">
                        Mulakan interaksi bersama pengguna lain dengan mencari nama mereka dan menghantar mesej kepada mereka.
                    </div>
                </div>
                <div class="div-initial-credit">
                    <span style="word-break: break-all;">
                        Ikon di atas dikreditkan kepada
                        <span>
                            <a class="a-link" href="https://www.svgrepo.com/svg/341482/interaction-browser-internet-website-dashboard-seo-optimization">
                                https://www.svgrepo.com/svg/341482/interaction-browser-internet-website-dashboard-seo-optimization
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        {% endif %} -->
    </div>
</div>