{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/dashboardIndex.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Cruise: Dashboard{{ dashboardNav }}</title>
</head>
<body>
    <center>
        <div class="div-navbar">
            <div class="div-navbar-left">
                <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url test user_type user_id %}">Ujian Kerjaya</a></p>
                <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url blog user_type user_id%}">Blog Berita</a></p>
                {% if user_type == 'pelajar' %}
                    <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url quiz user_id %}">Permainan Kuiz</a></p>
                {% endif %}
                <p class="p-navbar no-icon"><a class="p-a-navbar" href="{% url search user_type user_id %}">Carian Maklumat</a></p>
                <p class="p-navbar no-icon"><a class="p-a-navbar active" href="{% url dashboard user_type user_id %}">
                    <span style="font-style: italic;">Dashboard</span>
                    <span>{{ dashboardNav }}</span></a>
                </p>

                <!-- mobile -->
                <p class="p-navbar icon"><a class="p-a-navbar" href="{% url test user_type user_id %}">
                    <i class="fas fa-edit"></i>
                </a></p>
                <p class="p-navbar icon"><a class="p-a-navbar" href="{% url blog user_type user_id%}">
                    <i class="fas fa-blog"></i>
                </a></p>
                {% if user_type == 'pelajar' %}
                    <p class="p-navbar icon"><a class="p-a-navbar" href="{% url quiz user_id %}">
                        <i class="fas fa-gamepad"></i>
                    </a></p>
                {% endif %}
                <p class="p-navbar icon"><a class="p-a-navbar" href="{% url search user_type user_id %}">
                    <i class="fas fa-search"></i>
                </a></p>
                <p class="p-navbar icon"><a class="p-a-navbar active" href="{% url dashboard user_type user_id %}">
                    <i class="fas fa-user"></i>
                </a></p>
            </div>

            <div class="div-navbar-right">
                <p class="p-navbar logout no-icon"><a class="p-a-navbar" href="{% url logout user_id %}">Log Keluar</a></p>
                <p class="p-navbar username no-icon"><a class="p-a-navbar" href="{% url dashboard user_type user_id %}">{{ username }}</a></p>

                <!-- mobile -->
                <p class="p-navbar logout icon"><a class="p-a-navbar" href="{% url logout user_id %}">
                    <i class="fas fa-sign-out-alt"></i>
                </a></p>
                <p class="p-navbar username icon"><a class="p-a-navbar" href="{% url dashboard user_type user_id %}">{{ username }}</a></p>
            </div>
        </div>

        <h1>
            <span style="font-style: italic;">Future Cruise</span>
            :
            <span style="font-style: italic;"> Dashboard</span>
            <span>{{ dashboardNav }}</span>
        </h1>
            <!--
                <h2>{{ response }}
                <span style="font-style: italic;">Dashboard</span>
                <span>{{ dashboardNav }}</span>
            </h2>
            -->
            <button class="btn settings">
                <a class="a-settings-for-dashboardIndex" href="{% url profile user_type user_id %}">Tetapan Akaun</a>
            </button>
            <p></p>
            <button class="btn bookmark">
                <a class="a-bookmark-for-dashboardIndex" href="{% url bookmark user_type user_id %}">Penanda Isi Kandungan Portal</a>
            </button>
            <p></p>
            <button class="btn report">
                <a class="a-report-for-dashboardIndex" href="{% url report user_id%}">Laporan Visual</a>
            </button>
            <p></p>
            <button class="btn chat">
                <a class="a-chat-for-dashboardIndex" href="{% url chat user_id%}">Mesej bersama Guru Kaunseling</a>
            </button>
            <p></p>
            <button class="btn suggestion">
                <a class="a-suggestion-for-dashboardIndex" href="{% url suggestion user_type user_id %}">Cadangan Penambahbaikan</a>
            </button>
    </center>
</body>
</html>