{% load static %}
<link rel="stylesheet" href="{% static 'css/baseHome.css' %}">
<link rel="stylesheet" href="{% static 'css/logoutConfirm.css' %}">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Future Cruise: Log Keluar</title>
        <style>
            body {
                /* background-image: url("{% static 'images/homepage/2-space.jpg' %}"); */
                background-image: url("{% static 'images/homepage/4-yellow_bg_2.png' %}");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
                background-position: 50% 50%;
            }
        </style>

        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    </head>
    <body>
        <center>
            <div class="div-outer">
                <div class="div-main-header">
                    <h1>
                        <span style="font-style: italic;">Future Cruise</span>
                        <span>: Log Keluar</span>
                    </h1>
                </div>

                <div class="div-confirm">
                    <span class="span-username">{{ username }}</span>
                    <span>, anda ingin teruskan log keluar?</span>
                </div>

                <div class="div-buttons">
                    <button class="btn">
                        <a class="a-for-logoutConfirm" href="{% url 'dashboard:logging-out' user_id %}">Ya</a>
                    </button>
                    <button class="btn cancel" type="button" onclick="javascript:history.back()">Kembali</button>
                </div>
            </div>
        </center>
    </body>
</html>