{% if allPostBookmarks %}
    <table class="table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tajuk</th>
                <th>Tarikh Penanda Ditambah</th>
                <th>Buang</th>
            </tr>
        </thead>
        <tbody>
            {% for bookmark in allPostBookmarks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a class="a-with-underline" href="{% url 'blog:view-post' user_type user_id bookmark.blogPostID.id %}">
                            {{ bookmark.blogPostID.title }}
                        </a>
                    </td>
                    <td>{{ bookmark.dateTimeAdded |date:"d/m/Y, h:i A" }}</td>
                    <td>
                        <button class="btn delete" value="post-{{ bookmark.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table-2">
        <thead>
            <tr>
                <th>Penanda</th>
                <th>Buang</th>
            </tr>
        </thead>
        <tbody>
            {% for bookmark in allPostBookmarks %}
                <tr>
                    <td>
                        <a class="a-with-underline" href="{% url 'blog:view-post' user_type user_id bookmark.blogPostID.id %}">
                            {{ bookmark.blogPostID.title }}
                        </a>
                        <br>
                        {{ bookmark.dateTimeAdded |date:"d/m/Y, h:i A" }}
                    </td>
                    <td style="text-align: center;">
                        <button class="btn delete" value="post-{{ bookmark.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="div-no-bookmark">
        Tiada penanda dijumpai.
    </div>
{% endif %}