{% if allInfoBookmarks %}
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Maklumat</th>
                <th>Kategori</th>
                <th>Tarikh Penanda Ditambah</th>
                <th>Buang</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for bookmark in allInfoBookmarks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ bookmark.infoID.title }}</td>
                    <td>{{ bookmark.categoryID.name }}</td>
                    <td>{{ bookmark.dateTimeAdded }}|date:"d/m/Y, h:i A"</td>
                    <td>
                        <button class="btn delete" value="info-{{ bookmark.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %} -->
        </tbody>
    </table>
{% else %}
    <div class="div-no-bookmark">
        Tiada penanda dijumpai.
    </div>
{% endif %}