<!-- 1 - new reply to comment/reply -->
<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-reply"></i>

    <div class="div-text">
        <!-- Temp -->
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
    </div>
</div>

<!-- Temp -->
<!-- new message from admin -->
<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-comment-alt"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat mesej baharu daripada admin.
        Terdapat mesej baharu daripada admin.
        Terdapat mesej baharu daripada admin.
        Terdapat mesej baharu daripada admin.
    </div>
</div>

<!-- suggestion status changed -->
<div class="div-notif-ind unread">
    <!-- Temp -->
    <i class="fas fa-lightbulb"></i>

    <div class="div-text">
        <!-- Temp -->
        Status terkini cadangan penambahbaikan anda: Sedang Diproses.
        Status terkini cadangan penambahbaikan anda: Sedang Diproses.
        Status terkini cadangan penambahbaikan anda: Sedang Diproses.
        Status terkini cadangan penambahbaikan anda: Sedang Diproses.
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-comment-alt"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat mesej baharu daripada admin.
        Terdapat mesej baharu daripada admin.
        Terdapat mesej baharu daripada admin.
        Terdapat mesej baharu daripada admin.
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-reply"></i>

    <div class="div-text">
        <!-- Temp -->
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
        Komen anda pada artikel (tajuk) menerima balasan daripada pelajar (username).
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-comment-alt"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
    </div>
</div>

<div class="div-notif-ind unread">
    <!-- Temp -->
    <i class="fas fa-lightbulb"></i>

    <div class="div-text">
        <!-- Temp -->
        Status terkini cadangan penambahbaikan anda: Ditutup.
        Status terkini cadangan penambahbaikan anda: Ditutup.
        Status terkini cadangan penambahbaikan anda: Ditutup.
        Status terkini cadangan penambahbaikan anda: Ditutup.
    </div>
</div>

<div class="div-notif-ind">
    <!-- Temp -->
    <i class="fas fa-comment-alt"></i>

    <div class="div-text">
        <!-- Temp -->
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
        Terdapat mesej baharu daripada pelajar/penjaga/guru (username).
    </div>
</div>
<!-- {% for notif in allNotif %} -->
<!-- {% endfor %} -->