<p class="p-filteredFormID-parent" style="display: none;">{{ filtered_form_parent.id }}</p>
<p class="p-filteredStudentID" style="display: none;">{{ filtered_student_record.ID.ID }}</p>
<p class="p-filteredParentID" style="display: none;">{{ filtered_student_record.parentID.ID }}</p>

<div class="div-filter-eng">
    <form type="get" action="." class="form-parent-eng">
        <label for="student-form-parent">Pilih tingkatan:</label>
        <select name="tingkatan" id="student-form-parent">
            {% if filtered_form_parent %}
                <option value="0" selected="selected">Semua</option>
                {% for form in allForms %}
                    {% if filtered_form_parent.id == form.id %}
                        {% if form.name == 'NA' %}
                            <option value="{{ form.id }}" selected="selected">Tidak dikemaskini</option>
                        {% else %}
                            <option value="{{ form.id }}" selected="selected">{{ form.name }}</option>
                        {% endif %}
                    {% else %}
                        {% if form.name == 'NA' %}
                            <option value="{{ form.id }}">Tidak dikemaskini</option>
                        {% else %}
                            <option value="{{ form.id }}">{{ form.name }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <option value="0" selected="selected">Semua</option>
                {% for form in allForms %}
                    {% if form.name == 'NA' %}
                        <option value="{{ form.id }}">Tidak dikemaskini</option>
                    {% else %}
                        <option value="{{ form.id }}">{{ form.name }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>

        <label for="student-name">Pilih pelajar:</label>
        <select name="nama-pelajar" id="student-name">
            {% if has_filtered_student == True %}
                <option value="1">Semua</option>
                {% for student in allStudents %}
                    {% if student.ID.ID == filtered_student_record.ID.ID %}
                        {% if student.name != 'NA' %}
                            <option value="{{ student.ID.ID }}" selected="selected">{{ student.name }}</option>
                        {% else %}
                            <option value="{{ student.ID.ID }}" selected="selected">{{ student.ID.username }}</option>
                        {% endif %}
                    {% else %}
                        {% if student.name != 'NA' %}
                            <option value="{{ student.ID.ID }}">{{ student.name }}</option>
                        {% else %}
                            <option value="{{ student.ID.ID }}">{{ student.ID.username }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if allStudentsCnt > 0 %}
                    <option value="1" selected="selected">Semua</option>
                    {% for student in allStudents %}
                        {% if has_filtered_form == False %}
                            {% if student.name != 'NA' %}
                                <option value="{{ student.ID.ID }}" disabled>{{ student.name }}</option>
                            {% else %}
                                <option value="{{ student.ID.ID }}" disabled>{{ student.ID.username }}</option>
                            {% endif %}
                        {% else %}
                            {% if student.name != 'NA' %}
                                <option value="{{ student.ID.ID }}">{{ student.name }}</option>
                            {% else %}
                                <option value="{{ student.ID.ID }}">{{ student.ID.username }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <option value="0">Tiada</option>
                {% endif %}
            {% endif %}
        </select>
    </form>
</div>

{% if allStudentsCnt > 0 %}
    {% if allStudentsCnt == 1 %}
        <div class="div-parent-details">
            <span class="span-parent-bold">
                Nama penjaga: 
            </span>
            <span class="span-parent-no-bold">
                {% if filtered_student_record.parentID.name == 'Tidak Dikemaskini' %}
                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                {% elif filtered_student_record.parentID.name == 'Tidak didaftar'  %}
                    <span style="color: rgb(207, 61, 61); font-style: italic;">Maklumat penjaga pelajar ini tidak didaftar di dalam sistem</span>
                {% else %}
                    {{ filtered_student_record.parentID.name }}
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="div-parent-details-table">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tingkatan</th>
                        <th>Nama Penjaga</th>
                        <th>Nama Pelajar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in allStudents %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {% if student.studentClass.className != 'NA' %}
                                    {{ student.studentClass.className }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if student.parentID.name == 'Tidak Dikemaskini' %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% elif student.parentID.name == 'Tidak didaftar' %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak didaftar</span>
                                {% else %}
                                    {{ student.parentID.name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if student.name != 'NA' %}
                                    {{ student.name }}
                                {% else %}
                                    {{ student.ID.username }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}

<span class="span-note" style="font-style: italic;">Statistik di bawah hanya memaparkan data untuk penjaga berdaftar dan yang namanya tidak dikemaskini sahaja.</span>

{% if allStudentsCnt > 0 %}
    <div class="div-grid-eng">
        <article id="TotalBlogViews">
            <div class="div-header">
                Jumlah Bacaan Artikel Blog
            </div>
            <div class="div-data">
                <div class="div-data-value">
                    {{ viewsCnt }}
                </div>
                <div class="div-data-subtitle">
                    bacaan
                </div>
            </div>
        </article>
        <article id="TotalBlogComments">
            <div class="div-header">
                Jumlah Komen Artikel Blog
            </div>
            <div class="div-data">
                <div class="div-data-value">
                    {{ commentsCnt }}
                </div>
                <div class="div-data-subtitle">
                    komen
                </div>
            </div>
        </article>
        <article id="TotalBookmarks">
            <div class="div-header">
                Jumlah Penanda Isi Kandungan
            </div>
            <div class="div-data">
                <div class="div-data-value">
                    {{ bookmarkCnt }}
                </div>
                <div class="div-data-subtitle">
                    penanda
                </div>
            </div>
        </article>
        <article id="TotalSuggestions">
            <div class="div-header">
                Jumlah Cadangan Penambahbaikan
            </div>
            <div class="div-data">
                <div class="div-data-value">
                    {{ suggestionCnt }}
                </div>
                <div class="div-data-subtitle">
                    cadangan
                </div>
            </div>
        </article>
        <article id="LastChatTime">
            <div class="div-header">
                Mesej Ruang Bual Kaunseling Terkini
            </div>
            <div class="div-data">
                <div class="div-data-value">
                    {% if lastChatTime != 0 %}
                        {{ lastChatTime|date:"d/m/Y, h:iA" }}
                    {% else %}
                        Tiada rekod mesej dijumpai
                    {% endif %}
                </div>
            </div>
        </article>
    </div>

    <div class="div-buttons">
        <button id="downloadPDF" class="btn download">Muat turun PDF</button>
    </div>
{% else %}
    <div class="div-no-student">
        Tiada pelajar berdaftar bagi tingkatan {{ filtered_form_parent.name }}.
    </div>
{% endif %}