{% extends "dashboard/baseDashboardNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise: Notifikasi</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/nonAdminNotif.css' %}">
{% endblock %}

{% block content %}
    <div class="div-section-header">
        <h1>
            Notifikasi
        </h1>
    </div>

    <div class="div-content-outer">
        {% include 'dashboard/nonAdminNotifContent.html' %}
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        $('.p-sidebar.notification .p-a-sidebar').addClass('sb-active');

        $('.unread').on('click', '.a-for-linkto', function(){
            alert("notifID: " + $(this).attr("id")); // Test

            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: "{% url 'dashboard:index-nonadmin' user_type user_id %}",
                data: {
                    'notifID': $(this).attr("id"),
                    'requestType': 'updateNotifStatus'
                },
                type: 'POST',
                dataType: 'json',
                success: function(result) {
                    alert("updateNotifStatus: success"); // Test

                    $('.p-unreadNotifCnt').text(result.unreadNotifCnt);

                    alert("updated unreadNotifCnt: " + parseInt($('.p-unreadNotifCnt').text())); // Test

                    checkUnreadNotifCnt();
                },
                error: function(result) {
                    alert("updateNotifStatus: error"); // Test
                }
            })
        });
    </script>
{% endblock %}