{% extends "dashboard/baseDashboardNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise:{{ title }}</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/showProfile.css' %}">
{% endblock %}

{% block content %}
    <div class="div-section-header">
        <h1>
            {{ subtitle }}
        </h1>
    </div>

    <div class="div-content-outer">
        {% if user_type == "pelajar" %}
            <div class="div-privacy-outer">
                <div class="div-privacy-header">
                    Maklumat Privasi Utama
                </div>

                <div class="div-privacy-content">
                    <table>
                        <tr>
                            <th>Nama Panggilan</th>
                            <td>{{ username }}</td>
                        </tr>
                        <tr>
                            <th>Alamat Emel</th>
                            <td>{{ userDetail.email }}</td>
                        </tr>
                    </table>
                </div>

                <div class="div-privacy-buttons">
                    <button class="btn change-pass">
                        <a class="a-for-showProfile" href="{% url 'dashboard:change-pass' user_type user_id %}">Tukar Kata Laluan</a>
                    </button>
                </div>
            </div>

            <div class="div-profile-outer">
                <div class="div-profile-header">
                    Biodata Pelajar
                </div>

                <div class="div-profile-content">
                    <table>
                        <tr>
                            <th>Nama Penuh</th>
                            <td>
                                {% if userDetail.name != 'NA' %}
                                    {{ userDetail.name }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Tahun</th>
                            <td>{{ userDetail.year }}</td>
                        </tr>
                        <tr>
                            <th>Kelas</th>
                            <td>
                                {% if userDetail.studentClass.className != 'NA' %}
                                    {{ userDetail.studentClass.className }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Nama Guru Kelas</th>
                            <td>
                                {% if userDetail.studentClass.teacherID.name != 'NA' %}
                                    {{ userDetail.studentClass.teacherID.name }}
                                    |
                                    {% if userDetail.studentClass.teacherID.ID.isActive == True %}
                                        <span style="color: rgb(41, 165, 41); font-style: italic;">
                                            <i class="fas fa-circle"></i>
                                            Aktif
                                        </span>
                                    {% else %}
                                        <span style="color: rgb(207, 61, 61); font-style: italic;">
                                            <i class="fas fa-circle"></i>
                                            Tidak Aktif
                                        </span>
                                    {% endif %}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Bidang Kerjaya yang Diminati</th>
                            <td>
                                {% if userDetail.interest != 'NA' %}
                                    {{ userDetail.interest }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Nama Penjaga</th>
                            <td>
                                {% if userDetail.parentID.name != 'Tidak didaftar' %}
                                    {% if userDetail.parentID.name == 'Tidak Dikemaskini' %}
                                        <span style="color: rgb(207, 61, 61); font-style: italic; ">Tidak dikemaskini. Sila pastikan penjaga anda memasukkan nama penuh mereka pada biodata mereka.</span>
                                    {% else %}
                                        {{ userDetail.parentID.name }}
                                        |
                                        {% if userDetail.parentID.ID.isActive == True %}
                                            <span style="color: rgb(41, 165, 41); font-style: italic;">
                                                <i class="fas fa-circle"></i>
                                                Aktif
                                            </span>
                                        {% else %}
                                            <span style="color: rgb(207, 61, 61); font-style: italic;">
                                                <i class="fas fa-circle"></i>
                                                Tidak Aktif
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic; ">Maklumat penjaga anda tidak didaftar di dalam sistem</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="div-profile-buttons">
                    <button class="btn edit-profile">
                        <a class="a-for-showProfile" href="{% url 'dashboard:edit-profile' user_type user_id %}">Kemaskini Biodata</a>
                    </button>
                </div>
            </div>
        {% elif user_type == "penjaga" %}
            <div class="div-privacy-outer">
                <div class="div-privacy-header">
                    Maklumat Privasi Utama
                </div>

                <div class="div-privacy-content">
                    <table>
                        <tr>
                            <th>Nama Panggilan</th>
                            <td>{{ username }}</td>
                        </tr>
                        <tr>
                            <th>Alamat Emel</th>
                            <td>{{ userDetail.email }}</td>
                        </tr>
                    </table>
                </div>

                <div class="div-privacy-buttons">
                    <button class="btn change-pass">
                        <a class="a-for-showProfile" href="{% url 'dashboard:change-pass' user_type user_id %}">Tukar Kata Laluan</a>
                    </button>
                </div>
            </div>

            <div class="div-profile-outer">
                <div class="div-profile-header">
                    Biodata Penjaga
                </div>

                <div class="div-profile-content">
                    <table>
                        <tr>
                            <th>Nama Penuh</th>
                            <td>
                                {% if userDetail.name != 'Tidak Dikemaskini' %}
                                    {{ userDetail.name }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Gelaran</th>
                            <td>
                                {% if userDetail.salutation != 'NA' %}
                                    {{ userDetail.salutation }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Umur</th>
                            <td>
                                {% if userDetail.age != 'NA' %}
                                    {{ userDetail.age }} tahun
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Pekerjaan</th>
                            <td>
                                {% if userDetail.job != 'NA' %}
                                    {{ userDetail.job }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Bilangan jagaan yang bersekolah di SMK Damansara Damai 1</th>
                            <td>
                                {% if studentDetailCount %}
                                    <a class="a-with-underline" id="parent-student-list">{{ studentDetailCount }} orang</a>
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tiada pelajar yang berdaftar sebagai jagaan anda di dalam sistem ini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hubungan dengan Pelajar</th>
                            <td>
                                {% if userDetail.relation != 'NA' %}
                                    {{ userDetail.relation }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="div-profile-buttons">
                    <button class="btn edit-profile">
                        <a class="a-for-showProfile" href="{% url 'dashboard:edit-profile' user_type user_id %}">Kemaskini Biodata</a>
                    </button>
                </div>
            </div>
        {% elif user_type == "guru" %}
            <div class="div-privacy-outer">
                <div class="div-privacy-header">
                    Maklumat Privasi Utama
                </div>

                <div class="div-privacy-content">
                    <table>
                        <tr>
                            <th>Nama Panggilan</th>
                            <td>{{ username }}</td>
                        </tr>
                        <tr>
                            <th>Alamat Emel</th>
                            <td>{{ userDetail.email }}</td>
                        </tr>
                    </table>
                </div>

                <div class="div-privacy-buttons">
                    <button class="btn change-pass">
                        <a class="a-for-showProfile" href="{% url 'dashboard:change-pass' user_type user_id %}">Tukar Kata Laluan</a>
                    </button>
                </div>
            </div>

            <div class="div-profile-outer">
                <div class="div-profile-header">
                    Biodata Guru
                </div>

                <div class="div-profile-content">
                    <table>
                        <tr>
                            <th>Nama Penuh</th>
                            <td>
                                {% if userDetail.name != 'NA' %}
                                    {{ userDetail.name }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Gelaran</th>
                            <td>
                                {% if userDetail.salutation != 'NA' %}
                                    {{ userDetail.salutation }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Jawatan di Sekolah</th>
                            <td>
                                {% if userDetail.role != 'NA' %}
                                    {{ userDetail.role }}
                                {% else %}
                                    <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Tahun Semasa</th>
                            <td>{{ userDetail.year }}</td>
                        </tr>
                        {% if userDetail.role == "Guru Kelas" %}
                            <tr>
                                <th>Kelas</th>
                                <td>
                                    {% if userDetail.homeroomClass != 'NA' %}
                                        {{ userDetail.homeroomClass }}
                                    {% else %}
                                        <span style="color: rgb(207, 61, 61); font-style: italic;">Tidak dikemaskini</span>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th>Bilangan pelajar di dalam kelas  {{ userDetail.homeroomClass }}</th>
                                <td>
                                    {% if studentDetail %}
                                        <a class="a-with-underline" id="teacher-student-list">{{ studentDetailCount }} orang</a>
                                    {% else %}
                                        <span style="color: rgb(207, 61, 61); font-style: italic;">Tiada pelajar  berdaftar di kelas ini</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

                <div class="div-profile-buttons">
                    <button class="btn edit-profile">
                        <a class="a-for-showProfile" href="{% url 'dashboard:edit-profile' user_type user_id %}">Kemaskini Biodata</a>
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        $('.p-sidebar.profile-settings .p-a-sidebar').addClass('sb-active');

        $('#parent-student-list').on('click', function(){
            $('.div-bg-modal-1').css("display", "flex");
        });

        $('.close-parent-student').on('click', function(){
            $('.div-bg-modal-1').css("display", "none");
        });

        $('#teacher-student-list').on('click', function(){
            $('.div-bg-modal-2').css("display", "flex");
        });

        $('.close-teacher-student').on('click', function(){
            $('.div-bg-modal-2').css("display", "none");
        });
    </script>
{% endblock %}