{% extends "dashboard/baseDashboardNonAdmin.html" %}
{% load static %}

{% block title %}
    <title>Future Cruise:{{ title }}</title>
{% endblock %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/indexError.css' %}">
{% endblock %}

{% block content %}
    <div class="div-section-header">
        <h1>
            {{ title }}
        </h1>
    </div>

    <div class="div-content-outer">
        <h2 style="font-style: italic;">
            <i class="fas fa-check-circle"></i>
            <span class=span-success>{{ successMessage }}</span>
        </h2>

        <button class="btn back-to-showProfile">
            <a class="a-for-error" href="{% url 'dashboard:profile-settings' user_type user_id %}">Kembali ke Profil</a>
        </button>
    </div>
{% endblock %}

{% block js2 %}
    <script type="text/javascript">
        $('.p-sidebar.profile-settings .p-a-sidebar').addClass('sb-active');
    </script>
{% endblock %}