@viewport {
    width: device-width;
    height: device-height;
    zoom: 1;
    /* iniial-scale: 1.0; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
    /* border: 3px solid orange; */
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.h2a {
    color: rgb(121, 85, 118);
}

h3 {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.div-outer{
    background-color: rgba(255, 255, 255, 0.651);
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    max-height: 90vh;
    overflow: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-left: -0%;
    padding: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

/* Width <= 600px
- Smaller header font-size */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
      
    h2 {
        font-size: 20px;
    }
}