/* button */
.btn {
    border: none;
    /* background-color: rgb(121, 85, 118); */
    background-color: rgb(240, 91, 4);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    /* width: fit-content; */
    width: 100%;
    height: 100%;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    background-color: #eee;
    /* color: rgb(121, 85, 118); */
    color: rgb(240, 91, 4);
    /* box-shadow: 0 0.4rem 1.4rem 0 rgb(121, 85, 118); */
    box-shadow: 0 0.4rem 1.4rem 0 rgb(240, 91, 4);
    transition: transform 150ms;
    transform: scale(1.03);
}

/* hyperlink style */
.a-for-homeIndex {
    text-decoration: none;
    color: inherit;
}

.a-fb {
    text-decoration: none;
    color: rgb(240, 91, 4);
}

.a-fb:hover {
    font-weight: bold;
    font-style: normal;
}

/* img */
.img-logo{
    width: 50px;
    height: 50px;
}

/* div */
.div-main-header{
    /* background-color: darkseagreen; */
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.div-inner{
    /* background-color: burlywood; */
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-flow: column;
    justify-items: left;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.div-quote{
    /* background-color: darkorange; */
    position: relative;
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    padding: 0 5px;
    border-left: 3px solid gray;
    justify-items: left;
    align-items: center;
    box-sizing: border-box;
    gap: 1vw;
}

.div-buttons{
    /* background-color: darkseagreen; */
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    gap: 5px;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.div-credit {
    background-color: rgba(255, 255, 255, 0.384);
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    /* top | right | bottom | left */
    padding: 5px 20px 5px 10px;
    margin: 2vw;
    box-sizing: border-box;
    /* gap: 5px; */
    gap: 0;
    justify-content: center;
}

/* span */
.span-quote-text{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    /* color: rgb(121, 85, 118); */
    color: white;
    text-align: left;
    box-sizing: border-box;
}

.span-quote-author{
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
}

.span-credit-text{
    font-size: 16px;
    text-align: left;
    font-style: italic;
    box-sizing: border-box;
}

/* Tablet & mobile vertical
- all div width 90%
- Grid inner quote & buttons to repeat 50%
- Center the quote & button divs with gap for inner div, width 90% and margin-left for quote
- Change gap/padding/margin from vw to px */
@media screen and (max-width: 930px) {
    .btn {
        width: 100%;
        border-radius: 5px;
    }
    
    .div-outer{
        width: 90%;
    }

    .div-main-header{
        width: 90%;
    }

    .div-inner{
        grid-template-columns: repeat(2, 50%);
        padding: 0 5px;
        gap: 10px;
    }

    .div-quote{
        width: 90%;
        gap: 10px;
        margin-left: 10%;
    }
    
    .div-buttons{ 
        width: 90%;
        gap: 10px;
    }

    .div-credit{
        width: 90%;
        margin: 20px;
    }
}

/* Mobile vertical OR horizontal
- Follow layout from previous media query
- Horizontal - outer div relative 
- Font size to 12px */
@media screen and (max-width: 450px), (max-height: 450px) {
    .btn {
        font-size: 12px;
    }
    
    .span-quote-text, .span-quote-author, .span-credit-text{
        font-size: 12px;
    }

    .div-buttons{
        gap: 5px;
    }

    @media screen and (max-width: 450px) {
        .div-credit{
            gap: 5px;
        }
    
        .span-credit-text{
            text-align: justify;
        }
    }

    @media screen and (max-height: 450px) {
        .div-outer{
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto;
            transform: none;
            height: fit-content;
        }

        .div-credit{
            width: fit-content;
        }
    }
}