/* button */
.btn {
    border: none;
    background-color: rgb(240, 91, 4);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}  
  
/*On mouse-over*/
.btn:hover{
    background-color: #eee;
    color: rgb(240, 91, 4);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(240, 91, 4);
    transition: transform 150ms;
    transform: scale(1.03);
}

.cancel {
    background-color: rgb(207, 61, 61);
}

.cancel:hover{
    background-color: #eee;
    color: rgb(207, 61, 61);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(207, 61, 61);
}

/* hyperlink style */
.a-for-logoutConfirm {
    text-decoration: none;
    color: inherit;
}

/* div */
.div-main-header, .div-confirm{
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.div-confirm{
    /* background-color: lightpink; */
    font-size: 16px;
    height: fit-content;
    font-weight: bold;
    text-align: center;
}

.span-username{
    color: rgb(240, 91, 4);
    font-style: italic;
}

.real{
    margin-bottom: 10px;
}

.div-buttons{
    /* background-color: darkseagreen; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: column;
    gap: 1vw;
    width: 40%;
    height: fit-content;
    align-items: center;
    justify-items: center;
    margin: 2vw auto 1vw;
    position: relative;
    box-sizing: border-box;
}

/* Tablet & mobile vertical
- outer div width 90%
- Change gap/padding/margin from vw to px
- buttons width 100% */
@media screen and (max-width: 930px) {
    .div-outer{
        width: 90%;
    }

    .btn{
        border-radius: 5px;
    }

    .div-buttons{
        grid-template-columns: 100%;
        grid-auto-flow: row;
        gap: 5px;
        width: 100%;
        margin: 20px auto 10px;
    }
}

/* Mobile vertical OR horizontal
- Follow layout from previous media query
- Button font size to 12px */
@media screen and (max-width: 450px), (max-height: 450px) {
    .btn{
        font-size: 12px
    }
}