@viewport {
  width: device-width;
  height: device-height;
  zoom: 1;
}  

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(224, 224, 224);
  border-radius: 50px;
  /* border: 3px solid orange; */
}

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  color: white;
  position: relative;
  margin:0;
  /* bg color reference from studentresult.css */
  background: rgba(253, 174, 110, 0.658) 20%;
}

a {
  text-decoration: none;
}

hr {
  width: 97%;
}

.div-navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 127, 56);
  position: unset;
  top: 0;
  width: 100%;
  height: auto;
  font-family: 'Varela Round', sans-serif;
}

.div-navbar.admin{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div-navbar-left{
    max-width: 80%;
    float: left;
}

.div-navbar-right{
    position: absolute;
    max-width: 30%;
    float: right;
    right: 0;
}

.p-navbar{
    float: left;
    margin: 0;
}

.p-a-navbar{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    padding: 1vw 1.25vw;
    text-decoration: none;
}

.p-a-navbar:hover:not(.active) {
    background-color: rgb(250, 151, 37);
    border-radius: 10px;
}

.icon{
    display: none;
}
  
.active{
    background-color: rgb(250, 188, 54);
    border-radius: 10px;
}
  
.logout {
    float: right;
    background-color: rgb(207, 61, 61);
}

.div-navbar.admin .logout{
    border-radius: 10px;
}
  
.username {
    float: right;
    font-style: italic;
}

.logout:hover{
    background-color: rgb(207, 61, 61);
}

/* general search form n input*/
.container-form-search {
  border: 2px solid rgba(110, 21, 21, 0.473);
  border-radius: 10px;
  background-color: rgba(238, 152, 121, 0.781);
  padding: 10px 40px 40px 40px;
  margin: 30px 100px 40px 100px;
  /* box-shadow: 3px 3px rgba(110, 21, 21, 0.473); */
}

.search-header{
  text-align: center;
  font-size: 30px;
  color: black;
}

label{
  font-size: 20px;
  color: black;
}

input[type=search], select, textarea{
  width: 100%; /* Full width */
  border: 1px;
  padding: 12px; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 7px;
  margin-bottom: 20px; 
  resize: vertical;
}

.search-result-container{
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
  padding: 30px;
  margin: 20px 40px 20px 40px;
  color: black;
}

.search-result-container a{
  color: black;
}

.search-result-container a:hover {
  color:rgb(207, 61, 61);
}

.row1{
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: auto auto;
  margin-bottom: 25px;
}

.result-title{
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 23px;
  color: black;
  /* border: solid 3px black;   */
}

.row2{
  display: grid;
  grid-template-columns: 16% auto 16% auto;
  margin-bottom: 30px;
}

.search-details{
  font-weight: bold;
}

.row3{
  display: grid;
  grid-template-rows: auto auto;
}

.accordion{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.accordion:hover{
  background-color: rgba(0, 0, 0, 0.103);
}

.listActive{
  background-color: rgba(0, 0, 0, 0.103);
}

.panel{
  background-color: rgba(0, 0, 0, 0.103);
  border-radius: 5px;
}

li{
  list-style-type: none;
}

.btn{
  border: none;
  background-color: coral;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
}

.btn:hover{
  background: rgb(121, 85, 118);
}

.btn-search {
  background-color: rgb(253, 97, 40);
  color: white;
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: center;
}

/* admin-btn */
.btn-create {
  background-color: coral;
  padding: 5px;
  margin: 0px 50px 30px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: center;
}

.btn-update{
  background-color: coral;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: center;
}

.btn-delete{
  background-color: rgb(202, 56, 56);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: center;
}

.btn-a-delete{
  color:white;
}

.btn-delete-cancel{
  color: crimson;
  padding-right: 10px;
}

@media screen and (max-width: 1010px) {
  .div-navbar-left{
    width: 80%;
  }

  .div-navbar-right{
      width: 20%;
  }

  .div-navbar-left.admin-left{
      width: 60%;
      float: left;
  }

  .div-navbar-right.admin-right{
      width: 40%;
      float: right;
  }

  .p-a-navbar{
      padding: 5px 10px;
  }

  .no-icon{
      display: none;
  }

  .icon{
      display: flex;
  }
}

@media screen and (max-width: 450px) {
    .div-navbar-left{
        width: 70%;
    }
    
    .div-navbar-right{
        width: 30%;
    }

    .admin-right .username{
        display: none;
    }
}
